
@{
    ViewBag.Title = "airportmedia";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}
<div class="page-wrapper">
    <!-- Page Title -->
    <section class="page-title" style="background-image: url(/assets/images/background/1.jpg)">
        <div class="auto-container">
            <h2>Airport Media Advertising Agency In Lucknow</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="/advertisement/advertising-agency">Home</a></li>
                <li>Airport Media Advertising Agency</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Content Side -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="service-detail">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/resource/airport_media_ads.jpg" alt="">
                            </div>
                            <div class="lower-content">
                                <h3>Airport Media</h3>
                                <p>Airport Advertising with Buy Me Media offers a highly effective solution for advertising your brand to large numbers of viewers with high dwell time. As we know, airports are busy environments, making them a platform where you can target audiences on a global level.</p>
                                <p>Advertising in an Airport is not restricted to the inside of the airport terminal, Buy Me Media can help you to advertise to an audience that are travelling to and from the airport, airport taxis, Eurostar and billboards that display to people passing the airports.</p>
                                <h4>Start Advertising In Airports with Buy Me Media</h4>
                                <p>Contact our expert media planning and buying team today, who have been working with airports all over the world and have developed the right kind of relationships that have enabled them to get cost-effective rates on some of the most sought-after advertising spots available.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Side -->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar sticky-top">

                        <!-- Service Widget -->
                        <div class="sidebar-widget service-widget">
                            <div class="widget-content">
                                <ul class="service-list">
                                    <li><a href="/advertisement/outdoor-advertising">Outdoor Advertising</a></li>
                                    <li><a href="/advertisement/wall-wrap">Wall Wrap Ads</a></li>
                                    <li><a href="/advertisement/inshop-outdoor-branding">Inshop & Outdoor Branding</a></li>
                                    <li><a href="/advertisement/mobile-van-promotion">Mobile Van Promotion</a></li>
                                    <li><a href="/advertisement/cinema-advertising">Multiplex Advertising</a></li>
                                    <li><a href="/advertisement/auto-rickshaw-advertising">Auto Rickshaw Branding</a></li>
                                    <li><a href="/advertisement/printing-services">Printing Services</a></li>
                                    <li><a href="/advertisement/tv-advertising">TV Advertising</a></li>
                                    <li><a href="/advertisement/radio-advertising">Radio Advertising</a></li>
                                    <li><a href="/advertisement/fabrication-services">Fabrication Services</a></li>
                                    <li><a href="/advertisement/event-management">Event Management</a></li>
                                    <li><a href="/advertisement/online-marketing">Online Marketing</a></li>
                                    <li><a href="/advertisement/airport-media">Airport Media</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Timing Widget -->
                        <div class="sidebar-widget timing-widget">
                            <div class="widget-content">
                                <h3>Opening Hours</h3>
                                <ul class="time-list">
                                    <li>Monday - Saturday <span>10.00 am- 07.00 pm</span></li>
                                    <li>Sunday <span>Closed</span></li>
                                </ul>
                                <div class="button-box">
                                    <a href="/advertisement/contactus" class="theme-btn btn-style-seven">
                                        <span class="txt">Contact Us<i class="flaticon-next-2"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </div>
</div>
