@model Afluex.Models.Blog

@{
    ViewBag.Title = "CantonmentLkoMedia";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<!-- CSS Links -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">

<div class="page-wrapper">
    <!-- Page Title -->
    <section class="page-title" style="background-image: url(/assets/images/background/1.jpg)">
        <div class="auto-container">
            <h2> CANTONMENT LUCKNOW MEDIA </h2>
            <ul class="bread-crumb clearfix arrow_icon">
                <li><a href="/advertisement/advertising-agency">About Us</a></li>
                <li> CANTONMENT LUCKNOW MEDIA </li>
            </ul>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="portfolio-section" id="portfolio">
        <div class="container">
            <div class="portfolio-menu mt-5 mb-4 text-center">
                <button type="button" class="control outline" data-filter="all">All</button>
                <button type="button" class="control outline" data-filter=".unipole">Unipole / Hoarding</button>
                <button type="button" class="control outline" data-filter=".polekiosk">Pole Kiosk</button>
                <button type="button" class="control outline" data-filter=".busshelter">Bus Shelter</button>
            </div>

            <ul class="row portfolio-item"> 
                <!-- Image 1 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 1.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 1.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 2 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 2.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 2.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 3 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 3.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 3.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 4 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 4.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 4.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 5 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 5.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 5.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 6 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 6.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 6.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 7 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 7.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 7.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 8 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 8.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 8.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 9 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 9.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 9.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 10 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 10.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 10.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 11 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 11.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 11.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 12 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 12.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 12.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 13 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 13.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 13.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 14 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 14.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 14.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 15 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 15.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 15.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- H 16 -->
                <li class="mix unipole col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/H 16.jpg" alt="Unipole Hoarding" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Unipole / Hoarding</p>
                            <a data-fancybox="unipole" href="/assets/images/CantonmentMedia/H 16.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>




                <!-- Pole Kiosk (3 images) -->
                <!-- Poll_kiyosk1 to Poll_kiyosk3 -->
                <li class="mix polekiosk col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/Poll_kiyosk1.jpg" alt="Pole Kiosk" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Pole Kiosk</p>
                            <a data-fancybox="polekiosk" href="/assets/images/CantonmentMedia/Poll_kiyosk1.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="mix polekiosk col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/Poll_kiyosk2.jpg" alt="Pole Kiosk" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Pole Kiosk</p>
                            <a data-fancybox="polekiosk" href="/assets/images/CantonmentMedia/Poll_kiyosk2.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="mix polekiosk col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/Poll_kiyosk3.jpg" alt="Pole Kiosk" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Pole Kiosk</p>
                            <a data-fancybox="polekiosk" href="/assets/images/CantonmentMedia/Poll_kiyosk3.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>




                <!-- Bus Shelter (10 images) -->
                <!-- bus_shelter1 to bus_shelter10 -->
                <li class="mix busshelter col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/bus_shelter1.jpg" alt="Bus Shelter" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Bus Shelter</p>
                            <a data-fancybox="busshelter" href="/assets/images/CantonmentMedia/bus_shelter1.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="mix busshelter col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/bus_shelter2.jpg" alt="Bus Shelter" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Bus Shelter</p>
                            <a data-fancybox="busshelter" href="/assets/images/CantonmentMedia/bus_shelter2.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="mix busshelter col-xl-4 col-md-4 col-sm-6 pd">
                    <img src="/assets/images/CantonmentMedia/bus_shelter3.jpg" alt="Bus Shelter" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Bus Shelter</p>
                            <a data-fancybox="busshelter" href="/assets/images/CantonmentMedia/bus_shelter3.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li> 

            </ul>
        </div>
    </section>

</div>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.2.2/mixitup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>

<script>
    var containerEl = document.querySelector('.portfolio-item');
    var mixer = mixitup(containerEl, {
        animation: {
            effects: 'fade translateZ(-100px)',
            effectsIn: 'fade translateY(-100%)',
            easing: 'cubic-bezier(0.645, 0.045, 0.355, 1)'
        }
    });

    // Fancybox initialize
    $('[data-fancybox]').fancybox({
        loop: true,
        hash: true,
        transitionEffect: 'slide',
        clickContent: function (current, event) {
            return current.type === 'image' ? 'next' : false;
        }
    });
</script>




