
@{
    ViewBag.Title = "eventmanagement";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}


<div class="page-wrapper">
    <!-- Page Title -->
    <section class="page-title" style="background-image: url(/assets/images/background/1.jpg)">
        <div class="auto-container">
            <h2>Event Management Services In Lucknow</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="/Ad/Index">Home</a></li>
                <li>Event Management Services</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Content Side -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="service-detail">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/event_management/2.png" alt="">
                            </div>
                            <div class="lower-content">
                                <h3>Event Management Services</h3>
                                <p>
                                    The way you advertise events should be dictated by your target audience,
                                    otherwise your marketing efforts are going to fall short of their unique
                                    expectations and desires. There are several factors to consider, but these are
                                    just a few:
                                </p>
                                <p>
                                    <strong>Age & profession :</strong> Is this a large group of aspiring
                                    professionals or a smaller group of successful executives?
                                </p>
                                <p><strong>Values and interests :</strong>  Event managers should key in on the different motives that inspire their target audiences. For instance, someone in the engineering space has a very different idea of useful information than someone in brand marketing.</p>
                                <p><strong>Exicon :</strong> The industry terms professionals use differ greatly from sector to sector. Make sure that the copy you use in your ad aligns with the language your target audience is comfortable communicating in.</p>
                                <div class="two-column">
                                    <div class="row clearfix">
                                        <div class="column col-lg-12 col-md-12 col-sm-12">
                                            <h4>Outdoor Events & Promotions</h4>
                                            <ul class="list mt-4 column-count-2">
                                                <li>CORPORATES EVENTS /MEET</li>
                                                <li>EXHIBITS DESIGN</li>
                                                <li>DISPLAY COUNTER</li>
                                                <li>BRAND CAMPAIGN</li>
                                                <li>CONSUMER CONNECT PROGRAM</li>
                                                <li>AWARD NIGHT</li>
                                                <li>ENTERTAINMENT & SPORTS EVENT</li>
                                                <li>PUBLIC RELATION</li>
                                                <li>THEMATIC DINNER</li>
                                                <li>CONCERT & STAGE SHOW</li>
                                                <li>HIGH END AUDIO & VIDEO VISUALS</li>
                                                <li>FASHION SHOW</li>
                                                <li>ARTISTIC MANAGEMENT</li>
                                                <li>SHORT FILM</li>
                                                <li>MALL/SOCIETY/SCHOOL/IN SHOP/ PROMOTIONAL ACTIVITIES</li>
                                                <li>PRODUCT LAUNCH</li>
                                                <li>ANNUAL CELEBRATION FUNCTION</li>
                                                <li>FACTORY/BRANCH/REAL ESTATE INAUGRATION</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Side -->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar sticky-top">

                        <!-- Service Widget -->
                        <div class="sidebar-widget service-widget">
                            <div class="widget-content">
                                <ul class="service-list">
                                    <li><a href="/Ad/outdoor_advertising">Outdoor Advertising</a></li>
                                    <li><a href="/Ad/wall_wrap">Wall Wrap Ads</a></li>
                                    <li><a href="/Ad/inshop_outdoor_branding">Inshop & Outdoor Branding</a></li>
                                    <li><a href="/Ad/mobile_van_promotion">Mobile Van Promotion</a></li>
                                    <li><a href="/Ad/multiplex_advertising">Multiplex Advertising</a></li>
                                    <li><a href="/Ad/auto_rickshaw_advertising">Auto Rickshaw Branding</a></li>
                                    <li><a href="/Ad/printing_services">Printing Services</a></li>
                                    <li><a href="/Ad/tv_advertising">TV Advertising</a></li>
                                    <li><a href="/Ad/radio_advertising">Radio Advertising</a></li>
                                    <li><a href="/Ad/fabrication_services">Fabrication Services</a></li>
                                    <li><a href="/Ad/event_management">Event Management</a></li>
                                    <li><a href="/Ad/online_marketing">Online Marketing</a></li>
                                    <li><a href="/Ad/airport_media">Airport Media</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Timing Widget -->
                        <div class="sidebar-widget timing-widget">
                            <div class="widget-content">
                                <h3>Opening Hours</h3>
                                <ul class="time-list">
                                    <li>Monday - Saturday <span>10.00 am- 07.00 pm</span></li>
                                    <li>Sunday <span>Closed</span></li>
                                </ul>
                                <div class="button-box">
                                    <a href="/Ad/contact" class="theme-btn btn-style-seven">
                                        <span class="txt">Contact Us<i class="flaticon-next-2"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </div>
</div>

