
@{
    ViewBag.Title = "fabricationservices";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<div class="page-wrapper">
    <!-- Page Title -->
    <section class="page-title" style="background-image: url(/assets/images/background/1.jpg)">
        <div class="auto-container">
            <h2>Fabrication Services In Lucknow</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="/advertisement/advertising-agency">Home</a></li>
                <li>Fabrication Services</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Content Side -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="service-detail">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/retail_branding_fabrication/7.jpg" alt="">
                            </div>
                            <div class="lower-content">
                                <h3>Fabrication Services</h3>
                                <p><strong>For a friendly, dedicated and flexible metal fabrication service, get in touch with us today</strong></p>
                                <p>Afluex Multiservices LLP is offering Advertisement Sign Board Fabrication Service that is undertaken by our team of skilled professionals; closely interact with the clients according to their requirements. Apart from this, it is imparted using the latest techniques in such a way to provides maximum efficiency, reliability, and promptness. This service is rendered in complete compliance with business quality standards. Clients can avail this service at a market-leading price.</p>
                                <p>We also collaborate with the brand identity as well as concentrates on the drawings and specifications through the process of creating a fabrication for your brand. Afluex has gained substantial experience and success in a multitude of fabrication designs such as – exhibition stands, kiosk, promotional stands, metal works, signages, and other branding material.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Side -->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar sticky-top">

                        <!-- Service Widget -->
                        <div class="sidebar-widget service-widget">
                            <div class="widget-content">
                                <ul class="service-list">
                                    <li><a href="/advertisement/outdoor-advertising">Outdoor Advertising</a></li>
                                    <li><a href="/advertisement/wall-wrap">Wall Wrap Ads</a></li>
                                    <li><a href="/advertisement/inshop-outdoor-branding">Inshop & Outdoor Branding</a></li>
                                    <li><a href="/advertisement/mobile-van-promotion">Mobile Van Promotion</a></li>
                                    <li><a href="/advertisement/cinema-advertising">Multiplex Advertising</a></li>
                                    <li><a href="/advertisement/auto-rickshaw-advertising">Auto Rickshaw Branding</a></li>
                                    <li><a href="/advertisement/printing-services">Printing Services</a></li>
                                    <li><a href="/advertisement/tv-advertising">TV Advertising</a></li>
                                    <li><a href="/advertisement/radio-advertising">Radio Advertising</a></li>
                                    <li><a href="/advertisement/fabrication-services">Fabrication Services</a></li>
                                    <li><a href="/advertisement/event-management">Event Management</a></li>
                                    <li><a href="/advertisement/online-marketing">Online Marketing</a></li>
                                    <li><a href="/advertisement/airport-media">Airport Media</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Timing Widget -->
                        <div class="sidebar-widget timing-widget">
                            <div class="widget-content">
                                <h3>Opening Hours</h3>
                                <ul class="time-list">
                                    <li>Monday - Saturday <span>10.00 am- 07.00 pm</span></li>
                                    <li>Sunday <span>Closed</span></li>
                                </ul>
                                <div class="button-box">
                                    <a href="/advertisement/contactus" class="theme-btn btn-style-seven">
                                        <span class="txt">Contact Us<i class="flaticon-next-2"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

