
@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_gallery.jpeg);">
    <div class="container">
        <h1>Our Gallery</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="~/advertisement/advertising-agency"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<div class="gallery_main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 d-flex justify-content-center">
                <!-- <div class="filter_inner">
                    <div class="filter-holder fixed-filter">
                        <div class="gallery-filters vis-filter">
                            <a class="gallery-filter gallery-filter-active" data-filter="all">All</a>
                            <a class="gallery-filter" data-filter="newyear">Happy New Year 2021 </a>
                            <a class="gallery-filter" data-filter="office">Office</a>
                            <a class="gallery-filter" data-filter="birthday">B’day Celebrations</a>
                            <a class="gallery-filter" data-filter="diwali">Diwali ~/afluexad/images </a>
                        </div>
                    </div>
                </div> -->
                <div class="filters filter-button-group">
                    <ul>
                        <li class="active"><a href="javascript:void(0);" data-filter="*">All</a></li>
                        <li><a href="javascript:void(0);" data-filter="newyear">Happy New Year 2021</a></li>
                        <li><a href="javascript:void(0);" data-filter="office">Office</a></li>
                        <li><a href="javascript:void(0);" data-filter="birthday">B’day Celebrations</a></li>
                        <li><a href="javascript:void(0);" data-filter="diwali">Diwali</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="portfolio_con" class="isotope">

                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h1.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h1.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h4.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h4.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h5.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h5.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h6.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h6.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h7.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h7.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h8.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h8.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h9.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h9.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h10.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h10.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h11.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h11.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h12.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h12.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h13.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h13.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h14.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h14.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h15.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h15.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h16.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h16.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h17.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h17.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h18.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h18.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h19.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h19.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h20.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h20.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h21.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h21.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h22.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h22.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h23.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h23.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h24.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h24.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h25.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h25.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h26.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h26.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="newyear">
                    <a href="~/afluexit/images/gallery/newyear_21/h27.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/newyear_21/h27.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>

                <!---------------------- Office ---------------------->
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/1.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/1.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/2.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/2.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/3.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/3.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/4.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/4.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/5.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/5.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/6.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/6.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/7.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/7.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/8.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/8.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/9.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/9.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="office">
                    <a href="~/afluexit/images/gallery/office/10.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/office/10.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <!---------------------- Birthday ---------------------->
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/1.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/1.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/2.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/2.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/3.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/3.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/4.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/4.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/5.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/5.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/6.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/6.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/7.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/7.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/8.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/8.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="birthday">
                    <a href="~/afluexit/images/gallery/birthday/9.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/birthday/9.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <!---------------------- Diwali ---------------------->
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/1.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/1.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/2.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/2.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/3.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/3.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/4.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/4.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/5.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/5.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/6.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/6.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/7.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/7.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/8.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/8.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/9.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/9.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/10.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/10.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/11.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/11.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/12.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/12.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/13.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/13.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/14.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/14.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/15.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/15.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/16.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/16.jpg" alt="gallery">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/17.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/17.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="diwali">
                    <a href="~/afluexit/images/gallery/diwali/18.jpg" class="popupimg img-fluid" data-title="gallery">
                        <img src="~/afluexit/images/gallery/diwali/18.jpg" alt="gallery" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

