
@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}
<!-- CSS links-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css'>
<div class="page-wrapper">

    <!-- Page Title -->
    <section class="page-title" style="background-image: url(/assets/images/background/1.jpg)">
        <div class="auto-container">
            <h2>Our Gallery</h2>
            <ul class="bread-crumb clearfix arrow_icon">
                <li><a href="/advertisement/advertising-agency">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <section class="portfolio-section" id="portfolio">
        <div class="container">
            <div class="portfolio-menu mt-5 mb-4">
                <nav class="controls text-center ">
                    <button type="button" class="control outline" data-filter="all">All</button>
                    <button type="button" class="control outline" data-filter=".new_year">Happy New Year 2021</button>
                    <button type="button" class="control outline" data-filter=".office">Office</button>
                    <button type="button" class="control outline" data-filter=".diwali">Diwali Celebration</button>
                    <button type="button" class="control outline" data-filter=".birthday">Birthday Party</button>
                </nav>
            </div>
            <ul class="row portfolio-item">
                <li class="mix new_year col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/newyear_21/h4.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">New Year Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/newyear_21/h4.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix new_year col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/newyear_21/h21.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">New Year Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/newyear_21/h21.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix new_year col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/newyear_21/h23.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">New Year Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/newyear_21/h23.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix new_year col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/newyear_21/h24.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">New Year Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/newyear_21/h24.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix new_year col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/newyear_21/h26.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">New Year Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/newyear_21/h26.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/office/1.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/office/1.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/portfolio/outdoor_advertising/37.png" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/portfolio/outdoor_advertising/37.png" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- wall wrap advertising -->
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/office/2.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/office/2.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/office/5.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/office/5.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/office/6.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/office/6.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/office/7.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/office/7.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/office/8.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/office/8.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/office/9.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/office/9.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix office col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/office/10.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Our Office</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/office/10.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!--  retail branding  -->
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img9.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img9.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img1.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img1.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img2.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img2.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img3.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img3.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img5.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img5.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img13.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img13.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img6.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img6.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img10.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img10.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img11.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img11.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img4.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img4.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img8.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img8.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix birthday col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/birthday/birthday_img14.jpeg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Birthday Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/birthday/birthday_img14.jpeg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix diwali col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/diwali/1.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Diwali Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/diwali/1.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix diwali col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/diwali/2.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Diwali Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/diwali/2.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix diwali col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/diwali/4.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Diwali Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/diwali/4.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix diwali col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/diwali/5.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Diwali Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/diwali/5.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="mix diwali col-xl-3 col-md-4 col-12 col-sm-6 pd">
                    <img src="/assets/images/gallery/diwali/8.jpg" itemprop="thumbnail" alt="Image description" />
                    <div class="portfolio-overlay">
                        <div class="overlay-content">
                            <p class="category">Diwali Celebration</p>
                            <a href="#" title="View Project" target="_blank">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                            <a data-fancybox="item" title="click to zoom-in" href="/assets/images/gallery/diwali/8.jpg" data-size="1200x600">
                                <div class="magnify-icon">
                                    <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

<!-- Mixitup -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.2.2/mixitup.min.js'></script>
<!-- fancybox -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js'></script>
<script>
    var containerEl = document.querySelector(".portfolio-item");
    var mixer = mixitup(containerEl, {
      animation: {
        effects: "fade translateZ(-100px)",
        effectsIn: "fade translateY(-100%)",
        easing: "cubic-bezier(0.645, 0.045, 0.355, 1)"
      }
    });
    // fancybox insilaze & options //
    $("[data-fancybox]").fancybox({
      loop: true,
      hash: true,
      transitionEffect: "slide",
      clickContent: function(current, event) {
        return current.type === "image" ? "next" : false;
      }
    });
</script>