
@{
    ViewBag.Title = "mobilevanpromotion";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_services.jpeg);">
    <div class="container">
        <h1>Mobile Van Promotion In Lucknow | India</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="~/advertisement/advertising-agency"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Our Services</li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Mobile Van Promotion</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="our_services">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <h2>Mobile Van Promotion</h2>
                        <h5>Mobile Van Promotion Agency </h5>
                    </div>
                    <div class="services_content_details">
                        <p>
                            Outdoor advertising mediums travel large distances every day and display advertisements on mobile vans to crowds of thousands of people in various states, cities, towns. Mobile van branding is done in all residential and commercial
                            areas. We are happy to be the provider of advertising solutions for mobile vans advertising in Lucknow.
                        </p>
                        <p>
                            It is the best and most effective way to reach the audience and target audience in a very short time. If you too want to take advantage of this innovative service of mobile van advertising, then Afluex Multiservices LLP is
                            the right partner for you. We have a qualified and skilled team that conducts research, research, learning and market research in every corner of India to achieve outstanding results in the advertising world. We provide
                            a variety of outdoor advertising solutions. Therefore, you will take advantage of our mobile van advertising services to popularize your brand and reach your target audience.
                        </p>
                        <p>So, if you are looking for a mobile van advertising service provider in India, then you have landed at the right place. Contact us for more information on mobile van advertising and mobile van advertising costs in India.</p>
                        <div class="about-list">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                    <ul class="listdesign1">
                                        <li><i class="fa fa-caret-right"></i> Afluex advertising is a better option where other means are impossible to go.</li>
                                        <li><i class="fa fa-caret-right"></i> Mobile van branding provides excellent access through high traffic.</li>
                                        <li><i class="fa fa-caret-right"></i> Advertising of mobile vans is very good for metro as well as rural area.</li>
                                        <li><i class="fa fa-caret-right"></i> Afluex Advertising offers advertising services at the lowest price as compared to its competitors.</li>
                                        <li><i class="fa fa-caret-right"></i> We provide van advertising or mobile van branding to our respected customers at the pan India level.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Video Column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <h2>For Quick Demo</h2>
                    </div>
                    @{Html.RenderAction("DemoContact", "advertisement", new { area = "" });}
                </div>
            </div>
        </div>
    </div>
</section>

