
@{
    ViewBag.Title = "outdooradvertising";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<div class="page-wrapper">
    <!-- Page Title -->
    <section class="page-title" style="background-image: url(/assets/images/background/1.jpg)">
        <div class="auto-container">
            <h2>Outdoor Advertising</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="/advertisement/advertising-agency">Home</a></li>
                <li>Outdoor Advertising</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Content Side -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="service-detail">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/outdoor_img.png" alt="">
                            </div>
                            <div class="lower-content">
                                <h3>Outdoor Advertising</h3>
                                <p>
                                    Afluex Multiservices LLP is an advertising agency that was built with a passion
                                    to improve the outdoor advertising standards in Lucknow, India and surrounding
                                    areas.
                                </p>
                                <p>It was founded in 2017 by a team of young and enterprising outdoor professionals led. We learn a great deal in our daily lives by trying all around, except for a business owner it's a chance to introduce you with the product/service he offers, By all means, Outdoor Advertising works extremely well for running an advertisement campaign targeting specific areas. We facilitate our purchasers in choosing the best place and platform to push their business and offerings. Our inventive Designers produce Innovative and expeditiously informative display to let prospective customers understand your product and services.</p>
                                <p>Afluex specializes in offering Complete Outdoor Advertising Services for various firms, MNC, Organizations. As a part of the entire outdoor Advertising Services, we tend to manufacture and install Hoardings Advertising, Unipoles Advertising, Gantries Advertising, kiosk Advertising, Traffic trolley Advertising, independent hoarding Pole Advertising and LED Lights Advertising. Being a high quality Certified Manufacturer and service provider in India, we tend to create use of the premium materials, like a beam, Channel, Iron Sheets, Iron Pipes, Lights, Flex, Vinyl, etc. Moreover, our Complete Outdoor Advertising Services are availed by companies for promotion at Launching Ceremonies, Fairs, Campaigns, Press Conferences, etc. Therefore, our Outdoor Advertising Products cater to diverse industrial requirements, like Mobile Handset, Mobile Communication Companies, FMCG, Shoes, Suiting Shirting's, State and Central Government of India, Colleges, and Institution, Hospital, Electronic product, Paint firms, Builders and many more.</p>
                                <div class="two-column">
                                    <div class="row clearfix">
                                        <div class="column col-lg-12 col-md-12 col-sm-12">
                                            <h4>Services Offered</h4>
                                            <ul class="list mt-4 column-count-2">
                                                <li>ROOFTOF & LAND BILLBOARD</li>
                                                <li>UNIPOLE</li>
                                                <li>BUS-Q-SHELTERS</li>
                                                <li>POLICEBOOTH</li>
                                                <li>GANTRY</li>
                                                <li>CANDY POLE</li>
                                                <li>POLE KIOSK</li>
                                                <li>GLOWPOLE OR LOLLYPOLE</li>
                                                <li>SUNPACK</li>
                                                <li>MALL MEDIA</li>
                                                <li>MOBILE VAN ( ROAD SHOW AD.)</li>
                                                <li>LED MOBILE VAN AD</li>
                                                <li>BUS BRANDING</li>
                                                <li>AUTO BRANDING</li>
                                                <li>INSERTION FLYERS IN NEWSPAPER</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Side -->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar sticky-top">

                        <!-- Service Widget -->
                        <div class="sidebar-widget service-widget">
                            <div class="widget-content">
                                <ul class="service-list">
                                    <li><a href="/advertisement/outdoor-advertising">Outdoor Advertising</a></li>
                                    <li><a href="/advertisement/wall-wrap">Wall Wrap Ads</a></li>
                                    <li><a href="/advertisement/inshop-outdoor-branding">Inshop & Outdoor Branding</a></li>
                                    <li><a href="/advertisement/mobile-van-promotion">Mobile Van Promotion</a></li>
                                    <li><a href="/advertisement/cinema-advertising">Multiplex Advertising</a></li>
                                    <li><a href="/advertisement/auto-rickshaw-advertising">Auto Rickshaw Branding</a></li>
                                    <li><a href="/advertisement/printing-services">Printing Services</a></li>
                                    <li><a href="/advertisement/tv-advertising">TV Advertising</a></li>
                                    <li><a href="/advertisement/radio-advertising">Radio Advertising</a></li>
                                    <li><a href="/advertisement/fabrication-services">Fabrication Services</a></li>
                                    <li><a href="/advertisement/event-management">Event Management</a></li>
                                    <li><a href="/advertisement/online-marketing">Online Marketing</a></li>
                                    <li><a href="/advertisement/airport-media">Airport Media</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Timing Widget -->
                        <div class="sidebar-widget timing-widget">
                            <div class="widget-content">
                                <h3>Opening Hours</h3>
                                <ul class="time-list">
                                    <li>Monday - Saturday <span>10.00 am- 07.00 pm</span></li>
                                    <li>Sunday <span>Closed</span></li>
                                </ul>
                                <div class="button-box">
                                    <a href="/advertisement/contactus" class="theme-btn btn-style-seven">
                                        <span class="txt">Contact Us<i class="flaticon-next-2"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </div>
</div>

