
@{
    ViewBag.Title = "companyoverview";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}


<div class="page-wrapper">
    <!-- Page Title -->
    <section class="page-title" style="background-image: url(/assets/images/background/1.jpg)">
        <div class="auto-container">
            <h2>About Us</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="/advertisement/advertising-agency">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!-- About Section / Style Two -->
    <section class="about-section style-two">
        <div class="pattern-layer" style="background-image: url(/assets/images/background/pattern-1.png)"></div>
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Images Column -->
                <div class="images-column col-lg-7 col-md-12 col-sm-12">
                    <div class="vector-layer-one" style="background-image: url(/assets/images/icons/vector-1.png)">
                    </div>
                    <div class="vector-layer-two" style="background-image: url(/assets/images/icons/vector-2.png)">
                    </div>
                    <div class="inner-column clearfix">
                        <div class="image wow fadeInLeft about_img" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <img src="/assets/images/resource/about-1.jpg" alt="">
                        </div>
                        <div class="image-two wow fadeInRight about_img" data-wow-delay="150ms"
                             data-wow-duration="1500ms">
                            <img src="/assets/images/resource/about-2.jpg" alt="">
                        </div>
                        <div class="image-three wow fadeInRight about_img" data-wow-delay="450ms"
                             data-wow-duration="1500ms">
                            <img src="/assets/images/resource/about-4.jpg" alt="">
                        </div>
                        <div class="image-four wow fadeInLeft about_img" data-wow-delay="300ms"
                             data-wow-duration="1500ms">
                            <img src="/assets/images/resource/about-3.jpg" alt="">
                        </div>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title">About Our Agency</div>
                            <h2>Welcome To <span>Our Creative</span> Agency</h2>
                            <div class="text">
                                “Afluex is a best emerging, comprehensive, full-service marketing
                                Company. Works in two segment Advertising and IT Development Segment and it’s known
                                for their lucrative result n ideas. Afluex has more than 8+ year’s deep experience
                                in all media and aspects of marketing. We share best ideas, knowledge & experience
                                to deliver outstanding results to our clients.
                            </div>
                            <div class="text">
                                Notable areas of expertise include: brand design and development,
                                creative media strategies and placement, Media Buying & Branding, Print and
                                interactive design, social networking and digital marketing, creative and technical
                                writing. We define strategic plans, Design campaigns and much more and also we focus
                                on making bridges that can provide the client and their requirement on a single roof
                                and with plenty of convenience.
                            </div>
                        </div>
                        <div class="row mt-none-30">
                            <div class="col-lg-12">
                                <div class="button-box">
                                    <a href="/Ad/contact" class="theme-btn btn-style-three">
                                        <span class="txt">Contact Us<i class="flaticon-next-2"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- About Info Section -->
    <section class="about-info-section">
        <div class="pattern-layer-one" style="background-image: url(/assets/images/background/pattern-14.png)"></div>
        <div class="pattern-layer-two" style="background-image: url(/assets/images/background/pattern-15.png)"></div>
        <div class="pattern-layer-three" style="background-image: url(/assets/images/background/about_bg.jpg)"></div>
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sec-title">
                        <div class="title">About Our Agency</div>
                        <h2>Your Trusted <span>partners</span> For Business</h2>
                    </div>
                </div>
            </div>
            <!-- About Info Tabs -->
            <div class="about-info-tabs">
                <!-- About Tabs -->
                <div class="about-tabs tabs-box">

                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">
                        <li data-tab="#mission" class="tab-btn active-btn">Our Mission</li>
                        <li data-tab="#vision" class="tab-btn">Our Vision</li>
                        <li data-tab="#value" class="tab-btn">Values</li>
                    </ul>

                    <!-- Tabs Container -->
                    <div class="tabs-content">

                        <!-- Tab / Active Tab -->
                        <div class="tab active-tab" id="mission">
                            <div class="content">
                                <p>
                                    Our mission to help our clients grow and their companies and nurture their brands
                                    with well-crafted marketing communication . Our passion is merging the latest
                                    techniques in the marketing with strategic thinking and highly creative
                                    executions and more important develop long term client relationships through
                                    innovative solutions, round the clock support & services.
                                </p>
                            </div>
                        </div>

                        <!-- Tab -->
                        <div class="tab" id="vision">
                            <div class="content">
                                <p>
                                    Our first vision to discovering more effective ways to communicate with our
                                    client’s target markets. This means constantly digging, probing, learning and
                                    experimenting with alternative solutions. We determine and execute the tasks it
                                    takes to promote our clients, their brands, their product , their events, and
                                    their people. We help our clients identify goals, and then we take
                                    responsibility for providing cross platform tactics to accomplish them. We work
                                    within budget constraint and we meet deadlines. Creativity is our passion and
                                    deliver result. Afluex has evolved with its clients, with marketplace, and with
                                    technology. Our efforts & capabilities enable us to advise and guide our clients
                                    to achieve what they want.
                                </p>
                            </div>
                        </div>

                        <!-- Tab -->
                        <div class="tab" id="value">
                            <div class="content">
                                <ul class="about_tab_list">
                                    <li>
                                        <i class="fa fa-check"></i> Our experts create innovative solutions for your
                                        business.
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Our values include client and employee
                                        satisfaction, social and business responsibility.
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Developing lasting beneficial relationships with
                                        our clients.
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Our target is to provide top services
                                        satisfaction of our valuable customer.
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Info Section -->
    <!-- Project Section -->
    <section class="project-section">
        <div class="left-curve-box"></div>
        <div class="right-curve-box"></div>
        <div class="auto-container">
            <div class="inner-container">

                <div class="gallery-carousel-two owl-carousel owl-theme"> 

                    <!-- s1 -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/s1.jpg" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- s2 -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/s2.jpg" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- s3 -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/s3.jpg" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- s4 -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/s4.jpg" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- s5 -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/s5.jpg" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- s6 -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/s6.jpg" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- s7 -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/s7.jpg" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>










                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/slider-2.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/banner-12.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/banner-13.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/banner-21.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/banner-15.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/banner-17.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/slider-11.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/slider-5.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/banner-19.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/slider-1.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/banner-18.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/slider-3.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/slider-7.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/slider-4.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="/assets/images/portfolio/Site snap/slider-6.png" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        <h3><a href="/Ad/contact">Afluex Multiservices LLP</a></h3>
                                        <div class="text">High standard of professional</div>
                                        <div class="icon icofont-horse-head-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- End Project Section -->
    <!-- Team Section Three -->
    <section class="team-section-three">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title style-two">Core Features</div>
                <h2>Our <span>Expert</span> Member</h2>
            </div>
            <div class="row clearfix">

                <!-- Team Block Two -->
                <div class="team-block-two col-lg-4 col-md-6 col-sm-12 offset-lg-2">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/hemvant-1.png" alt="" />
                        </div>
                        <h3><a href="/Ad/team">Hemvant Srivastava</a></h3>
                        <div class="designation">COO</div>
                    </div>
                </div>

                <!-- Team Block Two -->
                <div class="team-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/krishna.jpg" alt="" />
                        </div>
                        <h3><a href="/Ad/team">K.M Kushwaha</a></h3>
                        <div class="designation">CTO</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section Three -->
    <!-- Support Section -->
    <section class="support-section">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">

                    <!-- Social Column -->
                    <div class="social-column col-lg-4 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3>Follow Us:</h3>
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="https://www.facebook.com/afluexllp/" target="blank"
                                       class="fa fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/AfluexLlp?s=17" target="blank"
                                       class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/afluex-multiservices-llp-35a00716b/"
                                       target="blank" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="https://afluex.tumblr.com/" target="blank" class="fa fa-tumblr"></a>
                                </li>
                                <li>
                                    <a href="https://in.pinterest.com/afluex_multiservices_llp/software-development/"
                                       target="blank" class="fa fa-pinterest"></a>
                                </li>
                                <li>
                                    <a href="https://www.reddit.com/user/afluex/posts/" target="blank"
                                       class="fa fa-reddit"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="content-column col-lg-8 col-md-12 col-sm-12">
                        <div class="inner-column"
                             style="background-image: url(/assets/images/background/pattern-12.png)">
                            <div class="pattern-layer"
                                 style="background-image:url(/assets/images/background/pattern-13.png)"></div>
                            <div class="play-box">
                                <a href="https://api.whatsapp.com/send?phone=91731-0000-413=&text=Hi" target="blank"
                                   class="play-button">
                                    <span class="flaticon-whatsapp">
                                        <i class="ripple"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="phone"><span class="icon fa fa-phone"></span>(+91) 731-0000-413</div>
                            <h2>Still You Need Our Support ?</h2>
                            <div class="text">Don’t wait make a smart & logical quote here. Its pretty easy.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Support Section -->
    <!-- Testimonials Section -->
    <section class="testimonials-section">

        <div class="pattern-layer" style="background-image: url(/assets/images/background/pattern-6.png)"></div>
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Thumbs Column -->
                <div class="thumbs-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">

                        <div class="author_img_wrap pos-rel">
                            <!-- <div class="tm_bg" style="background-image: url(/assets/images/background/tm-bg.png);"></div> -->
                            <div class="author_img text-center">
                                <img src="/assets/images/resource/testi_3.jpg" class="testi_img" alt="" />
                            </div>
                            <div class="icon-layer"
                                 style="background-image: url(/assets/images/icons/vector-10.png)"></div>
                            <div class="quote-icon">
                                <img src="/assets/images/icons/tm_quote.png" alt="">
                            </div>
                            <div class="image-one"><img src="/assets/images/resource/testi_4.png" alt=""></div>
                            <div class="image-five"><img src="/assets/images/resource/testi_4.png" alt=""></div>
                            <div class="image-six"><img src="/assets/images/resource/testi_4.png" alt=""></div>
                            <div class="image-four"><img src="/assets/images/resource/testi_4.png" alt=""></div>
                        </div>
                    </div>
                </div>

                <!-- Carousel Column -->
                <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title">Client Testimonial</div>
                            <h2>Client <span>testimonial</span> about <br> our agency</h2>
                        </div>
                        <!-- Slides -->
                        <div class="testimonial-carousel-three owl-carousel owl-theme">

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        <span class="quote-left fas fa-quote-left"></span>
                                        We have greatly enjoyed working with the Afluex Ad Agency on launching our
                                        Advertesment with in
                                        right time duration and best quality of service,Thanks afluex Team for hard
                                        work.
                                        We are delighted by the results of the campaigns. It’s been refreshing
                                        working with a
                                        collaborative agency team that understands our market area. we’ve launched
                                        some relevant
                                        campaigns that captured our members’ attention and business.
                                        <span class="quote-right fas fa-quote-right"></span>
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="/assets/images/resource/testi_4.png" alt="">
                                            </div>
                                            <h4>Liberty</h4>
                                            <span class="designation">Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        <span class="quote-left fas fa-quote-left"></span>We were very
                                        impressed with the impressive campaign and thought it spoke volumes to the
                                        reality of businesses. We have been working our way into the multiple areas
                                        for almost a year now and are excited and ready to gain some attraction in
                                        that city.<span class="quote-right fas fa-quote-right"></span>
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="/assets/images/resource/testi_4.png" alt="">
                                            </div>
                                            <h4>Red Chief</h4>
                                            <span class="designation">Team Red Chief</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        <span class="quote-left fas fa-quote-left"></span>I tell other
                                        business owners, if you want advertising and marketing right place, and a
                                        truly dedicated team of professionals, you need to work with Afluex
                                        Multiservices company. These team know the market, they care about their
                                        clients, and they work hard for them…they truly go above and beyond and care
                                        about your business Thanks Afluex Team.<span class="quote-right fas fa-quote-right"></span>
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="/assets/images/resource/testi_4.png" alt="">
                                            </div>
                                            <h4>Nomadic</h4>
                                            <span class="designation">Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Testimonials Section -->
</div>

