
@{
    ViewBag.Title = "portfolio";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}
<!-- Page Title -->
<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_portfolio.jpeg);">
    <div class="container">
        <h1>Portfolio</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="~/advertisement/advertising-agency"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<div class="portfolio_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="filters filter-button-group">
                    <ul>
                        <li class="active"><a href="javascript:void(0);" data-filter="*">All</a></li>
                        <li><a href="javascript:void(0);" data-filter="oohoutdoor">OOh Advertising</a></li>
                        <li><a href="javascript:void(0);" data-filter="wallwrap">Wall Wrap Ads</a></li>
                        <li><a href="javascript:void(0);" data-filter="retail">Retail Branding &amp; Fabrication</a></li>
                        <li><a href="javascript:void(0);" data-filter="cinema">Broadcast Advertising</a></li>
                        <li><a href="javascript:void(0);" data-filter="event">Event Management</a></li>
                        <li><a href="javascript:void(0);" data-filter="other">Other Advertising Snaps</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="portfolio_con" class="isotope">
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/1.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/1.jpg" class="img-fluid portfolio-img">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/2.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/2.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/3.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/3.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/4.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/4.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/5.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/5.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/6.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/6.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/7.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/7.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/8.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/8.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/9.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/9.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/10.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/10.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/11.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/11.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/12.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/12.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/13.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/13.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/14.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/14.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/15.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/15.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/16.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/16.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/17.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/17.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/18.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/18.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/19.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/19.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/20.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/20.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/21.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/21.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/22.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/22.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/23.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/23.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/24.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/24.jpg">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/25.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/25.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/26.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/26.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/27.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/27.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/28.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/28.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/29.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/29.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/31.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/31.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/32.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/32.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/33.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/33.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/34.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/34.jpg" class="img-fluid">
                    </a>
                    <div class="overlay">Outdoor Advertising </div>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/35.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/35.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/36.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/36.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/37.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/37.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="oohoutdoor">
                    <a class="popupimg" href="~/afluexad/images/portfolio/outdoor_advertising/39.jpg">
                        <img src="~/afluexad/images/portfolio/outdoor_advertising/39.jpg" class="img-fluid">
                    </a>
                </div>

                <!-- wall wrap advertising -->

               
                <div class="grid-item" data-filter="wallwrap">
                <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/gonda-1.jpg">
                    <img src="~/afluexad/images/portfolio/Wallwrap/gonda-1.jpg" class="img-fluid">
                </a>
            </div>
                <div class="grid-item" data-filter="wallwrap">
                <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/gonda-2.jpg">
                    <img src="~/afluexad/images/portfolio/Wallwrap/gonda-2.jpg" class="img-fluid">
                </a>
            </div>
                <div class="grid-item" data-filter="wallwrap">
                    <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/gonda-3.jpg">
                        <img src="~/afluexad/images/portfolio/Wallwrap/gonda-3.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="wallwrap">
                    <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/gonda-4.jpg">
                        <img src="~/afluexad/images/portfolio/Wallwrap/gonda-4.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="wallwrap">
                    <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/gonda-5.jpg">
                        <img src="~/afluexad/images/portfolio/Wallwrap/gonda-5.jpg" class="img-fluid">
                    </a>
                </div>
                    <div class="grid-item" data-filter="wallwrap">
                        <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/gonda-6.jpg">
                            <img src="~/afluexad/images/portfolio/Wallwrap/gonda-6.jpg" class="img-fluid">
                        </a>
                    </div>
                <div class="grid-item" data-filter="wallwrap">
                    <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/wall_wrap-1.jpg">
                        <img src="~/afluexad/images/portfolio/Wallwrap/wall_wrap-1.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="wallwrap">
                    <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/wall_wrap-2.jpg">
                        <img src="~/afluexad/images/portfolio/Wallwrap/wall_wrap-2.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="wallwrap">
                    <a class="popupimg" href="~/afluexad/images/portfolio/Wallwrap/wall_wrap-3.jpg">
                        <img src="~/afluexad/images/portfolio/Wallwrap/wall_wrap-3.jpg" class="img-fluid">
                    </a>
                </div>


                <!--  //  wall wrap advertising -->
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/39.jpg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/39.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/19.jpg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/19.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/18.jpg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/18.jpg" class="img-fluid">
                    </a>
                </div>
                 <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/3.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/3.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/4.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/4.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/5.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/5.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/6.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/6.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/7.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/7.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/8.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/8.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/9.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/9.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/10.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/10.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/11.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/11.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/12.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/12.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/13.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/13.jpg" class="img-fluid">
         </a>
     </div>
    <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/14.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/14.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/15.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/15.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/16.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/16.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/17.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/17.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/18.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/18.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/19.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/19.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/20.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/20.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/21.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/21.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/22.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/22.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/23.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/23.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/24.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/24.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/25.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/25.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/26.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/26.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/27.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/27.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/28.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/28.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/29.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/29.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/30.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/30.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/31.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/31.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/32.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/32.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/33.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/33.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/34.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/34.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/35.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/35.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/36.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/36.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/37.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/37.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/38.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/38.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/39.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/39.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/40.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/40.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/41.jpg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/41.jpg" class="img-fluid">
         </a>
     </div>
     <div class="grid-item" data-filter="retail">
         <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-1.jpeg">
             <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-1.jpeg" class="img-fluid">
         </a>
     </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-2.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-2.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-3.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-3.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-4.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-4.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-5.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-5.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-6.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-6.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-7.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-7.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-8.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-8.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-9.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-9.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-10.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-10.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/brand-11.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/brand-11.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/Dhanbad,Jharkhand.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/Dhanbad,Jharkhand.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/Ranchi, Jharkhand.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/Ranchi, Jharkhand.jpeg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="retail">
                    <a class="popupimg" href="~/afluexad/images/portfolio/retail_branding_fabrication/bihar.jpeg">
                        <img src="~/afluexad/images/portfolio/retail_branding_fabrication/bihar.jpeg" class="img-fluid">
                    </a>
                </div>


                <!-- other -->
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/1.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/1.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/2.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/2.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/3.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/3.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/4.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/4.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/5.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/5.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/6.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/6.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/7.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/7.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/8.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/8.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/9.gif">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/9.gif" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/10.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/10.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/11.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/11.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/12.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/12.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/13.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/13.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/14.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/14.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/15.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/15.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/16.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/16.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/18.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/18.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/19.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/19.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/20.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/20.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/21.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/21.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/23.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/23.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/24.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/24.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/25.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/25.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/26.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/26.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/27.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/27.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/28.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/28.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/29.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/29.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/30.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/30.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/31.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/31.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/32.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/32.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/33.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/33.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/34.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/34.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/35.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/35.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/36.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/36.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/37.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/37.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/38.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/38.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item" data-filter="other">
                    <a class="popupimg" href="~/afluexad/images/portfolio/other_advertising_snaps/39.jpg">
                        <img src="~/afluexad/images/portfolio/other_advertising_snaps/39.jpg" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


