
@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<div class="page-wrapper">
    <!-- Page Title -->
    <section class="page-title" style="background-image: url(/assets/images/background/1.jpg)">
        <div class="auto-container">
            <h2>Our Key Team Member</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="/advertisement/advertising-agency">Home</a></li>
                <li>Our Key Team Member</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!-- Team Section Two -->
    <section class="team-section-two">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title style-two">Core Features</div>
                <h2>Our <span>Key Team</span> Member</h2>
            </div>
            <div class="row clearfix">

                <!-- Team Block Two -->
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/hemvant-1.png" alt="">
                        </div>
                        <h3><a href="/Ad/team">Hemvant Srivastava</a></h3>
                        <div class="designation">COO</div>
                    </div>
                </div>

                <!-- Team Block Two -->
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/krishna.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">K.M Kushwaha</a></h3>
                        <div class="designation">CTO</div>
                    </div>
                </div>

                <!-- Team Block Two -->
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/avinash.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Avinash Maurya</a></h3>
                        <div class="designation">Operation Executive</div>
                    </div>
                </div>

                <!-- Team Block Two -->
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/devendra.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Devendra Kumar</a></h3>
                        <div class="designation">Web Designer</div>
                    </div>
                </div>

                <!-- Team Block Two -->
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="~/assets/images/team/Tanishq-Kushwaha.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Tanishq Kushwaha</a></h3>
                        <div class="designation">Software Developer</div>
                    </div>
                </div>



                <!-- Team Block Two -->
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/anku.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Anku</a></h3>
                        <div class="designation">Software Developer</div>
                    </div>
                </div>
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/satish.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Satish</a></h3>
                        <div class="designation">Software Developer</div>
                    </div>
                </div>
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/anamika.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Anamika</a></h3>
                        <div class="designation">Software Developer</div>
                    </div>
                </div>
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/rishi.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Rishi</a></h3>
                        <div class="designation">Software Developer</div>
                    </div>
                </div>
                @*<div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/atul.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Atul</a></h3>
                        <div class="designation">Software Trainee</div>
                    </div>
                </div>*@
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/sarita.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Sarita</a></h3>
                        <div class="designation">App Developer</div>
                    </div>
                </div> 
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/suraj.png" alt="">
                        </div>
                        <h3><a href="/Ad/team">Suraj Mishra</a></h3>
                        <div class="designation">Accountant</div>
                    </div>
                </div> 
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/prabhakar.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Prabhakar kushwaha</a></h3>
                        <div class="designation">Field Manager</div>
                    </div>
                </div>
                <!-- Team Block Two -->
                @*<div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/sujeet.png" alt="">
                        </div>
                        <h3><a href="/Ad/team">Sujeet Yadav</a></h3>
                        <div class="designation">Marketing Executive</div>
                    </div>
                </div>*@
                 
                <!-- Team Block Two -->
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/nishu.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Nushu</a></h3>
                        <div class="designation">Operation Executive</div>
                    </div>
                </div>  
                 
                @*<div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/shyamu.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Shyamu Yadav</a></h3>
                        <div class="designation">Office Boy</div>
                    </div>
                </div>
                <div class="team-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="color-layer-one"></div>
                        <div class="color-layer-two"></div>
                        <div class="image">
                            <img src="/assets/images/team/ajay.jpg" alt="">
                        </div>
                        <h3><a href="/Ad/team">Ajay</a></h3>
                        <div class="designation">Office Boy</div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <!-- End Team Section Two -->
</div>

