
@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_about.jpeg);">
   
    <div class="container">
        <h1>Our Team</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="~/advertisement/advertising-agency"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>About Us</li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Our Team</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<div class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/hemvant-1.png" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Hemvant Srivastava</a></h4>
                        <p>COO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/krishna.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">K.M Kushwaha </a></h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/arpit.png" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Arpit Rastogi</a></h4>
                        <p>Deputy Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/sachin1.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sachin Mishra </a></h4>
                        <p>Sr.Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/mona.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Mona Maurya</a></h4>
                        <p>Software Developer</p>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/vikram.png" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Vikram Singh</a></h4>
                        <p>Android Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/avinash.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Avinash Maurya </a></h4>
                        <p>Operation Executive</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/jyoti.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Jyoti Singh</a></h4>
                        <p>Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/ashwani.jpeg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Ashwani Mishra</a></h4>
                        <p>Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/reena.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Reena Jaishwal </a></h4>
                        <p>Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/rishita.png" class="img-fluid" />
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Rishita Pandey</a></h4>
                        <p>Operation Executive</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/sudhakar.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sudhakar Sharma </a></h4>
                        <p>Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/sandeep.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sandeep Sharma </a></h4>
                        <p>HR & Accountant</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/prabhakar.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Prabhakar kushwaha </a></h4>
                        <p>Field Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/sujeet.png" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sujeet Yadav </a></h4>
                        <p>Marketing Executive</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexit/images/team/shyamu.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Shyamu Yadav </a></h4>
                        <p>Office Boy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

