@{
    ViewBag.Title = "thankyou";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/afluexit/images/favicon.png" rel="shortcut icon">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <title>Thank You</title>
    <style>
        *, body {
            font-family: 'Roboto', sans-serif;
        }

        .list-style-none {
            list-style-type: none;
        }

        .social-container {
            text-align: center;
        }

        .social-icons {
            padding: 0;
            list-style: none;
            margin: 1em;
        }

            .social-icons li {
                display: inline-block;
                margin: 0.15em;
                position: relative;
                font-size: 1.2em;
            }

            .social-icons i {
                color: #fff;
                position: absolute;
                top: 15px;
                left: 15px;
                transition: all 265ms ease-out;
            }

            .social-icons a {
                display: inline-block;
            }

                .social-icons a:before {
                    transform: scale(1);
                    -ms-transform: scale(1);
                    -webkit-transform: scale(1);
                    content: " ";
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    display: block;
                    background: linear-gradient(45deg, #58c1cc, #418fb2);
                    transition: all 265ms ease-out;
                }

                .social-icons a:hover:before {
                    transform: scale(0);
                    transition: all 265ms ease-in;
                }

                .social-icons a:hover i {
                    transform: scale(2.2);
                    -ms-transform: scale(2.2);
                    -webkit-transform: scale(2.2);
                    color: #00b5f5;
                    background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 265ms ease-in;
                }

        .box-shadow {
            /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .btn-primary
        {
           background:#479cb9;
           border-color:#479cb9
        }
        .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
        .single-fact .campaign-fact-icon {
    box-shadow: 0 7px 15px 0 rgb(88 86 214 / 30%);
    background: #479cb9;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
}
        .services-item p {
    color: #4da5b7;
    font-size: 13pt;
    font-weight: 500;
}
        .single-fact .fact-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
}
    </style>
</head>
<body class="thankyou-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-xs-12 col-sm-4 mt-4">
                <div class="main-header">
                    <div class="logo text-center">
                        <a href="/Home/advertising-agency">
                            <img src="~/afluexit/images/Afluex-logo/footer_logo.png" style="height:80px" class="img-responsive" alt="logo" />
                        </a>
                        <div class="content p-4 mt-3">
                            <i class="fa fa-check-circle fa-3x"></i>
                            <h1 class="mt-3 mb-3">Thank You !</h1>
                            <p class="msg-content">
                                Our team will contact you soon. You can find more information
                                on our website and social media.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-2">
                <div class="card box-shadow h-100">
                    <div class="card-body">
                        <div class="social-container p-4">
                            <h3>Connect with us</h3>
                            <ul class="social-icons">
                                <li><a href="https://www.instagram.com/afluexllp/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/AfluexLlp?s=17" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/afluex-multiservices-llp-35a00716b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.facebook.com/afluexllp/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://in.pinterest.com/afluexm/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC9-cZr_NMjpoY13GSf0DjLA" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card box-shadow h-100">
                    <div class="card-body">
                        <div class="social-container p-4">
                            <h3>Contact with us</h3>
                            <div class="contact-detail mb-2">
                                <div class="media single-fact">
                                    <div class="campaign-fact-icon">
                                        <i class="fa fa-mobile" aria-hidden="true" style="line-height:2"></i>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <p class="fact-title"><a href="tel:7310000413" class="text-decoration-none text-dark">+91 7310000-413 /</a> 
                                        <a href="tel:7310000412" class="text-decoration-none text-dark">7310000-412</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-detail mb-2">
                                <div class="media single-fact">
                                    <div class="campaign-fact-icon">
                                        <i class="fa fa-envelope" aria-hidden="true" style="line-height:2"></i>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <a href="mailto:supportnow@afluex.com" class="text-decoration-none text-dark">supportnow@afluex.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card box-shadow h-100">
                    <div class="card-body">
                        <div class="social-container p-4">
                            <h3>Visit Our Site</h3>
                            <a href="https://www.afluex.com" target="blank" class="btn btn-lg btn-primary mt-3">Visit Website</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
