
@{
    ViewBag.Title = "banner_design";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="pt-5 pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-white">
                <h2>Banner Design Services In Lucknow</h2>
                <p class="mt-3 text-justify">
                    The Brochures and Catalogues are an integrated medium of marketing strategy. Its primary
                    purpose is not only to inform people about your products and services but also to emphasize the fact
                    that you have better solutions and raise your arm compared to your competitors.
                    It can be called a flag bearer, in terms of inexpensive and efficient marketing. Our talented, skillful,
                    well-trained and consultant design experts consider integrity and compactibility to be an important part of the business.
                </p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-5 offset-1">
                <img src="~/afluexit/images/services/logo_bg.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-justify">
                <h2 class="mb-3">Banner Design</h2>
                <p>
                    A banner is a graphical web advertising unit. The unit ideally measures 468 x 60 i.e.,
                    468 pixels wide and 60 pixels long or height it is all depend upon client's requirements.
                    Nowadays, banners are used to strengthen online advertising. The banner design, ad is small
                    rectangular advertisements that appear in all types of web pages or websites. It varies in
                    content, looks, and theme. Banner design is the main source of Internet-based marketing and
                    provides a global platform for placing your product or service information. Afluex Multiservices LLP gives this graphic component is somewhat similar to advertisements in a printed publication of any newspaper or magazine.
                </p>
                <p>Banner design is a fundamental component of online branding. When marketing a business' products and services, catering to the visual component of the target audience's purchasing intent and behavior is a crucial factor.</p>
            </div>
            <div class="col-lg-5">
                <img src="~/afluexit/images/services/banner_img1.png" class="img-fluid" />
            </div>
        </div>
        <div class="row mt-5 pt-5">
            <div class="col-lg-5">
                <img src="~/afluexit/images/services/banner_img2.jpg" class="img-fluid" />
            </div>
            <div class="col-lg-7 text-justify">
                <h2>Types of Banner Designing Services :</h2>
                <ul>
                    <li>Standard animated or non-animated Banners.</li>
                    <li>Rich media Banners.</li>
                    <li>Flash Banners, etc.</li>
                </ul>
                <p>Afluex Multiservices LLP also provides banner designs in a wide range of sizes, and shapes, especially those allowed in advertisements on major search engines, directories, portals, and other industry-specific websites.</p>
                <ul>
                    <li>100% Custom banners by experienced web designers.</li>
                    <li>8+ Years of highly creative and skilled minded web designers.</li>
                    <li>Banners can be ready in 2-3 Working Days.</li>
                    <li>Create 100% Ownership of source files for you.</li>
                    <li>100% Satisfaction of clients etc.</li>
                </ul>
            </div>
           
        </div>

        <div class="row mt-5 pt-5 pb-5">
            <div class="col-lg-7">
                <h4 class="mb-3">Design Rules For Effective Banner Design followed by Afluex Multiservices LLP</h4>
                <ul class="text-justify">
                    <li>It’s Good to Abide By The Standards.</li>
                    <li>Simplicity Always Pays.</li>
                    <li>Text Clarity Should Be On Top Priority.</li>
                    <li>Avoid Big File Size etc.</li>
                </ul>
                <p>Banner designs are essential to increase the reach of your business, in the target market you want. But an effective design should be simple to highlight its important features. The banner size should be as per the industry standards, typeface, use of colors, and other elements should be carefully designed and added. Afluex Multiservices LLP makes sure the file size is smaller so that it does not take time in loading and your banner is good to attract your prospects.</p>
            </div>
            <div class="col-lg-5">
                <img src="~/afluexit/images/services/banner_img3.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>