
@{
    ViewBag.Title = "brochure_design";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="pt-5 pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-white text-justify">
                <h2>Brochure And Catalog Designing In Lucknow</h2>
                <p class="mt-3">
                    The Brochures and Catalogues are an integrated medium of marketing strategy. Its primary 
                    purpose is not only to inform people about your products and services but also to emphasize the fact
                    that you have better solutions and raise your arm compared to your competitors. 
                    It can be called a flag bearer, in terms of inexpensive and efficient marketing. Our talented, skillful,
                    well-trained and consultant design experts consider integrity and compactibility to be an important part of the business.
                </p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-5 offset-1">
                <img src="~/afluexit/images/services/logo_bg.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page mb-5">
    <div class="container">
        <div class="row">
            <h3>Brochure and Catalog Designing</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5>Rely on Our Brochure Design Experts to Develop Creative Brochure Designs</h5>
                <p class="text-justify">A brochure is an important marketing tool that helps to attract the audience and provide them with the necessary messages. We help you emphasize your features and services in a creative way. A customized brochure is a unique marketing strategy that will help you achieve your business goals. Misha Infotech provides various brochure-building services to help you connect effectively with your target customers. Our smart designs, attractive content and hand-crafted brochures make it easy to communicate with your target audience. We work to deliver the company's message to potential customers successfully. Our brochures are designed to serve as a complete online marketing strategy. Standardized designs and high quality are the primary concepts of design for our brochure.</p>
            </div>
            <div class="col-lg-6">
               <img src="~/afluexit/images/services/brochure.jpg" class="img-fluid brochure_img"/>
            </div>
        </div>
        <div class="row mt-5 pt-5 pb-5">
            <div class="col-lg-5">
                <img src="~/afluexit/images/services/brochuredesign1.jpg" class="img-fluid brochure_img" />
            </div>
            <div class="col-lg-7">
                <h3>Brochure Design Services</h3>
                <ul>
                    <li>Think simple.</li>
                    <li>Consider functionality.</li>
                    <li>Create impact with simple shapes.</li>
                    <li>Keep it linear.</li>
                    <li>Reflect graphics, physically.</li>
                    <li>Be creative with your inserts.</li>
                    <li>Think outside the ‘pamphlet’.</li>
                    <li>Incorporate shapes.</li>
                    <li>Make subtle adjustments.</li>
                    <li>Consider your materials.</li>
                    <li>Use a texture as a graphic element.</li>
                    <li>Use perspective to your advantage.</li>
                    <li>Be creative with typography, etc.</li>
                </ul>
            </div>
        </div>
        </div>
    </section>

