
@{
    ViewBag.Title = "CompilationPage";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}


<center>
    <img src="~/afluexit/images/404/oops404.jpg" alt="Page Not Found" style="width:1200px;height:600px;">
</center>



@*<h1 style="color:red;text-align:center;font-size:200px;font-family:'Times New Roman'">404</h1>*@

