
@{
    ViewBag.Title = "company_overview";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_about.jpeg);">
    <div class="container">
        <h1>About Us</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/web/software-development"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>About Us</li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Company Overview</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="aboutus_page">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="info-column col-xl-8 col-lg-12 col-md-6 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">THE BEST PLACE TO FIND THE SOFTWARE YOU WANT</span>
                        <h2 class="font_text">Welcome To<br> Company Overview</h2>
                    </div>

                    <p class="text-justify"><strong>Afluex is a best emerging,</strong> comprehensive, full-service marketing Company. Works in two segment Advertising and IT Development Segment and it’s known for their lucrative result n ideas. Afluex has more than 8+ year’s deep experience in all media and aspects of marketing. We share best ideas, knowledge & experience to deliver outstanding results to our clients.</p>
                    <p class="text-justify">
                        Notable areas of expertise include: brand design and development, creative media strategies and placement, Media Buying & Branding, Print and interactive design, social networking and digital marketing, creative and technical writing.
                        We define strategic plans, Design campaigns and much more and also we focus on making bridges that can provide the client and their requirement on a single roof and with plenty of convenience and– most importantly.
                    </p>


                </div>
            </div>

            <!-- Video Column -->
            <div class="abt-column col-xl-4 col-lg-12 col-md-6 col-sm-12">
                <div class="inner-column">
                    <img src="~/afluexit/images/about_img2.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="info-column col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Our Approach</span>
                        <h3>Solution to fit your needs</h3>
                    </div>

                    <p class="text-justify">
                        Afluex has a collaborative creative process to engage and consult with clients early and often throughout the creative process. This presentation is a general case and demonstrates typical project development steps.
                        Afluex will always accommodate and deliver work within the timeframe allocated, adjusted to the process as required. Meetings will happen in person, on the phone or via our online project management portal. Furthermore, our process allows for creative participation by our clients on every project.
                    </p>


                </div>
            </div>

            <div class="info-column col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Our Soldiers & Social Network</span>
                        <h3>Our Soldiers</h3>
                    </div>

                    <p class="text-justify">We have more than year’s of experience wonderful creative team who is the master of their field and they are always ready to give their best result, no matter how the circumstances are.</p>
                </div>
                <div class="inner-column">
                    <div class="sec-title">
                        <h3>Our Service Network</h3>
                    </div>

                    <p class="text-justify">We Provide our service in Utter Pradesh & Bihar, Jharkhand, Uttrakhand and other ancillary states.</p>
                </div>
            </div>
        </div>
    </div>
</section>

