
@{
    ViewBag.Title = "digital_marketing_services";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="d-flex pt-3 bg-dark_skyblue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="text-white">Digital Marketing Company In Lucknow</h2>
                <p class="text-white mt-3 text-justify">
                    Get the best digital marketing services in Lucknow to grow your business.
                    The only fact which distinguishes us from the rest and makes Afluex the best digital
                    marketing company in Lucknow is that we provide a full range of services
                    to our customers. Gone are the days of using 10 different agencies to do different bits of digital marketing with our 360-degree approach to this job.
                </p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm border-white btn-skyblue">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-4 offset-2">
                <img src="~/afluexit/images/services/breadcrumb-dm.png" class="img-fluid"/>
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page mb-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-sm-12 text-center">
                <h2>Digital Marketing Services In Lucknow</h2>
                <p>
                    The only fact which distinguishes us from the rest and makes Afluex the best digital marketing company in Lucknow is
                    that we provide a full range of services to our customers. Gone are the days of using 10
                    different agencies to do different bits of digital marketing with our 360-degree approach
                    to this job. Get all the tools and services of digital marketing under one with us.
                    Not only that, as the best digital marketing company in Lucknow, we help clients
                    create full-blown and complete marketing strategies that incorporate various tools to bring successful results.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <img src="~/afluexit/images/icon/seo.png" class="icon_img" />
                        <h4 class="mt-4">Search Engine Optimization</h4>
                        <p>We provide top-quality SEO services to expand the awareness of your business and to rank it better on search engines. This is the reason we are the best digital marketing company in Lucknow.</p>
                        <div class="abt_btn mt-3">
                            <a href="/web/company-overview" class="btn btn-sm btn-skyblue">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <img src="~/afluexit/images/icon/social-media.png" class="icon_img" />
                        <h4 class="mt-4">Social Media Marketing</h4>
                        <p>The fastest and the most convenient way for every business to grow today is through Social Media channels and Barrownz Group offers top-quality Social Media Marketing services in Lucknow.</p>
                        <div class="abt_btn mt-3">
                            <a href="/web/company-overview" class="btn btn-sm btn-skyblue">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <img src="~/afluexit/images/icon/sem.png" class="icon_img" />
                        <h4 class="mt-4">Social Engine Marketing</h4>
                        <p>The fastest and the most convenient way for every business to grow today is through Social Media channels and Barrownz Group offers top-quality Social Media Marketing services in Lucknow.</p>
                        <div class="abt_btn mt-3">
                            <a href="/web/company-overview" class="btn btn-sm btn-skyblue">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <img src="~/afluexit/images/icon/pay-per-click.png" class="icon_img" />
                        <h4 class="mt-4">Pay-Per-Click</h4>
                        <p>With our Pay Per Click Advertising, we help our clients reach their target audience easily with strategically placed ads. That’s why we are the best digital marketing agency in Lucknow.</p>
                        <div class="abt_btn mt-3">
                            <a href="/web/company-overview" class="btn btn-sm btn-skyblue">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <img src="~/afluexit/images/icon/writing.png" class="icon_img" />
                        <h4 class="mt-4">Content Writing Services</h4>
                        <p>With our Content Writing Services, get quality content researched and curated by experts to improve SEO rankings. This is one of the main reason, we are the best digital marketing company in Lucknow.</p>
                        <div class="abt_btn mt-3">
                            <a href="/web/company-overview" class="btn btn-sm btn-skyblue">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <img src="~/afluexit/images/icon/video.png" class="icon_img" />
                        <h4 class="mt-4">Video Marketing</h4>
                        <p>Our Video Marketing services helps creating engaging videos with maximum reach potential. Hire our digital marketing agency in Lucknow & promote your brand on popular video channels like YouTube.</p>
                        <div class="abt_btn mt-3">
                            <a href="/web/company-overview" class="btn btn-sm btn-skyblue">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services_page pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h1 class="font-weight-bold">Ready to Get Started</h1>
                <p>
                    Stay ahead from Crowd. We have an expert team of application developers who are experienced and proficient.
                    We have  good <br /> experience in web and  mobile app development and are committed to delivering the best of the class solutions.
                </p>
                <div class="abt_btn mt-5">
                    <a href="/web/contactus" class="btn btn-lg btn-custom">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page bg-dar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Best Digital Marketing Company in Lucknow</h2>
                <p class="text-justify">
                    Afluex Multi services llp is the leading digital marketing company in Lucknow. With the
                    aid of exceptional talent and proven-marketing techniques, we help customers grow
                    their digital presence. Through our 360-degree digital marketing services in Lucknow,
                    we focus on all the different factors, so that our customers and their brands can
                    grow in an all-around way in the digital sphere. As the best digital marketing agency
                    in Lucknow, we help our clients grow brand awareness, get new customers, increase ROI,
                    and more. We designs effective digital marketing strategies to derive the best results possible
                    and then maximize them. Our special approach is applicable to all industries with the aim to bring results.
                </p>
                <div class="abt_btn mt-3 mb-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="~/afluexit/images/services/digital-marketing-2.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="services_page mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Our Digital Marketing Approach</h2>
                <p>We provide digital marketing services in Lucknow for following industries.</p>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-graduation-cap fa-2x mb-3"></i>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-stethoscope fa-2x mb-3"></i>
                        <p>Healthcare</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-music fa-2x mb-3"></i>
                        <p>Entertainment</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-bank fa-2x mb-3"></i>
                        <p>Banking</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-briefcase fa-2x mb-3"></i>
                        <p>Business</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-user fa-2x mb-3"></i>
                        <p>Job/Career</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-plane fa-2x mb-3"></i>
                        <p>Travel</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-truck fa-2x mb-3"></i>
                        <p>Transport</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-cutlery fa-2x mb-3"></i>
                        <p>Food</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-home fa-2x mb-3"></i>
                        <p>Real Estate</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-futbol-o fa-2x mb-3"></i>
                        <p>Sports</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-6 p-2">
                <div class="card card_hover">
                    <div class="card-body text-center">
                        <i class="fa fa-heart fa-2x mb-3"></i>
                        <p>Dating</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="work_process">
    <div class="container text-white mt-5">
        <h2>Work Process</h2>
        <p>We follow Agile and Scrum Approach for Quick Turnaround and Quality.</p>
    </div>
</div>
<div class="process_step">
    <div class="container">
        <div class="process_flow">
            <ul>
                <li>
                    <picture>
                        <img src="~/afluexit/images/icon/1.png" alt="Mobile App Development Services" width="175" height="170">
                    </picture>
                    <span>01</span>
                    <h6>Strategy &amp; Concept</h6>
                </li>
                <li class="process_arrow">
                    <picture>
                        <img src="~/afluexit/images/icon/arrow.png" alt="Mobile App Development Services" width="145" height="31">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src="~/afluexit/images/icon/2.png" alt="Mobile App Development Services" width="175" height="170">
                    </picture>
                    <span>02</span>
                    <h6>Design and Development</h6>
                </li>
                <li class="process_arrow">
                    <picture>
                        <img src="~/afluexit/images/icon/arrow.png" alt="Mobile App Development Services" width="145" height="31">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src="~/afluexit/images/icon/3.png" alt="Mobile App Development Services" width="175" height="170">
                    </picture>
                    <span>03</span>
                    <h6>Testing and Support</h6>
                </li>
                <li class="process_arrow">
                    <picture>
                        <img src="~/afluexit/images/icon/arrow.png" alt="Mobile App Development Services" width="145" height="31">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src="~/afluexit/images/icon/4.png" alt="Mobile App Development Services" width="175" height="170">
                    </picture>
                    <span>04</span>
                    <h6>Digital Marketing</h6>
                </li>
            </ul>
        </div>
    </div>
</div>

<section class="services_page mb-5">
    <div class="container">
        <div class="sec-idea-bg">
            <div class="row">
                <div class="col-sm-7 offset-1">
                    <div class="idea_img d-flex align-items-center">
                        <img src="~/afluexit/images/idea_img.png" class="img-fluid idea_img-mobile m-2" />
                        <div class="text text-white">
                            <h2>HAVE AN IDEA?</h2>
                            <p>Convert your idea into a profitable business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-end">
                    <div class="abt_btn p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn text-white" style="border:1px solid #fff">Request A Free Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="m-4">
                    <div class="accordion" id="myAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">1. Why should you invest in digital marketing? </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>Digital marketing is one of the most efficient and effective ways to connect with customers and promote your business. Here are four reasons why you should invest in digital marketing in Lucknow.</p>
                                    <p>First, digital marketing is extremely cost-effective. You can reach a large number of people without spending a lot of money. Second, digital marketing is very convenient. You can reach your target audience at any time and from anywhere.</p>
                                    <p>Third, digital marketing is very flexible. You can tailor your marketing messages to specific demographics, interests, and needs. Finally, digital marketing is extremely effective. Digital marketing campaigns have been shown to generate leads and sales.</p>
                                    <p>If you are looking for a way to connect with customers and promote your business, invest in digital marketing and hire Barrwonz Group - the best digital marketing agency in Lucknow. You will not be disappointed with the results.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">2. What does a digital marketing agency?</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>A digital marketing agency in Lucknow can help you with a variety of tasks related to online marketing. They can help you create and manage your website, social media accounts, and other online presence. In addition, they can help you create and execute a digital marketing strategy that will reach your target audience.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">3. Why do I choose a digital marketing agency?</button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>Any digital marketing agency in Lucknow offer a wide range of services, so it is important to find one that is a good fit for your needs. Make sure to ask about their experience, services offered, and price before hiring an agency. With the right digital marketing company in Lucknow, you can take your business to the next level.</p>
                                    <p>The best way to find a reputable digital marketing agency is to ask for referrals from people you trust. You can also read online reviews to get a sense of what others have to say about the agency. Once you have found a few agencies that you are interested in, make sure to schedule a consultation so you can learn more about their services and what they can do for your business.</p>
                                    <p>There are some other factors too to consider when choosing a digital marketing agency in Lucknow:</p>
                                    <p>An important factor to consider is the cost of the digital marketing services in Lucknow. You want to find an agency that offers affordable rates so you can save money on your marketing budget.</p>
                                    <p>Also, you want to make sure the agency you choose has experience in the industry. This will ensure they are up-to-date on the latest trends and can provide you with the best possible service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>