@{
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="pt-3 bg-dark_skyblue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="text-white font_text">E-Commerce Web Design Company</h1>
                <p class="text-white mt-3 text-justify">
                    A well-organized eCommerce website is similar to a mall store, where the first 
                    impression counts. A stunning display will attract customers, and a well-organized store will inspire
                     them to browse and buy. With e-commerce business and online application development it has become possible to just imagine and create.
                </p>
                <div class="abt_btn mt-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-4 offset-2">
                <img src="~/afluexit/images/services/ecommerce_bg.png" class="img-fluid" />
              </div>
          </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Why Choose Us For E-Commerce Web Design Company In Lucknow ?</h3>
                <p class="gb-headline"></p>
                <p>It is estimated that 53 percent of website visits would be abandoned if the website takes more than three seconds to load. In comparison, almost 50 percent of people expect that the website would load in less than two seconds. If your E-Commerce website's efficiency is lacking, your competitor's website would be where your audience escapes. Afluex Multiservices LLP is the top E-Commerce Web Design Company in Lucknow.</p>
                <p>The speed of the E-Commerce website influences more than just user experience. It also plays an important part in search engine optimization. In comparison, fast loaded E-Commerce websites tend to have better conversion rates and lower bounce rates. Your store's search rankings will drop if search engines determine your website is loading more slowly than expected. When we build an E-Commerce website, we take the search engine optimization, user experience & page speed seriously for both smartphone and desktop shopping experience.</p>
            </div>
            <div class="col-lg-6">
                <img src="~/afluexit/images/services/ecommerce-img.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-light_blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="~/afluexit/images/services/vector-Responsive-design.png" class="img-fluid" />
                <h3>MOBILE-FRIENDLY - RESPONSIVE ECOMMERCE DESIGNS</h3>
                <center><p class="gb-headline"></p></center>
                <p>More than 50 percent of the traffic on the website comes from smartphone devices. With this in mind, it is imperative that mobile shoppers can easily and securely access your website on mobile devices. Not just that, offering support to smartphone shoppers is considered the best practice in E-Commerce SEO. Google will lower your website's organic search ranking if your platform does not have enough service for smartphone devices. You can prevent this by partnering with an E-Commerce Web Design Company that can build a mobile-friendly platform.</p>
                <p>You can get a responsive, custom E-Commerce website when you choose our E-Commerce Web Design & Web Development, WordPress Web Design, Website Redesign Service. A responsive interface means that the website looks and operates perfectly on devices ranging from smartphones to laptops. Our E-Commerce Web Design Company in Lucknow has the expertise to develop mobile websites that appear appealing on any screen scale.</p>
                <p>Best of all, we can integrate your responsive E-Commerce site design into Shopify, BigCommerce, or WooCommerce. Getting your responsive website built into a successful e-commerce platform would guarantee that you are ready for years to come. If you're looking for a quick E-Commerce platform or a comprehensive E-Commerce creation with custom design or programming specifications, our E-Commerce Web Design Company has got you covered.</p>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5">
    <div class="container">
        <div class="row text-center">
            <h2>Included In Our E-Commerce Website Design</h2>
            <p>Afluex Multiservices LLP has been in the eCommerce web design business for decades, and is one of the leading companies in Lucknow. </p>
            <center><p class="gb-headline"></p></center>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/mobile-friendly.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Mobile Friendly & Responsive</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>
                            We design and develop responsive mobile-friendly websites that provide a superior user experience. Our expert web designers design mobile-friendly websites that look good and are simple to use on mobile phones and tablets.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/custom-design.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Custom Design To Match Your Brand</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>
                            Your eCommerce website doesn’t have to be boring! At Afluex Multiservices LLP, we understand how important it is for every aspect of the design process from start-to finish reflect what makes you unique as a company. We work closely with the client to transform their vision into a visual reality.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/shopping-cart.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">User-Friendly Shopping Cart</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>
                            Our eCommerce website development service aims to provide a smooth and enjoyable shopping experience for your customers. We build carts experience that are user-friendly, easy to navigate through as well as aesthetically pleasing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/seo-2.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Search Engine Optimization</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>Our eCommerce websites are search engine friendly. Our team utilises the latest techniques ensuring your eCommerce store ranks high on search engines. Our website designing team ensure a visually pleasing website that also ranks high SERPs.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/checkout-process.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Secure Checkout Process</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>A secure checkout process is compulsory for any eCommerce store website. Afluex Multiservices LLP sets up a secure check out process that complies with all latest security standards. We will also integrate payment processors like PayPal and Stripe into whatever site design we create for you!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/social-media-integration.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Social Media Integration</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>Integrating your eCommerce website with social media platforms like Facebook and Twitter will help you reach out and connect to more customers. We help you do that with customised solutions that widen your customer reach and boost sales.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/catalog-management.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Product Catalog Management</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>Whether you sell one product or 1000, our team can help companies of all sizes across to increase their sales. Our product catalog management services are tailored to fit any company’s needs and will expand as  your business grows!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/order-management.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Order Management System</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>We’re all about making things easy, and that includes your orders. With our Order Management System you can manage inventory levels with ease while processing customer requests for new products or shipping existing ones.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/crm.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Customer Relationship <br /> Management (CRM) System</h5>
                        <center><p class="gb-headline"></p></center>
                        <p class="text-center">CRMs are a great way to manage customer data and interactions. They help you keep track of purchases and interactions. We develop custom CRM systems to meet your specific business needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h1 class="font_text">Ready to Get Started</h1>
                <p>
                    Stay ahead from Crowd. We have an expert team of application developers who are experienced and proficient.
                    We have  good <br /> experience in web and  mobile app development and are committed to delivering the best of the class solutions.
                </p>
                <div class="abt_btn mt-5">
                    <a href="/web/contactus" class="btn btn-lg btn-custom">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5">
    <div class="container">
        <div class="row text-center">
            <h2 class="font_text">Our E-Commerce Website Design Process</h2>
            <center><p class="gb-headline"></p></center>
            <p>Our experienced ecommerce web team follow a streamlined process for designing eCommerce websites.</p>
            </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <img src="~/afluexit/images/services/strategy-and-planning.png" class="img-fluid"/>
            </div>
            <div class="col-lg-9 pt-5 text-justify">
                <h3>STRATEGY AND PLANNING</h3>
                <p>The design team works with you to understand your requirement. Your eCommerce website requires a lot of strategising and planning, which is why we’re here! We’ll help figure out what exactly are your goals, your target audience, and the features and functionalities you want on your website.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-9 mt-5 text-justify">
                <h3>WIREFRAME AND DESIGN CREATION</h3>
                <p>After understanding your needs, our team will create wireframes that we can show you. Once approved by someone responsible for design work at your end, the designing work starts!
                Your eCommerce website is developed keeping your preferences, branding elements and target audience in mind.</p>
            </div>
            <div class="col-lg-3">
                <img src="~/afluexit/images/services/wireframe-and-design-creation.png" class="img-fluid" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <img src="~/afluexit/images/services/development-and-integration.png" class="img-fluid" />
            </div>
            <div class="col-lg-9 pt-5 text-justify">
                <h3>DEVELOPMENT AND INTEGRATION</h3>
                <p>After understanding your needs, our team will create wireframes that we can show you. Once approved by someone responsible for design work at your end, the designing work starts!
                Your eCommerce website is developed keeping your preferences, branding elements and target audience in mind.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-9 text-justify">
                <h3>TESTING</h3>
                <p>When designing is completed, our team tests it for browser compatibility, mobile and other devices, before sending it to the client for next stage approval.</p>
                Afluex Multiservices LLP has a team of experienced testers to ensure your website is functioning properly and meets all requirements. Our comprehensive quality assurance process ensures that we find any bugs and fix them in order for your website to provide a smooth user-friendly experience.
            </div>
            <div class="col-lg-3">
                <img src="~/afluexit/images/services/testing.png" class="img-fluid" />
            </div>   
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <img src="~/afluexit/images/services/free-maintenance.png" class="img-fluid" />
            </div>
            <div class="col-lg-9 mt-3 text-justify">
                <h3>DELIVERY & 15-DAYS FREE MAINTENANCE</h3>
                <p>Once throughly tested and approved at client’s end, we make the final delivery by making the eCommerce website live. Our team provides continuous support for next 15 days to ensure your website is working smoothly.</p>
                <p>Now that you’re finally done building your eCommerce website, we’ll be there to make sure it stays running smoothly. With our team by your side, you’ll have access to continuous support for 15 days that ensures the website works without a glitch and any issues are taken care of quickly so sales continue coming in!</p>
            </div>
        </div>
        </div>
    </section>

@*<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <img src="~/afluexit/images/services/customer-service.jpg" class="img-fluid"/>
                @*<h3 class="text-capitalize">
                    If you are ready to build your next PPC marketing campaign, reach out to receive an obligation-free
                    PPC & retargeting assessment.
                </h3>
                <h5 class="mt-3">During our evalution, we will look at:</h5>
                <ul>
                    <li>Google Analytics Data</li>
                    <li>Curent PPC & retargeting results</li>
                    <li>Budget(Cost per lead/cost per click)</li>
                    <li>Landing page performance</li>
                    <li>Your current (or planned) conversion rate</li>
                </ul>
                <p>
                    Our high-level PPC and retargeting campaigns are proven effective from the very start and
                    we have a terrific track.
                </p>
                <h3>Chat With Our Specialists or Call Us</h3>
                <h3><a href="tel:917310000413">+91 731-0000-413</a>/<a href="tel:917310000412"> 412</a></h3>
            </div>
            <div class="col-lg-6">
                <div class="card" style="background:#418fb2">
                    <div class="card-body">
                        <form class="dzForm p-4" action="">
                            <h3 class="title-box mb-5 text-white">
                                Write us a few words about your project and we’ll prepare a proposal for you within 24 hours
                            </h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="First Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Last Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Email" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Mobile" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Company Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="What can we help with?" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <textarea Placeholder="Message" class="form-control contact-box" cols="80" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="abt_btn">
                                        <input type="submit" class="btn btn-lg btn-custom" value="Submit" name="btnSave"/>
                                    </div>
                                    @*<div class="contact_btn">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Submit" name="btnSave" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

            @*<section class="services_page pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <img src="~/afluexit/images/services/seo-friendly-e-com.png" class="img-fluid" />
                                <h3>MOBILE-FRIENDLY - RESPONSIVE ECOMMERCE DESIGNS</h3>
                                <p>More than 50 percent of the traffic on the website comes from smartphone devices. With this in mind, it is imperative that mobile shoppers can easily and securely access your website on mobile devices. Not just that, offering support to smartphone shoppers is considered the best practice in E-Commerce SEO. Google will lower your website's organic search ranking if your platform does not have enough service for smartphone devices. You can prevent this by partnering with an E-Commerce Web Design Company that can build a mobile-friendly platform.</p>
                                <p>You can get a responsive, custom E-Commerce website when you choose our E-Commerce Web Design & Web Development, WordPress Web Design, Website Redesign Service. A responsive interface means that the website looks and operates perfectly on devices ranging from smartphones to laptops. Our E-Commerce Web Design Company in Lucknow has the expertise to develop mobile websites that appear appealing on any screen scale.</p>
                                <p>Best of all, we can integrate your responsive E-Commerce site design into Shopify, BigCommerce, or WooCommerce. Getting your responsive website built into a successful e-commerce platform would guarantee that you are ready for years to come. If you're looking for a quick E-Commerce platform or a comprehensive E-Commerce creation with custom design or programming specifications, our E-Commerce Web Design Company has got you covered.</p>
                            </div>
                        </div>
                    </div>
                </section>*@
