
@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_gallery.jpeg);">
    <div class="container">
        <h1>Gallery</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/web/it-services"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="contactus_page">
    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center">
                    <button class="btn btn-default filter-button active" id="all" onclick="call(this.id)">All</button>
                    <button class="btn btn-default filter-button" id="happy_new_year" onclick="call(this.id)">Happy New Year 2021</button>
                    <button class="btn btn-default filter-button" id="office" onclick="call(this.id)">Office </button>
                    <button class="btn btn-default filter-button" id="diwali" onclick="call(this.id)">Diwali </button>
                    <button class="btn btn-default filter-button" id="birthday" onclick="call(this.id)">Birthday</button>
                </div>
            </div>
            <a href="~/afluexit/images/gallery/newyear_21/h4.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter happy_new_year">
                <img class="gallery-img" src="~/afluexit/images/gallery/newyear_21/h4.jpg">
            </a>
            @*<a href="~/afluexit/images/gallery/newyear_21/h10.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter happy_new_year">
                <img class="gallery-img" src="~/afluexit/images/gallery/newyear_21/h10.jpg">
            </a>*@
            <a href="~/afluexit/images/gallery/newyear_21/h21.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter happy_new_year">
                <img class="gallery-img" src="~/afluexit/images/gallery/newyear_21/h21.jpg">
            </a>
            <a href="~/afluexit/images/gallery/newyear_21/h23.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter happy_new_year">
                <img class="gallery-img" src="~/afluexit/images/gallery/newyear_21/h23.jpg">
            </a>
            <a href="~/afluexit/images/gallery/newyear_21/h24.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter happy_new_year">
                <img class="gallery-img" src="~/afluexit/images/gallery/newyear_21/h24.jpg">
            </a>
            <a href="~/afluexit/images/gallery/newyear_21/h26.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter happy_new_year">
                <img class="gallery-img" src="~/afluexit/images/gallery/newyear_21/h26.jpg">
            </a>

            <a href="~/afluexit/images/gallery/office/1.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter office">
                <img class="gallery-img" src="~/afluexit/images/gallery/office/1.jpg">
            </a>
            <a href="~/afluexit/images/gallery/office/2.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter office">
                <img class="gallery-img" src="~/afluexit/images/gallery/office/2.jpg">
            </a>
            <a href="~/afluexit/images/gallery/office/5.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter office">
                <img class="gallery-img" src="~/afluexit/images/gallery/office/5.jpg">
            </a>
            <a href="~/afluexit/images/gallery/office/6.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter office">
                <img class="gallery-img" src="~/afluexit/images/gallery/office/6.jpg">
            </a>
            <a href="~/afluexit/images/gallery/office/7.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter office">
                <img class="gallery-img" src="~/afluexit/images/gallery/office/7.jpg">
            </a>
            <a href="~/afluexit/images/gallery/office/8.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter office">
                <img class="gallery-img" src="~/afluexit/images/gallery/office/8.jpg">
            </a>
            <a href="~/afluexit/images/gallery/office/9.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter office">
                <img class="gallery-img" src="~/afluexit/images/gallery/office/9.jpg">
            </a>
            <a href="~/afluexit/images/gallery/office/10.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter office">
                <img class="gallery-img" src="~/afluexit/images/gallery/office/10.jpg">
            </a>

            <a href="~/afluexit/images/gallery/birthday/birthday_img9.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img9.jpeg">
            </a>
            
            <a href="~/afluexit/images/gallery/birthday/birthday_img1.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img1.jpeg">
            </a>
            <a href="~/afluexit/images/gallery/birthday/birthday_img2.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img2.jpeg">
            </a>
           
            <a href="~/afluexit/images/gallery/birthday/birthday_img3.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img3.jpeg">
            </a>
            <a href="~/afluexit/images/gallery/birthday/birthday_img5.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img5.jpeg">
            </a>
            <a href="~/afluexit/images/gallery/birthday/birthday_img13.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img13.jpeg">
            </a>
            <a href="~/afluexit/images/gallery/birthday/birthday_img6.jpeg"
         class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
        <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img6.jpeg">
      </a>
            <a href="~/afluexit/images/gallery/birthday/birthday_img10.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img10.jpeg">
            </a>

            <a href="~/afluexit/images/gallery/birthday/birthday_img11.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img11.jpeg">
            </a>
            <a href="~/afluexit/images/gallery/birthday/birthday_img4.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img4.jpeg">
            </a>
            <a href="~/afluexit/images/gallery/birthday/birthday_img8.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img8.jpeg">
            </a>
            <a href="~/afluexit/images/gallery/birthday/birthday_img14.jpeg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter birthday">
                <img class="gallery-img" src="~/afluexit/images/gallery/birthday/birthday_img14.jpeg">
            </a>
            <a href="~/afluexit/images/gallery/diwali/1.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter diwali">
                <img class="gallery-img" src="~/afluexit/images/gallery/diwali/1.jpg">
            </a>
            <a href="~/afluexit/images/gallery/diwali/2.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter diwali">
                <img class="gallery-img" src="~/afluexit/images/gallery/diwali/2.jpg">
            </a>
            <a href="~/afluexit/images/gallery/diwali/4.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter diwali">
                <img class="gallery-img" src="~/afluexit/images/gallery/diwali/4.jpg">
            </a>
            <a href="~/afluexit/images/gallery/diwali/5.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter diwali">
                <img class="gallery-img" src="~/afluexit/images/gallery/diwali/5.jpg">
            </a>
            <a href="~/afluexit/images/gallery/diwali/8.jpg"
               class="glightbox gallery_product col-6 col-lg-3 col-md-3 col-sm-3 col-xs-6 filter diwali">
                <img class="gallery-img" src="~/afluexit/images/gallery/diwali/8.jpg">
            </a>
        </div>
    </div>
</section>

