
@{
    ViewBag.Title = "hospital_management_software";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="pt-5 pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-white">
                <h1 class="font_text">Automated Advance Hospital Management System</h1>
                <p class="text-justify">Afluex Multiservices llp provides a holistic hospital management solution for all healthcare providers including stakeholders like Doctors, Pharmacists, Radiologist, Pathologist, Accountant and more. Our future-ready design and technologically advanced business case for clinic management and smart hospitals helps in reducing operational cost, promote paperless flow while ensuring greater patient engagement and efficiency.</p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-4 offset-1">
                <img src="~/afluexit/images/services/hospital_bg.png" style="height:400px;" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">THE BEST PLACE TO FIND THE MLM Software YOU WANT</span>
                        <h2>Our Hospital Software Development Solutions</h2>
                    </div>
                    <div class="services_content_details">
                        <p class="text-justify">
                            Afluex Multiservices llp provides a holistic hospital management solution for all healthcare providers including stakeholders like Doctors, Pharmacists, Radiologist, Pathologist, Accountant and more. Our future-ready design and technologically advanced business case for clinic management and smart hospitals helps in reducing operational cost, promote paperless flow while ensuring greater patient engagement and efficiency.
                        </p>
                        @* <p class="text-justify">
                                These types software system may well be a Customizable, Comprehensive and Integrated Hospital Management System designed to manage all hospital operations. Hospitals, It will be utilized by health care Facilities, Multi-Specialty Clinics, and Medical
                                Practitioners. Multi-Location facilities allow your Hospitals, Satellite Clinics, and Stores to be interconnected. The customizable alert system sends the text, IM and email reminders and improves the standard of patient care.
                                Electronic medical history (EMR Systems) helps to remember of revenue stream, patient records and different key metrics at your fingertips. Our hospital management software system permits electronic sharing of patient records
                                with different providers and medical applications and manages the health of patients like Patient and suppliers will see your lab results and history online, securely chat with providers, schedule next appointment. Our hospital
                                management software is user-friendly and with no error that is usually associated with handwriting. Pulling up server or cloud information is now easily done with new technological computer systems, yielding optimal performance.
                                Patients can find doctors and book an online appointment based on specialty, rating, fees, and availability. Managing doctor's schedules, collating patient notes, and handling payment is effortless. Doctors and Patients can
                                check the schedule on mobile phones and live less chaotic lives. It is developed based on the best practices around the world.
                            </p>
                            <h5 class="green">Additional Features of HMS:</h5>*@
                        @*<p class="text-justify">
                                Well, it's a huge system and consists of infinite modules and features that move into the making of Hospital Management software system. Find here the additional features comprised in this system:
                            </p>
                            <div class="about-list d-flex justify-content-sm-between">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Dietary Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Pathology Lab Software </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Blood Bank Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Laboratory Information System </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Ambulance Services Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Nursing and Ward Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Bed Census Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Pharmacy Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Financial Accounting System </li>
                                    </ul>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Physiotherapy and Rehabilitation </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Electronic Medical Records </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Operation Theatre Scheduling and Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Biomedical Waste Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Housekeeping and Laundry Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Inventory and Purchase Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Causality and Emergency Management </li>
                                    <li><i class="fa fa-circle-o" aria-hidden="true"></i> Document Management System </li>
                                </ul>
                            </div>*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page mb-5">
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-8 text-justify">
                <h2>Doctor Portal</h2>
                <p>
                    Afluex’s healthcare software solutions offers hospitals a host of features for Doctor Web Application that helps them improve patient experience, improve quality of care, and optimize workflows. All within a simple user interface. Open to customization, some of the vital features of Doctor Web Platform in our hospital management system software includes:
                </p>
                <ul>
                    <li>An appointment scheduling software to create and manage patient appointments.</li>
                    <li>The system enables to manage patient appointments in OPD, IPD & OT.</li>
                    <li>A digital assistant to create e-prescriptions for their patients.</li>
                    <li>Minimize wait times and maximize beds occupancy through bed assignment & management.</li>
                    <li>Ability to manage patients admissions and set up live consultation if required.</li>
                    <li>Doctors can manage their practice using report management.</li>
                    <li>A smart system to access their organized payroll data.</li>
                    <li>Amplify productivity by setting their schedules for respective dates on calendar.</li>
                    <li>Other features like viewing latest notice, getting notified on new activity, creating documents etc.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hospital_service-1.png" class="img-fluid" />
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hospital_service-2.png" class="img-fluid" />
            </div>
            <div class="col-lg-8 text-justify">
                <h2>Patient Portal</h2>
                <p>
                    Gain access to an online interactive tool for patients designed to improve the customer experience, increase patient satisfaction, and promote transparency. Our nimble and futuristic design for patient web portal development encourages positive outcomes through features like:
                </p>
                <ul>
                    <li>Online scheduling allows patients to book a new appointment.</li>
                    <li>Patients can access their upcoming appointments with status of Approve/Pending.</li>
                    <li>Option to view their prescriptions online and adhere to medication.</li>
                    <li>Patients can track their own OPD appointments, OPD visits & IPD treatment.</li>
                    <li>Can see basic details of their doctor (qualifications, timings, fees) and message them.</li>
                    <li>Can see their admin and operation history (dates, reports, narratives, charges).</li>
                    <li>Ability to see invoices and bills of patient with a liberty to download them.</li>
                    <li>Extra features such as viewing list of documents, latest notice, getting notifications etc.</li>
                </ul>
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-lg-8 text-justify">
                <h2>Account  Management</h2>
                <p>
                    Account management is a significant tool for hospitals that optimizes and streamlines collaboration across multiple divisions of healthcare system like out-patient, in-patient, birth records, billing and payroll, and many more. At Codiant, we have designed a healthcare software that meets core of your hospital and functions as a tool to help your team of accountants.
                </p>
                <ul>
                    <li>Ability to manage and download invoices created against any purchase or bills generated.</li>
                    <li>Have full authority to access bills generated against income and expenses.</li>
                    <li>Accountants can easily access payrolls of all staff members and mark salary status.</li>
                    <li>All controls to see income list, manage payments against any expenses.</li>
                    <li>Can see the latest notifications from staff, admin, and against patients’ bill payments.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/acc.png" class="img-fluid" />
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hospital_service-2.png" class="img-fluid" />
            </div>
            <div class="col-lg-8 text-justify">
                <h2>Radiology Management</h2>
                <p>
                    Afluex’s integrated and secured custom pathology lab management system is designed for coordinating and managing all the vital activities involved in the pathology center. From booking patients test to live video consultation, the features are developed to save time and increase productivity.
                </p>
                <ul>
                    <li>Enables pathologists to add pathology test of patients.</li>
                    <li>Maintain patients’ history and view patients’ test reports with an ability to download them.</li>
                    <li>Be a part of LIVE video consultation, have live meeting with patient and manage sessions.</li>
                    <li>Can access their leaves and payroll status and apply for leave against given types.</li>
                    <li>Email and SMS facility to communicate inter department.</li>
                    <li>Keep track of all pathology reports, view and download them instantly.</li>
                    <li>Easy accessibility to patient list and full control to upload content.</li>
                    <li>Pathologists can add, update respective charges for different tests in their department.</li>
                </ul>
            </div>
        </div>

        

        <div class="row pt-5 pb-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/reception_portal.png" class="img-fluid" />
            </div>
            <div class="col-lg-8 text-justify">
                <h2>Reception Portal</h2>
                <p>
                    A fully functional online tool for receptionist to secure your hospital, improve work efficiency and patient satisfaction. Having this all-inclusive receptionist portal at your front desk can help you simplify the front desk operations mostly burdened in managing visitors.
                </p>
                <ul>
                    <li>Receptionist can create and manage all OPD appointments, visitors, postal & complaint.</li>
                    <li>Have full control to see, approve and manage requested appointments by patients.</li>
                    <li>Have authority to manage all services (Ambulance, insurance, packages, blood bank).</li>
                    <li>Easy accessibility to view patients details under all departments (OPD, IPD, OT).</li>
                    <li>Right to access their payrolls department wise and filter by month and year.</li>
                    <li>Maintain seamless communication by sending mails, messages to department, patients.</li>
                    <li>Can create noticeboards, send it to individuals or broadcast it to all departments.</li>
                </ul>
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-lg-8 text-justify">
                <h2>Pharmacy Management</h2>
                <p>
                    User friendly, secured and smart automated pharmacy management solution built-in as an integral part of the system to ensure easy accessibility for pharmacists to conduct day-to-day pharmacy operations. Open to customizability, some of the primary features of our < strong>health software includes:
                </p>
                <ul>
                    <li>The system enables pharmacists to manage medicine categories while adding medicines.</li>
                    <li>Manage medicine bills and add stock/quantity with medicine composition and unit cost.</li>
                    <li>Be notified for alerts like messages, reports, and new medicine by admin, etc.</li>
                    <li>View and download reports of medicine bills and filter them date-wise and by other details.</li>
                    <li>View reports of expired medicines labelled at the time of stock purchase.</li>
                    <li> Purchase medicines by choosing the supplier, mentioning details and in-turn get automated costs.</li>
                    <li>Import stock details and add CSV/Excel file to update stock.</li>
                    <li> An option to set up live consultation session with patients.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/pharmacy_management.png" class="img-fluid" />
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/admin_panel.png" class="img-fluid" />
            </div>
            <div class="col-lg-8 text-justify">
                <h2>Admin Panel</h2>
                <p>
                    The Admin is a planner, supervisor, and oversees all the day-to-day administrative operations in the hospital facilities. In order to ensure a hospital is in compliance with its internal policies and other medical regulations we have designed the admin responsibilities that adhere with entire medical services. You can also get built features that matches your hospital requirements. Our solution includes features like:
                </p>
                <ul>
                    <li>Admin can manage all the departments and users list with their current status.</li>
                    <li>Manage departments and roles and set permissions for all members based on their profiles.</li>
                    <li>View visual dashboard with details like total income, latest events, upcoming appointments, etc.</li>
                    <li>Access hospital monitoring with total patients’ data department wise and check on patient detail.</li>
                    <li>View and access list of total appointments and the respected members along with date.</li>
                    <li>Access, download, print system generated bills, invoices and the payments done for stock by the system.</li>
                    <li>Access total medicines listed in stock with their purchase details and units available.</li>
                    <li>Access payrolls of all the staff members department wise and check their current status.</li>
                    <li>Have setting option for all the departments and its members individually with full control to set its permissions.</li>
                    <li>Create notice boards or say notifications to be send to different departments.</li>
                </ul>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-lg-8 text-justify">
                <h2>Super Admin</h2>
                <p>
                    Our Super Admin Panel in hospital information management solution is designed to simplify the complex and cumbersome process of different medical facilities in the healthcare system. From overseeing the financial health of the departments to managing staff, records, and health informatics to ensuring compliance with internal policies, the super admin panel focus on value and accountability. Some of its key features include:
                </p>
                <ul>
                    <li>Admin can manage all the departments and users list with their current status.</li>
                    <li>Manage departments and roles and set permissions for all members based on their profiles.</li>
                    <li>View visual dashboard with details like total income, latest events, upcoming appointments, etc.</li>
                    <li>Access hospital monitoring with total patients’ data department wise and check on patient detail.</li>
                    <li>View and access list of total appointments and the respected members along with date.</li>
                    <li>Access, download, print system generated bills, invoices and the payments done for stock by the system.</li>
                    <li>Access total medicines listed in stock with their purchase details and units available.</li>
                    <li>Access payrolls of all the staff members department wise and check their current status.</li>
                    <li>Have setting option for all the departments and its members individually with full control to set its permissions.</li>
                    <li>Create notice boards or say notifications to be send to different departments.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/super_admin.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>


<section class="services_page mb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h3 class="font_text">Be Resilient With Our Full-Suite Of Healthcare Modules</h3>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/doctor.png" class="img-fluid feature_icon"/>
                        </div>
                        <p>Doctor</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/patient.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Patients</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/nurse.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Nurses</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/receptionist.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Receptionists</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/lab.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Lab Technician</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/pharmacist.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Pharmacists</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/radiology.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Radiology</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/accountant.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Accountants</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/account.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Accounts</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/appointment.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Appointments</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/pay.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Advance Pay</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/dashboard.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Dashboard</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/emp.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Employee</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/schedule.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Schedules</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/bed-1.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Beds Status</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/bed-2.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Beds Assigns</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/blood_bank.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Blood Bank</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/blood_donor.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Blood Donors</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/medi_kit.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Medicines Cat..</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/bed-3.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Bed Types</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/doc_type.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Document Types</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/doc.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Documents</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/birth_report.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Birth Reports</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/insurance.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Insurance</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/op_report.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Operation Reports</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/invoice-1.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Invoices</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/medi_brand.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Medicines Brand</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/opd.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Doctor OPD</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/bill.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Bills</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/payment.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Payment</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/dept.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Doctor Dept.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/history.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Operation History</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/prescription.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Prescriptions</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/ambulance.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Ambulance</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/expense.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Expenses</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/case.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Cases</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/enquiry.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Enquiry</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/setting.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Setting</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/income.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Income</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/investigation.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Investigation</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/mail.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Mail</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon">
                            <img src="~/afluexit/images/icon/test.png" class="img-fluid feature_icon" />
                        </div>
                        <p>Pathology Tests</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </section>


<section class="pt-5 bg-dark_skyblue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-white">
                <span>Your One-Stop Healthcare Solution Provider</span>
                <h2 class="font_text mb-3">Explore Our Other Healthcare Solution Offerings</h2>
                <ul style="column-count:2">
                    <li>Telemedicine App Development</li>
                    <li>Remote Patient Monitoring</li>
                    <li>Healthcare App Development</li>
                    <li>Solution for Life Sciences</li>
                    <li>Fitness App Development</li>
                    <li>Clinical Management Software</li>
                    <li>Physiotherapy and Rehabilitation </li>
                    <li>Electronic Medical Records </li>
                    <li>Operation Theatre Scheduling and Management </li>
                    <li>Housekeeping and Laundry Management </li>
                    <li>Inventory and Purchase Management </li>
                    <li>Causality and Emergency Management </li>
                    <li>Document Management System </li>
                </ul>
                <div class="abt_btn mt-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-lg btn-custom">Get A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-4 offset-1">
                <img src="~/afluexit/images/services/doctor.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->




































