
@{
    ViewBag.Title = "ios_app";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="pt-3 bg-dark_skyblue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="text-white font_text">iOS Services</h1>
                <p class="text-white mt-3">
                    Our services don’t stop with Google Adwords management. Our team of experts works with you
                    to create an effective and strategic PPC campaign. Bring in more sales, not just more leads.
                </p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <img src="~/afluexit/images/services/ios-bg.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page mb-5">
    <div class="container">
        <div class="row">
            <h2 class="widget-title font_text">IOS Application Development and Services</h2>
            <p>The iOS APP Service is being offered by Afluex Multiservices LLP for your business requirements. Among all mobile platforms, we have the most reliable, expert, and professional team for iOS. Firstly, our Mobile App Development team scrutinizes your requirements and uses the latest operating systems to come up with user-friendly and dynamic mobile solutions across all platforms.</p>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card bg_blue">
                            <div class="card-body">
                                <h5>Custom Application</h5>
                                <p>However small or big your requirement, our team makes a beautiful iOS App that is tailored specifically to your business prerequisites.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg_blue">
                            <div class="card-body">
                                <h5>Native Application</h5>
                                <p>It is filled with a lot of ways to make a Mobile App the mobile application development. One of the most popular is iOS.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg_blue">
                            <div class="card-body">
                                <h5>Apple Wearables</h5>
                                <p>There are plenty of Apple's wearables categories that contains AirPods, Apple Watch, Beats headphones and Air Pods Pro.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/afluexit/images/services/ios_service.png" class="img-fluid" />
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card bg_blue">
                            <div class="card-body">
                                <h5>Patching and Updates</h5>
                                <p>For the protection of our clients, we don’t discuss, disclose or confirm security issues until an analysis has happened and releases.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg_blue">
                            <div class="card-body">
                                <h5>iPhone App UI/UX Designing</h5>
                                <p>Engaging user experiences are made on a benchmark for solid interface design. Our design team is making UI/UX Designing in the iPhone App for user friendly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg_blue">
                            <div class="card-body">
                                <h5>iPhone App Testing/Portability</h5>
                                <p>Our testing team tests your iPhone App Testing to collect valuable feedback before releasing your apps on the App Store.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h1 class="font_text">Want to Develop a Robust iOS App?</h1>
                <p>
                    One of the trustworthy software company in Lucknow is Afluex Multiservices LLP that provides the best quality iOS app development service. Our developers put all their efforts to crop an easy to use and simple where one can access iOS service without any hiccup.
                </p>
                <div class="abt_btn mt-5">
                    <a href="/web/contactus" class="btn btn-lg btn-custom">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <h3 class="font_text">Development Process</h3>
            <p>Before starting iOS app development process, Afluex Multiservices LLP is followed by Effective Guidelines and give outstanding outcome to our clients.
            The guidelines are:</p>
        </div>
        <div class="row mt-5">
            <div class="col-sm-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/discovery.png" class="img-fluid process-img mb-3" />
                        </center>
                        <h5 class="mb-3 text-center">Sketch out, Proper Plan an Innovative and Fresh Idea</h5>
                        <p>Our iOS development team collects fresh idea from all then sketch out the project. After that they do proper plan an innovative that how they can able to reach market requirements and monetize the app. Our experts add all attractions and features that these are lacking in other similar apps.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/userexperienceanddesign.png" class="mb-3 img-fluid process-img" />
                        </center>
                            <h5 class="mb-3 text-center">Always Focus Highly on the Design</h5>
                        <p>The Afluex Multiservices LLP iOS Development team is always focused highly on app design. A spontaneous UI and an engaging UX can generate your visual design appealing to users. They make one prototype for the best design. The screen features like Icons, Graphics, and Animations need to be worked upon for creating an outstanding design.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/architecturedesign.png" class="mb-3 img-fluid process-img" />
                        </center>
                            <h5 class="mb-3 text-center">Plan the Software Architecture</h5>
                        <p>The iOS app development’s main principle is to break the MVC (Model View Controller) model into three factors like software, data and user interface. Before the development, the front end and the back end works are done simultaneously in collaboration while conforming to the design of the app.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/development.png" class="mb-3 img-fluid process-img" />
                        </center>
                             <h5 class="mb-3 text-center">Develop the Front-end and the Back-end</h5>
                        <p>A coordinated work is required for making the front end and the back end of the iOS app. Both landscape and portrait work smoothly with all orientations of the front end. At the back end, the iOS developers must work on several states of the app like in active mode, in sleep mode, and in the background.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/qualityassurance.png" class="mb-3 img-fluid process-img" />
                        </center>
                             <h5 class="mb-3 text-center">Test And Publish the iOS App to the App Store</h5>
                        <p>Our excellent team checks and makes sure the app is bug-free and optimized for providing faster performance. It is most important to do testing before publishing the app because it involves error identify and modification.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card h-100 ">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/appstoresolution.png" class="mb-3 img-fluid process-img" />
                        </center>
                            <h5 class="mb-3 text-center">Promote and Market the App</h5>
                        <p>It is necessary to promote the app to catch the attention of the users. All data will be searched effortlessly utilizing the improved search for effective marketing and promotion activities with adding the collections, good story, and proper category.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/postlaunch.png" class="mb-3 img-fluid process-img" />
                        </center>
                             <h5 class="mb-3 text-center">Maintain the iOS App with Daily Updates</h5>
                        <p>Once published the app, is requires to maintain daily updates and make sure that it supports all the latest iOS developments and updates. This is done by our team regularly to ensure that it works smoothly.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="~/afluexit/images/services/additionalfeature.png" class="mb-3 img-fluid process-img" />
                        </center>
                            <h5 class="mb-3 text-center">Additional Features</h5>
                        <p>It is not a day event to launch the iOS app. We comprise new features, customization and ensure the customer is engaging our app continually. Keeping customers is the key to success and we are damn good at it.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

        <section class="services_page mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="font_text">Benefits of Custom iOS App Development</h3>
                        <p>Before getting started with shopweb, think about how you’re going to execute your plan to bring an iOS application to life. Not only does it help you figure out exactly what you want out of your application, but we can pinpoint the exact areas that we can collaborate on to make this project your best product yet. That’s what happens when you work with us. We are ready to launch!</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-4">
                        <h5>Higher Scalability</h5>
                        <p>We produce a multi-touch function & create an advanced application service, where you can swipe the screen to Zoom-In or Zoom-Out images without any lag. We provide superior quality iOS apps for your business, which helps you to reach your customers through their mobile devices.</p>
                    </div>
                    <div class="col-sm-4">
                        <h5>Security</h5>
                        <p>We produce a multi-touch function & create an advanced application service, where you can swipe the screen to Zoom-In or Zoom-Out images without any lag. We provide superior quality iOS apps for your business, which helps you to reach your customers through their mobile devices.</p>
                    </div>
                    <div class="col-sm-4">
                        <h5>An App for Every Business</h5>
                        <p>We produce a multi-touch function & create an advanced application service, where you can swipe the screen to Zoom-In or Zoom-Out images without any lag. We provide superior quality iOS apps for your business, which helps you to reach your customers through their mobile devices.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="services_page pb-5 bg-dark_skyblue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center text-white">
                        <h1 class="font_text">READY TO GET STARTED?</h1>
                        <p>
                            We at Afluex Multiservices LLP provide a custom website for iPhone app development and
                            also present a professional and dynamic interface for the online business. Afluex Multiservices LLP puts all its efforts to produce an easy to use and simple iPhone app service where customers can easily access these iOS services.
                        </p>
                        <div class="abt_btn mt-4">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-lg btn-custom">Request A Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="services_page pb-5">
            <div class="container">
                <div class="row text-center mb-5">
                    <h2 class="font_text">Frequently Asked Questions</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion" id="myAccordion1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse1">1. Should I develop the app in iOS or Android?</button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion1">
                                    <div class="card-body">
                                        <p>
                                            Both mobile platforms require two different types of language. Android apps are done in Java while iOS apps are done mostly in Objective C or Swift. Afluex Multiservices LLP suggests developing both however it's upto the client.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse2">2. How to make an iOS app more user-friendly?</button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                                    <div class="card-body">
                                        <p>
                                            To deliver consistent results, Afluex Multiservices LLP uses a few criteria to ensure the user-friendly interface such as clear navigation, swift loading and many more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3">3. How much does it cost to develop in iOS app?</button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                                    <div class="card-body">
                                        <p>
                                            Developing an iOS app depends on the client's objectives. We provide affordable pricing for developing the app. Contact us for more information.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse4">3. What is the time required for iOS app development?</button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                                    <div class="card-body">
                                        <p>
                                            Afluex Multiservices LLP is consistent on delivering every app development project on time. The duration may vary as per the requirements of the client however an estimation will be provided by us during the discussion.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse5">3. Do you provide support?</button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                                    <div class="card-body">
                                        <p>
                                            Yes, we do. We have perfected strong client retention record over the past 5+ years. We provide support, maintenance and upgrading services.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*<section class="services_page pb-5 bg-light_blue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>
                            If you are ready to build your next PPC marketing campaign, reach out to receive an obligation-free
                            PPC & retargeting assessment
                        </h4>
                        <h5 class="mt-3">During our evalution, we will look at:</h5>
                        <ul>
                            <li>Google Analytics Data</li>
                            <li>Curent PPC & retargeting results</li>
                            <li>Budget(Cost per lead/cost per click)</li>
                            <li>Landing page performance</li>
                            <li>Your current (or planned) conversion rate</li>
                        </ul>
                        <p>
                            Our high-level PPC and retargeting campaigns are proven effective from the very start and
                            we have a terrific track.
                        </p>
                        <h3><strong>Chat With Our Specialists or Call Us</strong></h3>
                        <h3><a href="tel:917310000413">+91 731-0000-413</a>/<a href="tel:917310000412"> 412</a></h3>
                    </div>
                    <div class="col-lg-6">
                        <form class="dzForm p-a30 border-1" action="">
                            <h4 class="title-box mb-5">
                                Write us a few words about your project and we’ll prepare a proposal for you within 24 hours
                            </h4>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="First Name" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Last Name" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Email" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Mobile" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Company Name" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="What can we help with?" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <textarea Placeholder="Message" class="form-control" cols="80" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="contact_btn">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Submit" name="btnSave" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>*@
