@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<style>
    
</style>
<div class="main_slider">
    <div class="banner_carousel owl-carousel owl-theme">
        @*<a href="/web/website-development">*@
            <div class="carousel_item">
                <img src="~/afluexit/images/slider/slider-1.png" class="img-fluid" alt="slider-1">
                <div class="slider_content_box">
                    <div class="content">
                        <div class="auto-container">
                            <h3 class="text-white">Welcome to Afluex</h3>
                            <h1 class="banner-heading text-white">Software Development</h1>
                            <div class="text text-white">
                                Complete website solution for your business or personal website
                                <br/>superior level of excellence for our customers.
                            </div>
                            <div class="abt_btn mt-5">
                                <a href="/web/company-overview" class="btn btn-lg btn-custom">Know More..</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @*</a>*@
        @*<a href="/web/software-development">
            <div class="carousel_item">
                <img src="~/afluexit/images/slider/develery-soft.jpg" class="img-fluid" alt="slider-2">
                <div class="slider_content_box">
                    <div class="content">
                        <div class="auto-container">
                            <span class="title">Welcome to Afluex</span>
                            <h2>Software Development</h2>
                            <div class="text">
                                Our Company has consistently embraced innovation to provide a
                                <br>superior level of excellence for our customers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>*@
        @*<a href="/web/app-development">*@
            <div class="carousel_item">
                <img src="~/afluexit/images/slider/Delivery-aap.jpg" class="img-fluid" alt="slider-4">
                <div class="slider_content_box">
                    <div class="content">
                        <div class="auto-container">
                            <h3 class="text-dark">Welcome to Afluex</h3>
                            <h1 class="banner-heading text-dark">Android Development</h1>
                            <div class="text text-dark">
                                Our Company has consistently embraced innovation to provide a
                                <br>superior level of excellence for our customers.
                            </div>
                            <div class="abt_btn mt-5">
                                <a href="/web/company-overview" class="btn btn-lg btn-custom">Know More..</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @*</a>*@
        @*<a href="/web/app-development">
            <div class="carousel_item">
                <img src="~/afluexit/images/slider/Slider-03.jpg" class="img-fluid" alt="slider-3">
                <div class="slider_content_box">
                    <div class="content">
                        <div class="auto-container">
                            <span class="title">Welcome to Afluex</span>
                            <h2>Android Development</h2>
                            <div class="text">
                                Our Company has consistently embraced innovation to provide a
                                <br>superior level of excellence for our customers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>*@
    </div>
    <div class="owl-dots">
        <button role="button" class="owl-dot active"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
    </div>
</div>
<div class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="about_content_inner">
                    <div class="title">
                        <h5 class="text-skyblue">Software Development Company In Lucknow</h5>
                        <h2>Company Overview</h2>
                    </div>
                    <div class="content_description text-justify">
                        <p>
                            “Afluex is a best emerging, comprehensive, full-service marketing Company.
                            Works in two segment Advertising and IT Development Segment and it’s known for
                            their lucrative result and ideas. Afluex has more than 8+ year’s deep experience in
                            all media and aspects of marketing.
                            We share best ideas, knowledge & experience to deliver outstanding results to
                            our clients.
                        </p>
                        <p>
                            Notable areas of expertise include: brand design and development,
                            creative media strategies and placement, Media Buying & Branding,
                            Print and interactive design, social networking and digital
                            marketing, creative and technical writing. We define strategic plans,
                            Design campaigns and much more and also we focus on making
                            bridges that can provide the client and their requirement on a
                            single roof and with plenty of convenience and– most importantly.
                        </p>
                    </div>
                    <div class="abt_btn">
                        <a href="/web/company-overview" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_content_pic">
                    <img src="~/afluexit/images/about_img2.jpg" class="img-fluid" alt="Company Overview">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services_section">
    <div class="services_title text-center">
        <h1>Our Services</h1>
        <img src="~/afluexit/images/divider.png" class="img-fluid" alt="divider">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-4">
                <div class="sevices_inner_box text-center afluex_hover">
                    <div class="services_heading">
                        <h3>Website <br>Development</h3>
                    </div>
                    <div class="services_pic">
                        <img src="~/afluexit/images/services/website_development.png" class="img-fluid" alt="services">
                    </div>
                    <div class="services_btn">
                        <a href="/web/website-development-company" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="sevices_inner_box text-center afluex_hover">
                    <div class="services_heading">
                        <h3>Software <br>Development</h3>
                    </div>
                    <div class="services_pic">
                        <img src="~/afluexit/images/services/web_development.png" class="img-fluid" alt="services">
                    </div>
                    <div class="services_btn">
                        <a href="/web/software-development-company" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="sevices_inner_box text-center afluex_hover">
                    <div class="services_heading">
                        <h3>Android & IOS <br>Development</h3>
                    </div>
                    <div class="services_pic">
                        <img src="~/afluexit/images/services/android_development.png" class="img-fluid" alt="services">
                    </div>
                    <div class="services_btn">
                        <a href="/web/mobile-app-development-company" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="sevices_inner_box text-center afluex_hover">
                    <div class="services_heading">
                        <h3>
                            Asp.Net / MVC
                            <br>Training
                        </h3>
                    </div>
                    <div class="services_pic">
                        <img src="~/afluexit/images/services/training.png" class="img-fluid" alt="services">
                    </div>
                    <div class="services_btn">
                        <a href="/web/mvc-training" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="sevices_inner_box text-center afluex_hover">
                    <div class="services_heading">
                        <h3>
                            Digital
                            <br>Marketing
                        </h3>
                    </div>
                    <div class="services_pic">
                        <img src="~/afluexit/images/services/digital_marketing.png" class="img-fluid" alt="services">
                    </div>
                    <div class="services_btn">
                        <a href="/web/digital-marketing-company" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="sevices_inner_box text-center afluex_hover">
                    <div class="services_heading">
                        <h3>Domain & <br>Hosting</h3>
                    </div>
                    <div class="services_pic">
                        <img src="~/afluexit/images/services/domain_hosting.png" class="img-fluid" alt="services">
                    </div>
                    <div class="services_btn">
                        <a href="/web/domain-and-hosting" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="sevices_inner_box text-center afluex_hover">
                    <div class="services_heading">
                        <h3>
                            Graphic
                            <br>Designs
                        </h3>
                    </div>
                    <div class="services_pic">
                        <img src="~/afluexit/images/services/graphic_design.png" class="img-fluid" alt="services">
                    </div>
                    <div class="services_btn">
                        <a href="/web/graphic-design-company" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="sevices_inner_box text-center afluex_hover">
                    <div class="services_heading">
                        <h3>
                            Search Engine
                            <br> Optimization
                        </h3>
                    </div>
                    <div class="services_pic">
                        <img src="~/afluexit/images/services/seo.png" class="img-fluid" alt="services">
                    </div>
                    <div class="services_btn">
                        <a href="/web/seo-agency" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- start count stats -->

<section id="counter-stats" class="wow fadeInRight testimonial_section" data-wow-duration="1.4s">
    <div class="container">
        <div class="row text-white">
            <div class="col-lg-3 stats">
                <i class="fa fa-check" aria-hidden="true"></i>
                <div class="d-flex justify-content-center">
                    <div class="counting" data-count="180">0</div><span class="text-white">+</span>
                </div>
                <h5>Total Projects</h5>
            </div>
            <div class="col-lg-3 stats">
                <i class="fa fa-code" aria-hidden="true"></i>
                <div class="d-flex justify-content-center">
                    <div class="counting" data-count="40">0</div><span class="text-white">+</span>
                </div>
                <h5>Running Projects</h5>
            </div>
            <div class="col-lg-3 stats">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="d-flex justify-content-center">
                    <div class="counting" data-count="150">0</div><span class="text-white">+</span>
                </div>
                <h5>Happy clients</h5>
            </div>
            <div class="col-lg-3 stats">
                <i class="fa fa-file-text" aria-hidden="true"></i>
                <div class="d-flex justify-content-center">
                    <div class="counting" data-count="150">0</div><span class="text-white">+</span>
                </div>
                <h5>Projects Done</h5>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

<!-- end cont stats -->

<div class="product_section">
    <div class="services_title text-center">
        <h1>Special High-quality Product</h1>
        <img src="~/afluexit/images/divider.png" class="img-fluid" alt="divider">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-4">
                <div class="product_inner_box text-center afluex_hover">
                    <div class="product_heading">
                        <h4>mlm <br>Software</h4>
                    </div>
                    <div class="pro_content">
                        <div class="shape1">
                            <img src="~/afluexit/images/product/dots.png" class="img-fluid" alt="services">
                        </div>
                        <div class="product_pic">
                            <img src="~/afluexit/images/product/mlm_icon.png" class="img-fluid" alt="services">
                        </div>
                    </div>
                    <div class="product_btn">
                        <a href="/web/mlm-software-development-company" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="product_inner_box text-center afluex_hover">
                    <div class="product_heading">
                        <h4>Real Estate <br>Software</h4>
                    </div>
                    <div class="pro_content">
                        <div class="shape1">
                            <img src="~/afluexit/images/product/dots.png" class="img-fluid" alt="services">
                        </div>
                        <div class="product_pic">
                            <img src="~/afluexit/images/product/realestate_icon.png" class="img-fluid" alt="services">
                        </div>
                    </div>
                    <div class="product_btn">
                        <a href="/web/real-estate-software-company" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="product_inner_box text-center afluex_hover">
                    <div class="product_heading">
                        <h4>E-commerce <br>Software</h4>
                    </div>
                    <div class="pro_content">
                        <div class="shape1">
                            <img src="~/afluexit/images/product/dots.png" class="img-fluid" alt="services">
                        </div>
                        <div class="product_pic">
                            <img src="~/afluexit/images/product/ecommerce_icon.png" class="img-fluid" alt="services">
                        </div>
                    </div>
                    <div class="product_btn">
                        <a href="/web/ecommerce-software-development" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="product_inner_box text-center afluex_hover">
                    <div class="product_heading">
                        <h4>School Management <br>Software</h4>
                    </div>
                    <div class="pro_content">
                        <div class="shape1">
                            <img src="~/afluexit/images/product/dots.png" class="img-fluid" alt="services">
                        </div>
                        <div class="product_pic">
                            <img src="~/afluexit/images/product/school_management_icon.png" class="img-fluid" alt="services">
                        </div>
                    </div>
                    <div class="product_btn">
                        <a href="/web/school-management-software" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="product_inner_box text-center afluex_hover">
                    <div class="product_heading">
                        <h4>Travel Portal <br>Software</h4>
                    </div>
                    <div class="pro_content">
                        <div class="shape1">
                            <img src="~/afluexit/images/product/dots.png" class="img-fluid" alt="services">
                        </div>
                        <div class="product_pic">
                            <img src="~/afluexit/images/product/travel_icon.png" class="img-fluid" alt="services">
                        </div>
                    </div>
                    <div class="product_btn">
                        <a href="/web/travel-portal-software" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="product_inner_box text-center afluex_hover">
                    <div class="product_heading">
                        <h4>Flight Booking <br>Software</h4>
                    </div>
                    <div class="pro_content">
                        <div class="shape1">
                            <img src="~/afluexit/images/product/dots.png" class="img-fluid" alt="services">
                        </div>
                        <div class="product_pic">
                            <img src="~/afluexit/images/product/flight_booking_icon.png" class="img-fluid" alt="services">
                        </div>
                    </div>
                    <div class="product_btn">
                        <a href="/web/flight-booking-software" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="product_inner_box text-center afluex_hover">
                    <div class="product_heading">
                        <h4>Hospital Management <br>Software</h4>
                    </div>
                    <div class="pro_content">
                        <div class="shape1">
                            <img src="~/afluexit/images/product/dots.png" class="img-fluid" alt="services">
                        </div>
                        <div class="product_pic">
                            <img src="~/afluexit/images/product/hospital_management_icon.png" class="img-fluid" alt="services">
                        </div>
                    </div>
                    <div class="product_btn">
                        <a href="/web/hospital-management-software" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="product_inner_box text-center afluex_hover">
                    <div class="product_heading">
                        <h4>Mobile Recharge <br>Software</h4>
                    </div>
                    <div class="pro_content">
                        <div class="shape1">
                            <img src="~/afluexit/images/product/dots.png" class="img-fluid" alt="services">
                        </div>
                        <div class="product_pic">
                            <img src="~/afluexit/images/product/mobile_recharge_icon.png" class="img-fluid" alt="services">
                        </div>
                    </div>
                    <div class="product_btn">
                        <a href="/web/mobile-recharge-software-development" class="btn btn-skyblue">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="work_strategic_section">
    <div class="work_strategic_title text-center">
        <h1>Work Strategic</h1>
        <img src="~/afluexit/images/divider.png" class="img-fluid" alt="divider">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="~/afluexit/images/how-we-work-top.png" width="85%" alt="work strategic">
            </div>
        </div>
    </div>
</div>

<div class="fully_responsive_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="fully_responsive_pic">
                    <img src="~/afluexit/images/business_res.png" class="img-fluid" alt="Responsive">
                </div>
            </div>
            <div class="col-lg-7 main_fully_responsive text-justify">
                <div class="fully_responsive_border"></div>
                <div class="fully_responsive_dsc">
                    <div class="row mt-3">
                        <div class="col-lg-2 fully_responsive_content_icon">
                            <img src="~/afluexit/images/fully_responsive_icon.png" class="img-fluid" alt="Responsive">
                        </div>
                        <div class="col-lg-10">
                            <div class="fully_responsive_heading">
                                <h4>Fully Responsive</h4>
                                <p>Most internet users are mobile consumers, according to a recent survey, about 70 percent of people across the world use a mobile device for visiting sites on the internet. Our intelligent user interface develops the website which is very responsive on both mobile and desktop platforms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2 fully_responsive_content_icon">
                            <img src="~/afluexit/images/creativity_icon.png" class="img-fluid" alt="Responsive">
                        </div>
                        <div class="col-lg-10">
                            <div class="fully_responsive_heading">
                                <h4>Creativity</h4>
                                <p><strong>Afluex Multiservices LLP</strong> has proven past experience, in terms of creativity and quality. We provide unique web designs and themes for their clients as per their requirements and budget to make every website standout from the crowd. Our experienced web development works wholeheartedly to meet your business needs.</p></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2 fully_responsive_content_icon">
                            <img src="~/afluexit/images/effective_icon.png" class="img-fluid" alt="Responsive">
                        </div>
                        <div class="col-lg-10">
                            <div class="fully_responsive_heading">
                                <h4>Effective</h4>
                                <p>Afluex can make your website the most effective one so that you can generate a larger number of sales as a gem. Our web developer team develops a website in order to achieve more sales, rather than that, it also converts your website visitors into customers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2 fully_responsive_content_icon">
                            <img src="~/afluexit/images/friendly_support_icon.png" class="img-fluid" alt="Responsive">
                        </div>
                        <div class="col-lg-10">
                            <div class="fully_responsive_heading">
                                <h4>Friendly Support</h4>
                                <p>For the market development, we create a solid customized site with maximum options, which is very easy to handle. Our affordable web designing team will spend most of their time making your site more productive and beautiful.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team_members_section">
    <div class="team_members_title text-center">
        <h1>Team Members</h1>
        <img src="~/afluexit/images/divider.png" class="img-fluid" alt="divider">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/krishna.jpg" class="img-fluid" alt="team-1">
                    </div>
                    <div class="team_members_heading">
                        <h3>K.M Kushwaha </h3>
                        <h5>CTO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/hemvant-1.png" class="img-fluid" alt="team-2">
                    </div>
                    <div class="team_members_heading">
                        <h3>Hemvant Srivastava</h3>
                        <h5>COO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sachin1.jpg" class="img-fluid" alt="team-3">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sachin Mishra </h3>
                        <h5>Sr. Software Developer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial_section">
    <div class="testimonial_title text-center text-white">
        <h1>Testimonial</h1>
        <img src="~/afluexit/images/dividert.png" class="img-fluid" alt="divider">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial_carousel owl-carousel owl-theme text-center text-white">
                    <div class="testimonial_carousel_item">
                        <p>I really want to say that Afluex multiservices LLP developed my software and website. Team Members were so good and understood all requirements and deliver the work without any issues. So i'll recommend this company to the people who has requirments for website,software and mobile application services.</p>
                        <h5>Tejinfrazone</h5>
                        <h6><em>CEO-Real Estate Client</em></h6>
                    </div>
                    <div class="testimonial_carousel_item">
                        <p> Afluex multiservices LLP created my software. Its team is so good, and understanding between me and your Team was mind-blowing they just ge understood all my requirements in minutes and deliver the work without any issues So i'll recommend afluex for software development</p>
                        <h5>Dharaworld</h5>
                        <h6><em>CEO-MLM And Real Estate Client</em></h6>
                    </div>
                    <div class="testimonial_carousel_item">
                        <p>Afluex multiservices LLP created my e-commerce portal. They understood all requirements easily and implement on time. So i'll recommend afluex for e-commerce portal</p>
                        <h5>Aapkabiz</h5>
                        <h6><em>Founder-E-commerce Client</em></h6>
                    </div>
                    <div class="testimonial_carousel_item">
                        <p>Afluex multiservices LLP created my website. They deliver the work without any issues.</p>
                        <h5>APS Globe School </h5>
                        <h6><em>Managing Director-School Software</em></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/afluexit/js/owl.carousel.js"></script>
<script src="~/afluexit/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
        // number count for stats, using jQuery animate

        $('.counting').each(function() {
          var $this = $(this),
          countTo = $this.attr('data-count');

          $({ countNum: $this.text()}).animate({
            countNum: countTo
        },

        {

            duration: 3000,
            easing:'linear',
            step: function() {
              $this.text(Math.floor(this.countNum));
          },
          complete: function() {
              $this.text(this.countNum);
      //alert('finished');
  }

});


      });
</script>
