
@{
    ViewBag.Title = "loan_management_software";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_product.jpeg);">
    <div class="container">
        <h1>Loan Management Software</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/web/it-services"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Product</li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Loan Management Software</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">THE BEST PLACE TO FIND THE Loan Management Software YOU WANT</span>
                        <h2>Loan Management Software</h2>
                    </div>
                    <div class="services_content_details">
                        <p class="text-justify">
                            Afluex Multiservices LLP is a leading Information Technology (IT Solution) and Consulting company in Lucknow, India and surrounding areas. We provide all types of customized software product development. We focus on providing E-commerce solutions, marketing
                            software & Mobile software development. Afluex started in mid 20017, with a unique vision of achieving the heights in IT by caring and serving the people. "We value knowledge, time, revolution, client business & collaborate
                            with them to achieve their sustainable growth"
                        </p>
                        <p class="text-justify">
                            We focus on providing E-commerce solutions, marketing software in financial and commercial, consumer, and mortgage lending. We create a consistent, seamless digital borrower experience for large multinational corporations, mid-sized and small business
                            customers, and consumers.
                        </p>
                        <h5 class="green">Easier lending</h5>
                        <p class="text-justify">
                            Covering the full loan lifecycle – origination, underwriting, covenant tracking, collateral management, loan servicing, and portfolio reporting – our solutions make lending easier by improving customer on boarding, increasing transparency and streamlining
                            back- office operations.
                        </p>
                        <h5 class="green">Reduce complexity</h5>
                        <p class="text-justify">
                            As the only single, open-architecture solution provider for all loan types, Afluex enables easy integration and helps reduce the complexity and costs associated with managing multiple systems.
                        </p>
                        <h5 class="green">Single platform for efficiency</h5>
                        <p class="text-justify">
                            Our loan management software gives you a 360-degree view of all relationships and facilities under management. Calculations, workflows, financial analysis, electronic compliance and service all work together on a single platform. By eliminating the associated
                            manual processes, rekeying of information, duplication of efforts, printing and mailing of documents, our loan management software reduces prices and brings inevitable potency.
                        </p>
                        <h5 class="green">Fast ROI</h5>
                        <p class="text-justify">
                            With easy-to-understand functionality featuring intuitive workflows and a limited learning curve, Afluex assures quicker employee adoption and faster ROI.
                        </p>
                        <h5 class="green">KEY ADVANTAGES</h5>
                        <div class="about-list">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Full coverage of the credit life cycle.
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Multi-markets: Real estate, consumer, businesses.
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Multi-techniques: revolving, renewable, with collateral, depreciable, credit lines,multi-loan applications.
                                </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Reliability. </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Performance. </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Adaptability. </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Rapid implementation.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Video Column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">Enquiry Here</span>
                        <h2>For Quick Demo</h2>
                    </div>
                    @{Html.RenderAction("DemoContact", "web", new { area = "" });}
                    @*<div class="enquiry_form">
                        <div class="mb-3">
                            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail">
                        </div>
                        <div class="mb-3">
                            <input type="phn" class="form-control" id="exampleFormControlInput1" placeholder="Mobile">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Do you have any question?"></textarea>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

