
@{
    ViewBag.Title = "logo_design";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="d-flex pt-5 pb-5 bg-dark_skyblue">
    <div class="container text-white">
        <div class="row align-items-center">
            <div class="col-lg-6 text-white text-justify">
                <h2 class="text-uppercase">Logo Design Services</h2>
                <h5 class="mb-3">Build a lasting impression at the first glance</h5>
                <p>
                    A well-designed logo is more than just a creative mark. It facilitates brand recognition.
                    our experienced logo designers know how to deliver a  memorable logo that noticeably stands out, ultimately building a unique identity.
                </p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-5 offset-1">
                <img src="~/afluexit/images/services/logo_bg.png" class="img-fluid" />
            </div>
            </div>
        </div>
</section>
<!-- End Page Title -->

<section class="services_page mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-justify">
                <h2>Business Logo Design Services</h2>
                <h5>Go beyond the template - inspire a unique vision</h5>
                <p>Think about some of the iconic brands you remember – the moment you see their logo, the entire brand or company name as well as their history comes into mind. This is how powerful a logo can be. Our experienced logo designers know how to make the perfect mix of symbols, calligraphy, design art and other aesthetic graphical elements to create such an effective logo. The logo evokes emotions and sensations related to your brand and helps build recall to ultimately grow your customer base.</p>
                <p>
                    With over 5+ years of experience in the field and some of the best creative professionals within the industry, we can deliver high quality and unique business logo design services for all your needs. As a trusted logo design company, we have served over thousands of clients worldwide till date.
                    A logo is something beyond a beautiful image for clients. It’s the identity of your whole brand; therefore it’s the most important branding investment for your organization.
                </p>
            </div>
            <div class="col-lg-4 mt-2">
                <img src="~/afluexit/images/services/Logo-Design-Process.jpg" class="img-fluid logo_design_img" />
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <h2>Why Choose Afluex - Professional Logo Design Company In Lucknow</h2>
            <p>
                A great logo design can help your brand to gain high visibility and user traction.
                At Afluex Multiservices LLP, the professional logo design company in Lucknow, we design
                attractive logos that enhance your brand proposition at cost effective rates. Our expert
                logo designers weave magic using aesthetic graphical elements, attractive colour palette,
                intricate calligraphy, and fabulous design art to make your logo grab eyeballs.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <div class="box-content">
                            <article class="icon-box">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <h5>Detailed Brand Analysis</h5>
                                <p style="padding-right:10px;">Logo design is undertaken after a thorough analysis of your brand.</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-content">
                            <article class="icon-box">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <h5>Multiple Packages</h5>
                                <p style="padding-right:10px;">We have many packages to suit various business logo design needs.</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-content">
                            <article class="icon-box">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <h5>Experienced Designers</h5>
                                <p style="padding-right:10px;">Our designers have been delivering high end custom logo designs.</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-content">
                            <article class="icon-box">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <h5>Multiple Design Concepts</h5>
                                <p style="padding-right:10px;">We provide varied and multiple design concepts for our clients to choose from.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/logo-design.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h1 class="font-weight-bold">Would You Like To Discuss Your Project With Our Experts?</h1>
                <p>
                    Send Your Project Details By Clicking On Get In Touch And One Of Our Team Members Will Call You Soon!
                </p>
                <div class="abt_btn mt-3">
                    <a href="/web/contactus" class="btn btn-lg btn-custom">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page mb-5">
    <div class="container">
        <div class="row text-center mb-5">
            <h3>Frequently Asked Questions About Logo Design</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="myAccordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse1">1. Is it possible to pitch in ideas for a logo design? </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    We welcome your creative thoughts. Share your ideas with us and our talented graphic designers can translate your vision and create logo designs based on your concept. We can also provide alternative suggestions – the more the merrier!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse2">2. What is the price for a custom logo design?</button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    Logo design cost in India depends on multiple factors. These include the number of design concepts, number of revisions, etc. You can find a starting range here. For more information, feel free to give us a call.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3">3. Is it possible to create logo design for companies, products or names?</button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    Yes. We can create any type of graphic identity that suits your requirement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse5">4. Is it possible to make a change to an existing logo?</button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    If you want to modify your existing logo, we can arrange for the same. We also provide multiple revisions and a variety of concepts for our own logo designs. Your feedback is valuable to us and we can bring your vision into reality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse5">5. What is a scalable vector file?</button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    Vector files are the ones that you can scale, resize, and even change the fonts and colours of the design without affecting the resolution or quality of the image. After the completion of the logo design, we can provide you with the scalable vector file.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <h3 class="text-capitalize">
                    If you are ready to build your next PPC marketing campaign, reach out to receive an obligation-free
                    PPC & retargeting assessment.
                </h3>
                <h5 class="mt-3">During our evalution, we will look at:</h5>
                <ul>
                    <li>Google Analytics Data</li>
                    <li>Curent PPC & retargeting results</li>
                    <li>Budget(Cost per lead/cost per click)</li>
                    <li>Landing page performance</li>
                    <li>Your current (or planned) conversion rate</li>
                </ul>
                <p>
                    Our high-level PPC and retargeting campaigns are proven effective from the very start and
                    we have a terrific track.
                </p>
                <h3>Chat With Our Specialists or Call Us</h3>
                <h3><a href="tel:917310000413">+91 731-0000-413</a>/<a href="tel:917310000412"> 412</a></h3>
            </div>
            <div class="col-lg-6">
                <div class="card" style="background:#418fb2">
                    <div class="card-body">
                        <form class="dzForm p-4" action="">
                            <h3 class="title-box mb-5 text-white">
                                Write us a few words about your project and we’ll prepare a proposal for you within 24 hours
                            </h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="First Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Last Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Email" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Mobile" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Company Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="What can we help with?" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <textarea Placeholder="Message" class="form-control contact-box" cols="80" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="abt_btn">
                                        <input type="submit" class="btn btn-lg btn-custom" value="Submit" name="btnSave" />
                                    </div>
                                    @*<div class="contact_btn">
                                            <input type="submit" class="btn btn-primary btn-lg" value="Submit" name="btnSave" />
                                        </div>*
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
