
@{
    ViewBag.Title = "Mobile_Development";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_services.jpeg);">
    <div class="container">
        <h1>App Development</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/web/index">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>App Development</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">THE BEST PLACE TO FIND THE APP YOU WANT</span>
                        <h2>App Development Company in Lucknow</h2>
                    </div>
                    <div class="services_content_details">
                        <h5 class="green">We shape the technology that inspires users and grows businesses.</h5>
                        <p class="text-justify">
                            Afluex Multiservices LLP provides the Best web and mobile app development services to all types of clients and we transform brands through digital experiences. We have helped established fortune 100+ organizations as well as early-stage startups to plan,
                            design, and make launch-worthy software, applications and websites. We are obsessed with the details and place emphasis on quality, reliability and engaging design that is user-friendly. Being one of the leading software development
                            companies in Lucknow, We offer complete development from the initial stages of planning to the end-stage of maintenance. We are one of the trusted Custom Software Development Company & the custom software development service
                            team is technically updated with the latest trends in mobile application development. Afluex is the top engineered solution that elevates the development strategy and gives the best results. If software outsourcing is the lifeblood
                            of your company, then Nodeagency is the circulatory system that will fuel your requirement without getting burned up.
                        </p>
                        <img src="~/afluexit/images/services/mobile-work-process.png" class="img-fluid" alt="best" />
                        <h5 class="green pt-4">Following are some of the most prominent features of Afluex mobile app are:</h5>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Unlimited push notifications</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Social login</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Wishlist</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> App analytics</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Social sharing</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Real-Time Synchronization</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Multi-filter and sorting layout</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Multi-language</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Multi-currency and RTL booster</li>
                                    <li><i class="fa fa-circle" aria-hidden="true"></i> Native payment gateways</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <img src="~/afluexit/images/services/devices-pana.png" class="img-fluid" alt="best" />
                            </div>
                        </div>
                        <h5 class="green pt-2">Android App Development Company In Lucknow</h5>
                        <div class="row">
                            <div class="col-md-7 col-lg-7 col-sm-12">
                                <p class="text-justify">
                                    The Google OS, which powers 88% of all smartphones in the worldwide market, is undoubtedly dominating the 'World of operating-systems'. Android Application Development Lucknow is taking an edge over other mobile operating systems across the globe. The
                                    open ecosystem of all Android has worked in favor of Google, running the majority of the major smartphones in the world today, and it has become the most popular platform. Having an android application developed gives
                                    your clients and employees comfortable access to your organization and in return provides you the massive profit. Android perhaps not only strengthens your brand awareness but also enables you to connect with your visitors
                                    who are on the go.
                                </p>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-12">
                                <img src="~/afluexit/images/services/usability-testing-bro.png" class="img-fluid" alt="best" />
                            </div>
                        </div>
                        <h5 class="green">IOS App Development Company In Lucknow</h5>
                        <div class="row">
                            <div class="col-md-7 col-lg-7 col-sm-12">
                                <p class="text-justify">
                                    The market of mobile phones has been rapidly transformed, since the release of the iPhone. IOS Application Development Company in Lucknow has been increased with the increase in demands of iPhones. The way with which people communicate with each other
                                    has been changed after its introduction and now millions of people worldwide rely on it. IOS is ideal for a variety of applications with very high-resolution screens. As the iPhone, can support advanced technology and
                                    has the best security so, there are some limitations when developing apps for the device. So, with the new ideas, the availability of a variety of apps will grow with the time. Besides we develop these apps on the latest
                                    trends with the most recent and relevant technology which gives users the best user experience to browse the mobile application developed by us.
                                </p>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-12">
                                <img src="~/afluexit/images/services/mobile-login-bro.png" class="img-fluid" alt="best" />
                            </div>
                        </div>
                        <p><strong>Get in touch with Afluex and experience one of the best mobile app development services at the most affordable rates.</strong></p>
                    </div>
                </div>
            </div>

            <!-- Video Column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">Enquiry Here</span>
                        <h2>For Quick Demo</h2>
                    </div>
                 @{Html.RenderAction("DemoContact", "web", new { area = "" });}
                </div>
            </div>
        </div>
    </div>
</section>
