
@{
    ViewBag.Title = "our_team";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_about.jpeg);">
    <div class="container">
        <h1>Our Team</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/web/it-services"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>About Us</li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Our Team</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="ourteam_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/krishna.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>K.M Kushwaha </h3>
                        <h5>CTO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/hemvant-1.png" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Hemvant Srivastava </h3>
                        <h5>COO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sachin1.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sachin Mishra </h3>
                        <h5>Sr. Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/preeti.png" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Preeti</h3>
                        <h5>Operation Executive</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/vikram.png" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Vikram Singh </h3>
                        <h5>Android Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/arpit.png" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Arpit Rastogi</h3>
                        <h5>Deputy Manager</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/ashwani.jpeg" class="img-fluid" alt="services" />
                    </div>
                    <div class="team_members_heading">
                        <h3>Ashwani Mishra</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/avinash.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Avinash Maurya </h3>
                        <h5>Operation Executive</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/jyoti.jpg" class="img-fluid" alt="services" />
                    </div>
                    <div class="team_members_heading">
                        <h3>Jyoti Singh</h3>
                        <h5>Web Designer</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sudhakar.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sudhakar Sharma </h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sandeep.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sandeep Sharma </h3>
                        <h5>Accountant</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/prabhakar.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Prabhakar kushwaha </h3>
                        <h5>Field Manager</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sujeet.png" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sujeet Yadav</h3>
                        <h5>Marketing Executive</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/shyamu.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Shyamu Yadav </h3>
                        <h5>Office Boy</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


