
@{
    ViewBag.Title = "our_team";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_about.jpeg);">
    <div class="container">
        <h1>Our Key Team Member</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/web/software-development"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>About Us</li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Our Key Team Member</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="ourteam_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/krishna.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>K.M Kushwaha </h3>
                        <h5>CTO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/hemvant-1.png" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Hemvant Srivastava </h3>
                        <h5>COO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/avinash.png" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Avinash Maurya </h3>
                        <h5>Operation Executive</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/Tanishq-Kushwaha.jpg" class="img-fluid" alt="team_img" />
                    </div>
                    <div class="team_members_heading">
                        <h3>Tanishq Kushwaha</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/devendra.jpg" class="img-fluid" alt="team_img" />
                    </div>
                    <div class="team_members_heading">
                        <h3>Devendra Gautam</h3>
                        <h5>Web Designer</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/anku.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Anku</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-3 mt-4">
                    <div class="team_members_inner_box text-center">
                        <div class="team_members_pic">
                            <img src="~/afluexit/images/team/praveen.png" class="img-fluid" alt="team_img">
                        </div>
                        <div class="team_members_heading">
                            <h3>Praveen Bharti</h3>
                            <h5>Software Developer</h5>
                        </div>
                    </div>
                </div>*@

            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/suraj.png" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Suraj Mishra</h3>
                        <h5>Accountant</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/prabhakar.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Prabhakar kushwaha </h3>
                        <h5>Field Manager</h5>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-3 mt-4">
                    <div class="team_members_inner_box text-center">
                        <div class="team_members_pic">
                            <img src="~/afluexit/images/team/sujeet.png" class="img-fluid" alt="team_img">
                        </div>
                        <div class="team_members_heading">
                            <h3>Sujeet Yadav</h3>
                            <h5>Marketing Executive</h5>
                        </div>
                    </div>
                </div>*@

            

            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/nishu.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Nushu</h3>
                        <h5>Operation Executive</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/satish.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Satish</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/anamika.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Anamika</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sarita.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sarita</h3>
                        <h5>App developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/rishi.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Rishi</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/atul.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Atul </h3>
                        <h5>Software Trainee</h5>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/shyamu.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Shyamu Yadav </h3>
                        <h5>Office Boy</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/ajay.jpg" class="img-fluid" alt="team_img">
                    </div>
                    <div class="team_members_heading">
                        <h3>Ajay </h3>
                        <h5>Office Boy</h5>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>


