@{
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="bg-dark_skyblue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-white">
                <h1 class="font_text">PPC Services</h1>
                <p class="mt-3">
                    Our services don’t stop with Google Adwords management. Our team of experts works with you
                    to create an effective and strategic PPC campaign. Bring in more sales, not just more leads.
                </p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-5 offset-1">
                <img src="~/afluexit/images/services/ppc-1.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-justify">
                <h3 class="font_text">PPC Services at Afluex Multiservices LLP</h3>
                <p>
                    Outstand in the rampant competition of creating brand awareness, PPC never fails to
                    empower to gain high visibility. PPC stands pay per click which is an online advertising
                    tool to create campaigns on specific keywords. If a business owner is looking not to make an
                    extra effort to bring the audience on your website, PPC services are the best way to get most out of it.
                    We  can help you to create the most effective campaigns to raise your business awareness. We keep track of the current market situation and trending technologies to implement strategies in the campaigns.
                    Proficient Professionals of Afluex  offers the most relevant PPC services.
                </p>
                <p>There are multi-benefits of PPC services like targeting website traffic to get more sales and leads. PPC Management services are also being offered by our digital marketing services to boost your ads publications. To create commendable PPC Ad campaign to receive the potential customer with focussed keywords.PPC Services is the easiest way to get into SERP or to display advertisements on the right platform. offering you a broad range of PPC services which is a cost-effective way of digital marketing as a business owner needs to pay for the number of clicks on ads comes.</p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/ppcservices1.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="services_page mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="~/afluexit/images/services/43.png" class="img-fluid" />
            </div>
            <div class="col-lg-7">
                <h3 class="font_text">Benefits of PPC Services</h3>
                <ul>
                    <li>It increases online visibility</li>
                    <li>ROI is also maximized</li>
                    <li>Deep Keyword Research</li>
                    <li>Marketing Cost is reduced</li>
                    <li>Remarketing of products and services</li>
                    <li>Creating Landing Page for PPC</li>
                    <li>Sales and leads rate are improved</li>
                </ul>
                  </div>
            <div class="col-lg-12 mt-5 text-justify">
                <p>PPC services help to measure the audience level and this gives an opportunity to start and stop advertisement. We offer services to manage and optimize bid. It's a great way of instant driving traffic and delivers relevant ROI. Tracking and structuring the performance of the campaign to build the most effective PPC service. Our dedicated and skilled team of PPC services delivers the most powerful PPC services to grow your business in the most cost-effective way.</p>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-light_blue">
    <div class="container">
        <div class="row text-center">
            <h3 class="font_text">How Our PPC Management Get's Results</h3>
            <p>
                We hit the ground running to provide you the best ROI for any PPC strategy. Whether you need
                us to fine-tune an existing campaign or start from scratch, our team makes sure that every dollar
                spent brings in the business you need.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/keyword.png" class="icon_img" />
                                <h5 class="service_heading">Keyword Research</h5>
                            </div>
                            <p>
                                We make sure that your ads bring in customers that convert by using through research,
                                landing page testing and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/landing-page.png" class="icon_img" />
                                <h5 class="service_heading">Powerful Landing Page Design</h5>
                            </div>
                            <p>
                                We are not only get you the right ads, we get you the right landing page.
                                Our landing pages will maximize your customer conversion rate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/unit-testing.png" class="icon_img" />
                                <h5 class="service_heading">Comprehensive Testing</h5>
                            </div>
                            <p>Rather than go with your gut, go with our rigorous testing process. We find out
                            what works and what does not maximizing your PPC effectiveness.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/dollar.png" class="icon_img" />
                                <h5 class="service_heading">Conversion Optimization</h5>
                            </div>
                            <p>Our experts at Afluex have a suite of analytics, surveys and other tools at their
                            disposal that can help perfect your conversion funnel.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/social-media.png" class="icon_img" />
                                <h5 class="service_heading">Social Advertising</h5>
                            </div>
                            <p>We can offer effective social media advertising for your business on popular
                            platforms like Facebook and Twitter, all for the same price.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/display.png" class="icon_img" />
                                <h5 class="service_heading">Display Advertising</h5>
                            </div>
                            <p>Afluex can maximize brand awareness and drive conversions and leads by integrating
                            your ads right into the web's most popular sites.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/report.png" class="icon_img" />
                                <h5 class="service_heading">Custom Reporting</h5>
                            </div>
                            <p>We provide our clients comprehensive analytics delivered right to your inbox 
                            every week, letting you see where your money are going.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/retargeting.png" class="icon_img" />
                                <h5 class="service_heading">Ads Retargeting</h5>
                            </div>
                            <p>Afluex's experts can save your marketing costs by brighting back previous conversions
                            with tried and true retargeting tactics.</p>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-lg-4 p-4">
                <div class="card card_box h-100">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <img src="~/afluexit/images/icon/search.png" class="icon_img" />
                                <h5 class="service_heading">Search Advertising</h5>
                            </div>
                            <p>Afluex can make your ads show up at the top of a search engine, which will bring
                            in leads who are already interested in your product.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5">
    <div class="container">
        <div class="row text-center mb-5">
            <h3 class="font_text">Frequently Asked Questions About PPC Advertising</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="myAccordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse1">1. When do i See my seo Result From Your Services? </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>SEO is a long-term strategy, and can take anywhere from 3-4 months before you start to see
real results. But the growth is durable, sustainable, and cost effective, ensuring that your
business is being shown to your customers first.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse2">2. What do your SEO service Include?</button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>For our clients, we provide a full set of SEO optimization services. From the initial SEO
audit to ongoing support, we handle it all. Besides providing a detailed strategy for SEO
both on and off page, we also create compelling and engaging content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3">3. Does your SEO company Gurentee result?</button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>We make sure that all clients we work with see the growth that their business deserves.
Through our web SEO company's smart strategies, it’s our goal to see your business
rise to the top of Google’ search results.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="services_page pb-5 bg-light_blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4> If you are ready to build your next PPC marketing campaign, reach out to receive an obligation-free
                PPC & retargeting assessment</h4>
                <h5 class="mt-3">During our evalution, we will look at:</h5>
                <ul>
                    <li>Google Analytics Data</li>
                    <li>Curent PPC & retargeting results</li>
                    <li>Budget(Cost per lead/cost per click)</li>
                    <li>Landing page performance</li>
                    <li>Your current (or planned) conversion rate</li>
                </ul>
                <p>Our high-level PPC and retargeting campaigns are proven effective from the very start and 
                we have a terrific track.</p>
                <h3><strong>Chat With Our Specialists or Call Us</strong></h3>
                <h3><a href="tel:917310000413">+91 731-0000-413</a>/<a href="tel:917310000412"> 412</a></h3>
            </div>
            <div class="col-lg-6">
               <form class="dzForm p-a30 border-1" action="">
                <h4 class="title-box mb-5">
                    Write us a few words about your project and we’ll prepare a proposal for you within 24 hours
                </h4>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <input Placeholder="First Name" class="form-control" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <input Placeholder="Last Name" class="form-control" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <input Placeholder="Email" class="form-control" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <input Placeholder="Mobile" class="form-control" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <input Placeholder="Company Name" class="form-control" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <input Placeholder="What can we help with?" class="form-control" type="text" value="" />                       
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <textarea Placeholder="Message" class="form-control" cols="80" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="contact_btn">
                            <input type="submit" class="btn btn-primary btn-lg" value="Submit" name="btnSave"/>
                        </div>
                    </div>
                 </div>
               </form>
            </div>
        </div>
    </div>
</section>*@