
@{
    ViewBag.Title = "portfolio";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<!-- Page Title -->
<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_portfolio.jpeg);">
    <div class="container">
        <h1>Afluex Protfolio</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/web/it-services"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- ======= Portfolio Section ======= -->

<section id="portfolio" class="portfolio section-bg ">
    <div class="container " data-aos="fade-up" style="margin-top: 100px;">

         <div class="row mb-5">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
             <h2>A Glance of Our Work</h2>
          </div>
        </div> 

        <div class="row portfolio-container " data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/dost.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dost</h4>
                        <p>Web & Android Application</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="https://dost.click/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/infra.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Tez Infrazone</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="http://tejinfrazone.com/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/moonlite.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Moonlite Agro</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="https://moonliteagro.com/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/bharti.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bharti Networks</h4>
                        <p>Website & Dashboard</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="http://bhartinetworks.com/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/shree.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Shree Ayurnakshtra</h4>
                        <p>Website</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="http://shreeayurnakshtra.in/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/dolph.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Abdolphin Infratech</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="http://www.abdolphininfratech.com/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/crm.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Hm Green City</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="http://crm.hmgreencity.com/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/mkt.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>MKT Insurance Brokers</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="http://mktinsurancebrokers.com/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Portfolio Section -->

