
@{
    ViewBag.Title = "redesign_website";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="bg-dark_skyblue pt-3 pb-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-white">
                <h1 class="font_text">Welcome to our Redesign Website Services !</h1>
                <p class="mt-3 text-justify">
                    Is your current website failing to deliver the results you desire? Does it look outdated or struggle to
                    engage visitors? At Afluex Multiservices LLP, we specialize in redesigning websites to transform them
                    into powerful, visually appealing, and highly functional online assets. With our expertise in website
                    redesign, we can breathe new life into your online presence and help you achieve your business
                    goals.
                </p>
                <div class="abt_btn mt-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <img src="~/afluexit/images/services/redesign_bg2.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->



<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="font_text">Introduction to Website Redesign</h3>
                <p>
                    A well-designed and user-friendly website is crucial for establishing a strong online presence and
                    engaging your target audience. However, as technology and design trends evolve, websites can
                    quickly become outdated, leading to decreased user satisfaction, lower conversion rates, and missed
                    business opportunities. Our website redesign services are designed to revitalize your online
                    presence, enhance user experiences, and drive your business forward.
                </p>
                <h4>Understanding Your Website Goals</h4>
                <p>
                    We believe in a collaborative approach to website redesign. Our first step is to understand your
                    goals, objectives, and target audience. We work closely with you to gain insights into your current
                    website's strengths, weaknesses, and pain points. Through this analysis, we identify opportunities for
                    improvement and define clear goals for your redesigned website.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/afluexit/images/services/website-redesign-1.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="font_text">How do we redesign your website?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="/afluexit/images/services/mobile-friendly.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Collecting Requirement</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>
                            The analysis is done according to your targeted audience’s perspective, and all necessary points are highlighted so that we can provide you optimum results in reduced time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="/afluexit/images/services/mobile-friendly.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Website Analysis</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>
                            We discuss with our clients all the points and areas that need redesign. Then, after getting the clients’ feedback, we move on to the next phase.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="/afluexit/images/services/mobile-friendly.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Redesign Website</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>
                            Our website redesign experts start utilizing their ten years of experience and some new-age technologies to offer effective website redesign services in India.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-4">
                <div class="card h-100">
                    <div class="card-body">
                        <center>
                            <img src="/afluexit/images/services/mobile-friendly.png" class="mb-3 img-fluid process-img" />
                        </center>
                        <h5 class="text-center mb-3">Testing and Lunch</h5>
                        <center><p class="gb-headline"></p></center>
                        <p>
                            After completion, we showcase our work with you and take your approval, and if you think your website is designed exactly as you expected, we will hand over the project.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services_page mb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8">
                <h3>Comprehensive Website Audit</h3>
                <p class="text-justify">
                    To ensure a successful website redesign, we conduct a through audit of your existing website. Our
                    team examines various aspects, including design elements, user experience, functionality,
                    performance, and search engine optimization. This audit helps us identify areas that need
                    improvement and guides the redesign process.
                </p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img3.png" class="img-fluid" />
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img2.png" class="img-fluid" />
            </div>
            <div class="col-lg-8">
                <h3>User-Centric Design Approach</h3>
                <p class="text-justify">
                    User experience (UX) is at the forefront of our website redesign process. We focus on creating
                    intuitive and engaging interfaces that provide a seamless and enjoyable browsing experience for your
                    visitors. By employing user-centric design principles, we ensure that your redesigned website is
                    visually appealing, easy to navigate, and optimized for conversion.
                </p>
            </div>
        </div>

        <!--  second row -->

        <div class="row mb-5 mt-5">
            <div class="col-lg-8">
                <h3>Responsive and Mobile-First Design</h3>
                <p class="text-justify">
                    In today's mobile-dominated world, having a responsive and mobile-friendly website is essential. Our
                    redesign services prioritize creating websites that adapt seamlessly to different screen sizes and
                    devices. By implementing a mobile-first design approach, we ensure that your website delivers a
                    consistent and optimized experience to users on smartphones, tablets, and desktops.
                </p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img3.png" class="img-fluid" />
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img2.png" class="img-fluid" />
            </div>
            <div class="col-lg-8">
                <h3>Content Enhancement and Optimization</h3>
                <p class="text-justify">
                    Compelling and relevant content is key to engaging your website visitors. Our website redesign
                    services include content enhancement and optimization. We analyse your existing content, identify
                    gaps, and work with you to develop new and impactful messaging. We also optimize your content for
                    search engines, ensuring that your website ranks well in search results and attracts qualified traffic.
                </p>
            </div>
        </div>
        <!-- // second row-->

        <div class="row mb-5 mt-5">
            <div class="col-lg-8">
                <h3>Visual Branding and Graphics</h3>
                <p class="text-justify">
                    A visually appealing website is crucial for creating a strong brand identity and leaving a lasting
                    impression on visitors. Our redesign services include visual branding and graphics enhancements. We
                    work closely with you to understand your brand guidelines, incorporate your branding elements, and
                    create a visually cohesive website design that reflects your brand's personality and values.
                </p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img3.png" class="img-fluid" />
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img2.png" class="img-fluid" />
            </div>
            <div class="col-lg-8">
                <h3>Enhanced Functionality and User Experience</h3>
                <p class="text-justify">
                    We evaluate your website's functionality and identify opportunities for improvement. Whether it's
                    integrating new features, enhancing navigation, improving site speed, or optimizing forms and callsto-action, we strive to create a website that offers a seamless and delightful user experience. Our
                    goal is to make it easy for visitors to find information, interact with your site, and convert into
                    customers.
                </p>
            </div>
        </div>


        <div class="row mb-5 mt-5">
            <div class="col-lg-8">
                <h3>Search Engine Optimization (SEO)</h3>
                <p class="text-justify">
                    A well-designed website is not enough if it doesn't attract organic traffic. Our website redesign
                    services include SEO optimization to improve your website's visibility in search engines. We conduct
                    thorough keyword research, optimize metadata, improve site structure, and ensure that your
                    website adheres to SEO best practices. By enhancing your website's SEO, we help you attract more
                    targeted traffic and generate valuable leads.
                </p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img3.png" class="img-fluid" />
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img2.png" class="img-fluid" />
            </div>
            <div class="col-lg-8">
                <h3>Integration with Analytics and Tracking</h3>
                <p class="text-justify">
                    Understanding how your website performs and how visitors interact with it is crucial for ongoing
                    improvement. We integrate analytics and tracking tools into your redesigned website, allowing you
                    to gather valuable insights and make data-driven decisions. These tools provide valuable information
                    about user behaviour, conversion rates, and engagement, helping you refine your digital strategy.
                </p>
            </div>
        </div>

        <div class="row mb-5 mt-5">
            <div class="col-lg-8">
                <h3>Smooth Transition and Launch</h3>
                <p class="text-justify">
                    We understand the importance of a smooth transition from your old website to the redesigned
                    version. Our experienced team ensures that the transition is seamless, minimizing any potential
                    disruptions or downtime. We conduct extensive testing to ensure that your redesigned website
                    functions flawlessly before the official launch. Our support continues even after the launch, with
                    post-launch monitoring and assistance to address any issues that may arise.
                </p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/hr_img3.png" class="img-fluid" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <h3>Conclusion</h3>
                <p>
                    At Afluex, we are dedicated to helping businesses revitalize their online presence through our expert
                    website redesign services. We combine strategic planning, user-centric design, enhanced
                    functionality, and SEO optimization to create websites that drive results. Contact us today to discuss
                    your website redesign requirements and let us help you transform your online presence into a
                    powerful tool for success.
                </p>
            </div>
            <div class="col-lg-12 mt-5 text-center">
                <a href="https://wa.me/917310000499?text=Hello" target="_blank"><img src="~/afluexit/images/Whats-app-Chat.gif" class="img-fluid whatsapp_img" /></a>
                <a href="tel:+917310000413"><img src="~/afluexit/images/call-gif.gif" class="img-fluid whatsapp_img" /></a>
            </div>
        </div>
    </div>
</section>


<section class="services_page pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h4 class="font_text">Ready to Get Started With Redesign Website</h4>
                <p>
                    Stay ahead from Crowd. We have an expert team of application developers who are experienced and proficient.
                    We have  good <br /> experience in web and  mobile app development and are committed to delivering the best of the class solutions.
                </p>
                <div class="abt_btn mt-5">
                    <a href="/web/contactus" class="btn btn-lg btn-custom">Contact Us</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="services_page mb-5">
    <div class="container">
        <div class="row text-center mb-5">
            <h6 class="font_text">Frequently Asked Questions</h6>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="myAccordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse1">1. Will Afluex Multiservices LLP provide mockups for my website redesign?</button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    Yes, we do. Afluex Multiservices LLP will provide a full-color mockup for your project.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse2">2. How many revisions can I make to the design?</button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    We don’t start or finish a project without understanding your requirements and mockup approval. So, naturally, there is no scope of mistakes, if still, you want some minor changes, we will make them, but for too many changes, we will charge additionally.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3">3. How much does it cost to redesign?</button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    Website redesign costs will depend on the size and structure of your website and your particular needs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse4">4. What type of payment modes do you accept?</button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    Credit cards, bank transfer, mobile payments and other modes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
