
@{
    ViewBag.Title = "School_Management";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_product.jpeg);">
    <div class="container">
        <h1>School Management Software</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/web/index">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>School Management Software</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">THE BEST PLACE TO FIND THE School Management Software YOU WANT</span>
                        <h2>School Management Software Company In Lucknow</h2>
                    </div>
                    <div class="services_content_details">
                        <p class="text-justify">
                            A School management system transforms schools into smart schools that are always the preferred selection for new age parents. Quick communications, clear operations and perfect administration will put your college ahead within the group of smart schools.
                            Afluex, one of the leading smart school management software and school erp systems, helps you achieve that. Afluex Multiservices LLP enables school administrators with real time access to data enabling them to make informed
                            decisions to ensure the success of all the school programs. Schools can spend less time in all aspects of administration freeing up longer to target resources towards student facing activities and new programs that make a much
                            better learning experience in the schools.
                        </p>
                        <h5 class="green">Why Afluex's School Management System Software?</h5>
                        <p>
                            Afluex believes that true breakthrough in advancement is achieved when administrative and managerial activities are automated. As schools have comprehensive subjects and sophisticated examination pattern; the need to go digital is paramount.
                        </p>
                        <h5 class="green">School ERP Software Provides The Following Advantages:</h5>
                        <div class="about-list">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Empower teachers through the E-learning platform
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Download SVG Perfect for when you want to use just one icon as a vector on the desktop or in your own icon workflow. Keep parents and students within the connectivity
                                    loop at all times, through SMS, Email and Mobile Apps
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Go paperless, generate e- reports on a click of a button
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Reduce monotonous task of your administrative department. ERP will do the work for your school.
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Track student en route, to and from home
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Effective website presence, to showcase your school’s vision and mission for education
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Manage your library’s cataloging, accessioning and circulation effortlessly
                                </li>
                            </ul>
                        </div>
                        <h5 class="green">Features Incorporated In School ERP-</h5>
                        <div class="about-list">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Multi-User Functionality
                                </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> User-Interface</li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Customizable Modules And Plugins
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Data Security And Backup
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Cost And Energy Saving
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> SMS And Email Integration
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Online And On-Site Client Support
                                </li>
                                <li>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i> Free Demonstration
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Video Column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">Enquiry Here</span>
                        <h2>For Quick Demo</h2>
                    </div>
                  @{Html.RenderAction("DemoContact", "web", new { area = "" });}
                </div>
            </div>
        </div>
    </div>
</section>

