
@{
    ViewBag.Title = "search_engine_marketing";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="pt-5 pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-white ">
                <h2>Search Engine Marketing Services In Lucknow</h2>
                <p class="mt-3 text-justify">
                    The search engine marketing helps in the promotion of websites by increasing their visibility 
                    rate in the Search Engine results pages. The Search engine Marketing evolves the keyword
                    search by finding the most popular keywords and /editing the site which leads to the 
                    higher traffic and advertisement.
                </p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-5 offset-1">
                <img src="~/afluexit/images/services/sem.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-justify">
                <h3>Search Engine Marketing India</h3>
                <p>People use the search engines to look for the information they need. These search engines look up all the content available on the internet and present lists of the relevant information. 
                  In fact if you enter a few words as the search words, then the search engine will show all the results that have either of those words. 
                  So basically what happens is the search engines do a mechanical search and show results that match the search. This feature is utilized by the marketing companies and they create content for the website 
                  that needs to be marketed. It is the process of getting the rank upon SERP (Search Engine Result Page) through paid media is called search engine marketing. For eg, if you are searching for your products and services you ensure that your website comes on the top of the ranking and traffic is redirected to your website.</p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/search-engine-marketing-cycle.png" class="img-fluid"/>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/sem.png" class="img-fluid" />
            </div>
            <div class="col-lg-8 text-justify">
                <p>Companies are going virtual and the only reason why they are resorting to this means is to utilize the internet to touch 
                base with clients from far and wide. Since more and more people surf the net, it is easy to 
                become visible to the internet users if the companies choose internet to be the medium to
                 reach out to people. But this is easier said than done and that reason alone, the companies are hiring internet 
                marketing agencies to do this hob for them. There are very few result oriented search engine marketing companies like 
                Afluex Multiservices LLP, who employ methods to make sure that when a net user searches for products or related services, search engines provide the name of the company that we are marketing.</p>
                <p>We have the best team of experts who ensure that requirements are met as per your requirements or products or services. As a part of our best search engine marketing services in Lucknow, we make out best strategies so as to give you maximum conversion to maintain a proper conversion rate. We plan the strategies accordingly so as to give you the maximum ROI. You only just have to pay when someone clicks your ads and there no extra money required to be spent apart from that.</p>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-8 text-justify">
                <h3>Advantages of SEM</h3>
                <p>When you opt for search engine optimizatin and web marketing services by us, we would provide you customized marketing plan and process to get you in the top of the search engine results. The main advantages are that the content of the website and full website is reframed if required so that the SEO work is done properly and appearing on search engine top lists grabs a lot of eyeballs. Your website get more traffic and potential business leads.</p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/Search-Engine-Optimazation-2.png" class="img-fluid" />
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/Search-Engine-Marketing-3.png" class="img-fluid" />
            </div>
            <div class="col-lg-8 text-justify align-items-center">
                <h3>Benefits of SEM</h3>
                <p>With the help of the web marketing service that includes seo and smo, the website shows up on the first batch of results. It is important that the website appears among the top 10 results as the viewer never has the patience to scroll on and on and look for answers. Due to this limited attention span of the viewer, the advertiser tries might and mane to popularize the brand. As a SEM Company in India we use all methods possible to increase your business and maximize your sales.</p>
            </div>
         </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-8 text-justify">
                <h3>How We can help</h3>
                <p>Afluex Multiservices LLP has been involved in providing search marketing services to its customers across the globe. A well-established team of search engine marketing professionals will manage. We have a wide client base because of our services and our extremely competitive prices.</p>
            </div>
            <div class="col-lg-4">
                <img src="~/afluexit/images/services/support-customer_1.png" class="img-fluid" />
            </div>
        </div>
       </div>
    </section>

<section class="services_page pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h2 class="font-weight-bold">Reach your target audience with a well-managed and effective SEM Services</h2>
                <p>
                    Our company offers reasonable prices with business specific web development, web technology development integration. Our
                    professional team helps to fix needs and challenges of businesses by integrating their
                    expertise and latest trends. Get in touch with us and have the experience of best services in web app development.
                </p>
                <div class="abt_btn mt-3">
                    <a href="/web/contactus" class="btn btn-lg btn-custom">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services_page mb-5">
    <div class="container">
        <div class="row text-center mb-5">
            <h3>Frequently Asked Questions About Search Engine Marketing</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="myAccordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse1">1. What is Search Engine Marketing?</button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    Search Engine Marketing (SEM) refers to all the paid marketing strategies that are conducted to improve a site's visibility in the search engine results to drive more website traffic and generate revenue.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse2">2. What are the prices of your SEM Packages? Can I customize it?</button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>Yes, you can customize your SEM package depending on your area of business and scope of work. Contact us to get a quote todays.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3">3. How much money does it require to create a web app?</button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                            <div class="card-body">
                                <p>
                                    The customer’s requirements determine the cost incurred on creating a web app. The number of web developers in the team dedicated to you, the scale of the project, and number of other factors help to calculate the cost of web development project.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <h3 class="text-capitalize">
                    If you are ready to build your next PPC marketing campaign, reach out to receive an obligation-free
                    PPC & retargeting assessment.
                </h3>
                <h5 class="mt-3">During our evalution, we will look at:</h5>
                <ul>
                    <li>Google Analytics Data</li>
                    <li>Curent PPC & retargeting results</li>
                    <li>Budget(Cost per lead/cost per click)</li>
                    <li>Landing page performance</li>
                    <li>Your current (or planned) conversion rate</li>
                </ul>
                <p>
                    Our high-level PPC and retargeting campaigns are proven effective from the very start and
                    we have a terrific track.
                </p>
                <h3>Chat With Our Specialists or Call Us</h3>
                <h3><a href="tel:917310000413">+91 731-0000-413</a>/<a href="tel:917310000412"> 412</a></h3>
            </div>
            <div class="col-lg-6">
                <div class="card" style="background:#418fb2">
                    <div class="card-body">
                        <form class="dzForm p-4" action="">
                            <h3 class="title-box mb-5 text-white">
                                Write us a few words about your project and we’ll prepare a proposal for you within 24 hours
                            </h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="First Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Last Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Email" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Mobile" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="Company Name" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input Placeholder="What can we help with?" class="form-control contact-box" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <textarea Placeholder="Message" class="form-control contact-box" cols="80" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="abt_btn">
                                        <input type="submit" class="btn btn-lg btn-custom" value="Submit" name="btnSave" />
                                    </div>
                                    @*<div class="contact_btn">
                                            <input type="submit" class="btn btn-primary btn-lg" value="Submit" name="btnSave" />
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
