
@{
    ViewBag.Title = "seo_services";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}
<style>
    .service_heading {
        margin: 10px 0px 0px 20px;
    }

    .service_box {
        padding: 10px;
    }
</style>

<section class="pt-5 pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="text-white">Search Engine Optimization In Lucknow</h2>
                <p class="text-white mt-3">
                    Are you someone who is running an online business? Are you wondering how to make your
                    website appear on SERPs? Do you want to boost your website ranking? If yes then all that
                    you simply want is that the right SEO services which may bring your website to the ranking of major search engines.
                </p>
                <div class="abt_btn mt-5">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-5 offset-1">
                <img src="~/afluexit/images/services/seo_image.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page">
    <div class="container">
        <div class="row text-center">
            <h3><strong>Leading SEO Company In Lucknow</strong></h3>
            <p class="mt-2">
                Afluex Multiservices LLP is a renowned Search Engine Optimization (SEO) Company in Lucknow and surrounding areas. We provide a range of services to those who are looking for online marketing solutions. As an SEO Company,
                counted among the top SEO Companies in Lucknow, we can give your business a new look and thus better ranking. Being the best SEO Company in Lucknow, we leave no stone unturned to cater to your needs. We perceive and respect the
                actual fact for several online business owners; the idea of web promoting is new.
            </p>
        </div>
    </div>
</section>

<section class="services_page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3 class="mb-4">Why are Afluex SEO services important for you ?</h3>
                <p>We are an experienced team of professionals that stands at the forefront of all emerging trends in digital marketing. Understanding that every business has a different set of challenges and unique requirements, we deliver custom Internet Marketing Solutions that meet their specific needs. Together, we help diverse industry clients to stay ahead of their competition.</p>
                <p>With our seamless effort we are noted among the best SEO services in India. Whatever is your digital marketing requirement we are there to help you out. Our team of SEO expert in India will help you shape up your business to the heights of success.</p>
                <p>You might understand that the 90th of web users don’t even check the second page in Google once searching for a phrase.</p>
                <p>
                    Therefore, the high position of your website is very important. It is obvious that in business, location is the most important factor. Find your place on the front page on Google! For a reasonable package, we'll rank your page
                    in search engines.
                </p>
            </div>
            <div class="col-sm-5">
                <img src="~/afluexit/images/services/seo-analysis.jpg" class="img-fluid seo_img" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4">
                <img src="~/afluexit/images/services/boost_img-1.png" class="img-fluid" />
            </div>
            <div class="col-sm-7 offset-1">
                <h3 class="mb-4">We believe in the following core SEO values</h3>
                <ul>
                    <li>SEO is a long term game plan and should not be treated as a quick way to get sales</li>
                    <li>SEO should be white hat. As such, do not trust in link-building services or link exchanges that can harm your website's prospects.</li>
                    <li>SEO is not about just on-page and off-page. SEO depends on your website’s technology, its performance, its architecture, its on-page content as well as quality of backlinks.</li>
                    <li>Google has made SEO tougher. Therefore we prefer to employ methods which will help you succeed in the long run.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-light_blue">
    <div class="container">
        <div class="row text-center">
            <h3>Why SEO Is Important To Your Websites ?</h3>
            <p>Smart decision requires smartest portfolio actions and we are glad that we have within us.</p>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fas fa-poll fa-2x mt-2"></i>
                                @*<img src="~/afluexit/images/icon/keyword.png" class="icon_img" />*@
                                <h5 class="service_heading">Enhance Ranking</h5>
                            </div>
                            <p>
                                Ultimately, SEO is for improving ranking on search engines. Rule top position in organic results and
                                ameliorate your domain.
                            </p><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fas fa-chart-line fa-2x mt-2"></i>
                                @*<img src="~/afluexit/images/icon/landing-page.png" class="icon_img" />*@
                                <h5 class="service_heading">Increase Credibility</h5>
                            </div>
                            <p>
                                As search engine optimization boosts websites to ranked pages in search
                                engines. Hence, it ultimately makes your brand credible in front of prospects.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fa fa-keyboard fa-2x mt-2"></i>
                                <h5 class="service_heading">Effective Strategy</h5>
                            </div>
                            <p>SEO implies keyword phrases of searches performed by the customers. Taking effective keywords into scope it works as an effective strategy for business.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fas fa-user fa-2x mt-2"></i>
                                <h5 class="service_heading">User Experience</h5>
                            </div>
                            <p>Search engines push to rank websites with first, mobile-friendly design and good contents. Thus SEO is helpful in building user experience.</p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fas fa-search fa-2x mt-2"></i>
                                <h5 class="service_heading">Major Search Engine</h5>
                            </div>
                            <p>Without a search engine SEO is nothing! Hence, 96% of internet based users begin their web search for solutions through a major search engine such as Google.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fas fa-headset fa-2x mt-2"></i>
                                <h5 class="service_heading">Generate Leads</h5>
                            </div>
                            <p>The efforts put on website optimization using off-site tweaks and on-site tailored helps customers to find you. As a result, the query generated help to boost conversion rates.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page">
    <div class="container">
        <div class="row text-center">
             </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <img src="~/afluexit/images/services/seo-service-new.jpg" class="img-fluid"/>
            </div>
            <div class="col-sm-6">
                <h3 class="mb-3">Is SEO Important For Every Sort Of Business?</h3>
                <p>If your company does have a website, SEO is important for your business irrespective of its age, scale, type or offline ranking or goodwill. SEO is a controllable factor that can ensure a stable ground for the long term profitable existence of the business. Irrespective of its surrounding factors, investment in SEO delivers its results in terms of web page visibility, visitor traffic and credibility. SEO though is an essential strategy for every business with online attendance, its level of requirement might vary based on certain factors like: </p>
                <ul>
                    <li>The stage of the website in the process of growth.</li>
                    <li>The reaction of website visitors.</li>
                    <li>Preference for specific keyword ranking by website owners.</li>
                    <li>Level of existing competition about the above-chosen keywords.</li>
                    <li>Has SEO been practised as a strategy before or not?</li>
                    <li>Is there any kind of Google penalty on websites?</li>
                </ul>
            </div>
         </div>
        </div>
    </section>

            @*<section class="services_page">
                    <div class="container">
                        <div class="row">
                            <!-- Info Column -->
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <div class="services_inner_column">
                                    <div class="ser_title">
                                        <span class="title">THE BEST PLACE TO FIND THE Search Engine Optimization YOU WANT</span>
                                        <h2>Search Engine Optimization Services In Lucknow</h2>
                                    </div>
                                    <div class="services_content_details">
                                        <p class="text-justify">
                                            Are you someone who is running an online business? Are you wondering how to make your website appear on SERPs? Do you want to boost your website ranking? If yes then all that you simply want is that the right SEO services which
                                            may bring your website to the ranking of major search engines.
                                        </p>
                                        <p class="text-justify">
                                            Afluex Multiservices LLP is a renowned Search Engine Optimization (SEO) Company in Lucknow, Lucknow, and surrounding areas. We provide a range of services to those who are looking for online marketing solutions. As an SEO Company,
                                            counted among the top SEO Companies in Lucknow, we can give your business a new look and thus better ranking. Being the best SEO Company in Lucknow, we leave no stone unturned to cater to your needs. We perceive and respect the
                                            actual fact for several online business owners; the idea of web promoting is new.
                                        </p>
                                        <p class="text-justify">You might understand that the 90th of web users don’t even check the second page in Google once searching for a phrase.</p>
                                        <p class="text-justify">
                                            Therefore, the high position of your website is very important. It is obvious that in business, location is the most important factor. Find your place on the front page on Google! For a reasonable package, we'll rank your page
                                            in search engines. Try us and you will see!
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="about-list">
                                                    <h5 class="green">OUR APPROACH:</h5>
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i> <strong>Keyword Research</strong></li>
                                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i> <strong>On-Page Optimization</strong></li>
                                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i> <strong>Off  Page Optimization</strong></li>
                                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i> <strong>Analytics Tracking</strong></li>
                                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i> <strong>Content Optimization</strong></li>
                                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i> <strong>Website Audits</strong></li>
                                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i> <strong>Organic Links</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12">
                                                <img src="~/afluexit/images/services/seo-services.jpg" class="img-fluid" alt="seo" />
                                            </div>
                                        </div>
                                        <p class="text-justify">
                                            While most technologically skillful people know the value of Onsite Search Engine Optimization (SEO) yet only 10% of people realize the importance of Offsite SEO. This is the reason why Onsite and Offsite SEO services are extremely important for the online
                                            growth and visibility of your business.
                                        </p>
                                        <p class="text-justify">
                                            Onsite Search Engine Optimization refers to the use of SEO optimized keywords in the text of the body presented on a website. If your business regularly updates blogs, articles, and similar text that contain the right SEO keywords and phrases in the right
                                            place, then it is SEO optimized and will drive all the right web traffic to your business website. However, if the situation is reversed, just get in touch with the Afluex digital marketing team as they will help you get your
                                            website in SEO shape.
                                        </p>

                                        <div class="row">
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                <p class="text-justify">
                                                    Establishing the Onsite SEO is only half battle won as Offsite SEO is also equally important. If you are considering availing of digital marketing solutions, it is important to opt for both onsite and offsite services. Offsite SEO involves the placement
                                                    of SEO keywords at relevant points throughout the website to make sure the site ranks higher on the search engine result page.
                                                </p>
                                                <p class="text-justify">By efficiently using Offsite SEO services, the keywords, and the links, your business will most likely attract the targeted audience.</p>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-12">
                                                <div class="targetaudience pull-right">
                                                    <img src="~/afluexit/images/services/targeted-audience.png" class="img-fluid" alt="seo" />
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-justify">
                                            Our team can help you maximize the potential of Offsite SEO as we will make sure people everywhere know about your company and its services. "We also make sure that our SEO efforts are conducted in a professional manner". "We don't wish to spam our client’s
                                            website and won’t be using it to market your website also". So whether you are curious to know more about Onsite SEO or Offsite SEO, we can easily help you and your company. Contact us today to attract your targeted customers
                                            with ease.
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                <h5 class="green">Why Choose Afluex?</h5>
                                                <p class="text-justify">
                                                    If you are looking for the best SEO company in Lucknow? Afluex Multiservices LLP is your answer! Afluex is one of the cheap and best SEO Company in Lucknow, Lucknow. We provide a range of web app development services, Mobile
                                                    App Development Services, Software Development, we also offer Online Promotion, Digital Marketing, Search Engine Optimization(SEO), Social Media Optimization (SMO), Social Media Marketing (SMM).
                                                </p>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-12">
                                                <img src="~/afluexit/images/services/business-plan-pana.png" class="img-fluid" alt="seo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Video Column -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="services_inner_column">
                                    <div class="ser_title">
                                        <span class="title">Enquiry Here</span>
                                        <h2>For Quick Demo</h2>
                                    </div>
                                  @{Html.RenderAction("DemoContact", "web", new { area = "" });}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>*@

