@{
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="bg-dark_skyblue pt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-white text-justify">
                <h1 class="font_text">Social Media Marketing Services</h1>
                <p class="mt-3">
                    As a leading social media marketing agency in India, we strive to build a solid competitive
                    position for your online presence on top social media platforms like Instagram,  Facebook,
                    Youtube, among many others. Having a brand is just not enough. The consistent building and strengthening of a brand is important to target a particular audience for business growth. Business promotion involves informing and influencing the audience to increase sales and differentiate your product from other competitors.
                </p>
                <div class="abt_btn mt-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-skyblue border-white">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-5 offset-1">
                <img src="~/afluexit/images/services/promote-business.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page mb-5">
    <div class="container">
        <div class="row text-center">
            <h3 class="font_text">Social Media Marketing Services</h3>
            <p>
                As a leading social media marketing agency in India, we strive to build a solid competitive position for your online presence on top
                social media platforms like Instagram, Facebook, Youtube, among many others. Through our experience as a leading
                social media marketing agency in Lucknow, we have developed a team of strategic-thinking digital marketing specialists that believe in
                empowering brands and assisting businesses in growing by using digital power. Our experience as a performance-driven Social Media Marketing Company of more than a decade enables you to create a community on various social platforms, strengthen the relationship with your target audience, maintain a high brand recall, and position yourself as a thought leader in the industry.
            </p>
            <p>
                With the expertise of a leading social media marketing company in Lucknow, we carry out extensive sentiment analysis to develop a social media plan that engages your audience with informative and engaging content through trending mediums and formats. Our creative team is always brimming with ideas that lead to compelling strategies crafted to draw high engagement on multiple social media channels with the expertise of one of the finest social media marketing companies in india.
            </p>
        </div>
    </div>
</section>

<section class="services_page mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>What can we help you find from our services in Social Media Marketing.</h3>
                <p>More than 90% marketers claim that social media marketing has increased business's recognition, generated immense exposure, traffic and sales. Social media marketing is a crucial element for success in marketing and it has a potential for promoting business growth as well as building new marketing opportunities.</p>
                <ul>
                    <li>Improves search engine rankings.</li>
                    <li>Increases brand awareness.</li>
                    <li>Offers more brand authority.</li>
                    <li>Provides better customer satisfaction.</li>
                    <li>Generates more inbound traffic.</li>
                    <li>Supports higher conversion rates.</li>
                    <li>Improves brand loyalty.</li>
                    <li>Ensures cost-effectiveness.</li>
                    <li>Increases website exposure.</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <img src="~/afluexit/images/services/Social-media-optimization.png" class="img-fluid"/>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-light_blue">
    <div class="container">
        <div class="row text-center">
            <h3 class="font_text">SMM Services We Offer</h3>
            <p>
                We help businesses enhance their brand’s influence using social media channels and also generate more leads as well as sales.
            </p>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fa fa-facebook fa-2x mt-2"></i>
                                @*<img src="~/afluexit/images/icon/keyword.png" class="icon_img" />*@
                                <h5 class="service_heading">Facebook Marketing</h5>
                            </div>
                            <p>
                                We make sure that your ads bring in customers that convert by using through research,
                                landing page testing and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fa fa-twitter fa-2x mt-2"></i>
                                @*<img src="~/afluexit/images/icon/landing-page.png" class="icon_img" />*@
                                <h5 class="service_heading">Twitter Marketing</h5>
                            </div>
                            <p>
                                We are not only get you the right ads, we get you the right landing page.
                                Our landing pages will maximize your customer conversion rate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fa fa-youtube fa-2x mt-2"></i>
                                <h5 class="service_heading">Youtube Marketing</h5>
                            </div>
                            <p>
                               Go with our rigorous testing process. We find out
                                what works and what does not maximizing your PPC effectiveness.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fa fa-instagram fa-2x mt-2"></i>
                                <h5 class="service_heading">Instagram Marketing</h5>
                            </div>
                            <p>
                                Our experts at Afluex have a suite of analytics, surveys and other tools at their
                                disposal that can help perfect your conversion funnel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fa fa-linkedin fa-2x mt-2"></i>
                                <h5 class="service_heading">LinkedIn Marketing</h5>
                            </div>
                            <p>
                                We can offer effective social media advertising for your business on popular
                                platforms like Facebook and Twitter, all for the same price.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="service_box">
                            <div class="service_icon d-flex mb-3">
                                <i class="fa fa-pinterest fa-2x mt-2"></i>
                                <h5 class="service_heading">Pinterest Marketing</h5>
                            </div>
                            <p>
                                Afluex can maximize brand awareness and drive conversions and leads by integrating
                                your ads right into the web's most popular sites.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5">
    <div class="container">
        <div class="row text-center">
           
        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <center> <img src="~/afluexit/images/services/hero-area.png" class="img-fluid" style="height:350px;" /></center>
            </div>
            <div class="col-sm-6">
                <h3>The Highlights of Our Social Media Marketing Services</h3>
                <p>There are some points in our social media networking that we are particular about. Here are some of the pointers:</p>
                <ul>
                    <li>Comprehensive understanding of your business and purpose to draw up the social media networking blueprint.</li>
                    <li>Creative content disseminated through social media profiles in the form of Infographics, contest, viral memes, videos and snaps that go viral, getting your brand immense online mileage.</li>
                    <li>Manage and procure social media ads for your brand so that more eyeballs find out about your business, service and products.</li>
                    <li>Develop social media apps that engage and keep your potential customers hooked to updates, alerts and news about your brand.</li>
                    <li>Clearly defined goals that are measured in social media yardsticks that are internationally accepted.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="services_page bg-light_blue pb-5">
    <div class="container">
        <div class="row text-center">
            <h2><strong>Our Proficiency</strong></h2>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4">
                <div class="box-content">
                    <article class="icon-box20">
                        <i class="fa fa-check-circle"></i>
                        <h4>100% Satisfaction</h4>
                        <p style="padding-right:10px;">Having in update with latest technologies, our experts deliver outstanding ASP.NET based solutions.</p>
                    </article>
                    </div>
                </div>
            <div class="col-sm-4">
                <article class="icon-box20">
                    <i class="fa fa-check-circle"></i>
                    <h4>Proven Methodologies</h4>
                    <p style="padding-right:10px;">With industry wide experience and right skills in working with various projects that enable us to employ the best business.</p>
                </article>
            </div>
            <div class="col-sm-4">
                <article class="icon-box20">
                    <i class="fa fa-check-circle"></i>
                    <h4>Rapid Development</h4>
                    <p style="padding-right:10px;">With Asp.Net web development, we can integrate and change the irrelevant codes, sustain codes and capture bugs.</p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <article class="icon-box20">
                    <i class="fa fa-check-circle"></i>
                    <h4>100% Tableless Design</h4>
                    <p style="padding-right:10px;">We use 100% tableless layout, which compels to write standard compliant code. It ensures fast and quick.</p>
                </article>
            </div>
            <div class="col-sm-4">
                <article class="icon-box20">
                    <i class="fa fa-check-circle"></i>
                    <h4>Fast Data Processing</h4>
                    <p style="padding-right:10px;">Our dedicated team of developers ensure faster data processing as well as compatibility.</p>
                </article>
            </div>
            <div class="col-sm-4">
                <article class="icon-box20">
                    <i class="fa fa-check-circle"></i>
                    <h4>24/7 Technical Support</h4>
                    <p style="padding-right:10px;">Through our diverse technical support channels that connect you with the right team of expert developers.</p>
                </article>
            </div>
        </div>
    </div>
</section>