
@{
    ViewBag.Title = "website_maintenance";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="pt-3 bg-dark_skyblue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="text-white font_text"> Website Maintenance Services Provider</h1>
                <p class="text-white mt-3 text-justify">
                    Are you looking for a website maintenance company in India for best website maintenance
                    services at low prices? Afluex Multiservices LLP offers best website maintenance packages
                    for small to large size businesses in Lucknow. For more details on our website maintenance services please contact us today!
                </p>
                <div class="abt_btn mt-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn border-white btn-skyblue">Request A Free Quote</a>
                </div>
            </div>
            <div class="col-lg-4 offset-2">
                <img src="~/afluexit/images/services/maintenance-img.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page mb-5">
    <div class="container">
        <div class="row text-center">
            <h2 class="font_text">What Is Website Maintenance And Why Should You Hire A Website <br /> Maintenance Services Company?</h2>
        </div>
        <div class="row mt-5">
            <div class="col-lg-7 text-justify mt-2">
                <p>Website maintenance is the process of keeping a check on a website regularly for errors and downtime and keeping it up to date and relevant for users.
                Websites should be maintained on a regular and consistent basis so that you can keep your website healthy, boost traffic growth and build up your SEO and google rankings.
                Making a website maintained efficiently helps small and large businesses to lure customers and retain them. It is easy for businesses, particularly startups.
                A website maintenance company will make sure your website is working well most of the time.</p>
                <p>With the changing technology every day and the launch of new products, it is important to maintain the websites on the regular basis. The website maintenance helps the customer to stay updated with the latest product launch and the changes if any.
                    The website maintenance involves checking the mistakes in the website, make the change if necessary relevant to the product and its usage in the market. Our technicians at TechUnlimited are keen to maintain your websites to encourage the traffic growth, helps you in running your business smoothly by strengthening your SEO and google rankings.
                    we also offer website maintenance and security services because we know site management and maintenance is essential to maximizing your online performance.
                </p>
            </div>
            <div class="col-lg-5">
                <img src="~/afluexit/images/services/maintenance_img.jpg" class="img-fluid"/>
            </div>
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-dark_skyblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h3 class="font_text">Steps Involved In Website Maintenance Services</h3>
                <p>To keep your website running smoothly, you need to complete a long list of tasks. Security updates and patches of websites are the most crucial ones to be done. If these security updates are done, the website is prone to danger when someone clicks on it.</p>
                <p>Keeping this in mind, here is the list of tasks that need to be done.</p>
                <div class="abt_btn mt-3">
                    <a href="/web/contactus" class="btn btn-lg btn-custom">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_page mb-5">
    <div class="container">
        <div class="row text-center">
            <h2 class="font_text">Why Is It Essential To Hire A Website Maintenance Company?</h2>
            <p>Most small companies have much more to think about in their businesses than check their website regularly. Though buying a domain name, setting up a temporary website, and thinking about it later, might be alluring but it is not a good idea due to several reasons. There are many other factors for which it is considered essential to keep the website up to date, active, and safe.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <img src="~/afluexit/images/services/seo.jpg" class="img-fluid" />
            </div>
            <div class="col-lg-6 text-justify">
                <h3 class="mb-3">Search Engine Optimization</h3>
                <p>What is the primary purpose of starting a business? The answer is to have an audience, customers, or clients who would help the business gain profits. There will be customers and clients once traffic is driven towards your website. This could be possible when you keep your website regularly updated.</p>
                <p>Google ranks the websites based on the most relevant information and updated information on their search engine results page. De-indexing is also done to a website if no update has been done for
                 the content in recent times and infection of malware has been suspected on the website. Therefore, it is recommended that your website should be 
                 updated regularly with the latest news, trends, keywords, content, grammar, etc to maintain the SEO rankings. Regular website maintenance is vital for boosting SEO health.</p>
               </div>
          
        </div>
    </div>
</section>

<section class="services_page pb-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-white mt-3">
                <h2 class="text-white">Keep Up With Trends In Design And Technology</h2>
                <p class="text-justify">Customers get attracted to a website that looks attractive. A website will look attractive when it is designed keeping in mind the proper structure and is up to date.
                 If you maintain and update your website on a regular basis, you will get the opportunity to adopt new technology that comes in, which will help to smoothly function the back end work of the website. Also, if you install software updates regularly, you will be able to use the new features that get installed with the updates.</p>
                <p class="text-justify">To keep up with the new online trends, you can adjust the design and structure of the website to be updated. It is always better to get through a company that has an upgraded website rather than a website that looks outdated.</p>
            </div>
            <div class="col-lg-5 offset-1">
                <img src="~/afluexit/images/services/maintenance-img3.png" style="height:320px;" class="img-fluid"/>
            </div>
        </div>
        </div>
    </section>
        <section class="services_page pb-5">
            <div class="container">
                <div class="row text-center mb-5">
                    <h3 class="font_text">Frequently Asked Questions</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion" id="myAccordion1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse1">1. How does a website maintenance company help?</button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion1">
                                    <div class="card-body">
                                        <p>
                                            The website maintenance services help in keeping a regular check on your website for errors and keeping it updated for users. They do so to enable a healthy website, boost traffic growth, build up SEO as well as Google rankings. These services help in luring customers by efficiently maintaining the website, both for small and large business setups.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse2">2. How does website maintenance work if I have a company website just for marketing?</button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                                    <div class="card-body">
                                        <p>The website will be self-hosted and will be designed in a simple structure and minimal content. There will be regular updates, backups, marketing, and more with low maintenance costs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3">3. Why should I rely upon Rankon Technologies for Website Maintenance?</button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#myAccordion1">
                                    <div class="card-body">
                                        <p>Afluex Multiservices LLP is one of the most prominent Website Maintenance companies in India that has made hundreds of SEO-ranked websites in various niches for different businesses.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*<section class="services_page pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-2">
                        <h3 class="text-capitalize">
                            If you are ready to build your next PPC marketing campaign, reach out to receive an obligation-free
                            PPC & retargeting assessment.
                        </h3>
                        <h5 class="mt-3">During our evalution, we will look at:</h5>
                        <ul>
                            <li>Google Analytics Data</li>
                            <li>Curent PPC & retargeting results</li>
                            <li>Budget(Cost per lead/cost per click)</li>
                            <li>Landing page performance</li>
                            <li>Your current (or planned) conversion rate</li>
                        </ul>
                        <p>
                            Our high-level PPC and retargeting campaigns are proven effective from the very start and
                            we have a terrific track.
                        </p>
                        <h3>Chat With Our Specialists or Call Us</h3>
                        <h3><a href="tel:917310000413">+91 731-0000-413</a>/<a href="tel:917310000412"> 412</a></h3>
                    </div>
                    <div class="col-lg-6">
                        <div class="card" style="background:#418fb2">
                            <div class="card-body">
                                <form class="dzForm p-4" action="">
                                    <h3 class="title-box mb-5 text-white">
                                        Write us a few words about your project and we’ll prepare a proposal for you within 24 hours
                                    </h3>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <input Placeholder="First Name" class="form-control contact-box" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <input Placeholder="Last Name" class="form-control contact-box" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <input Placeholder="Email" class="form-control contact-box" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <input Placeholder="Mobile" class="form-control contact-box" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <input Placeholder="Company Name" class="form-control contact-box" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <input Placeholder="What can we help with?" class="form-control contact-box" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <textarea Placeholder="Message" class="form-control contact-box" cols="80" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="abt_btn">
                                                <input type="submit" class="btn btn-lg btn-custom" value="Submit" name="btnSave" />
                                            </div>
                                            @*<div class="contact_btn">
                                                    <input type="submit" class="btn btn-primary btn-lg" value="Submit" name="btnSave" />
                                                </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@


