################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Afluex/obj/Debug/Afluex.csprojResolveAssemblyReference.cache
