@media screen and (max-width: 768px) {}

@media (min-width: 320px) and (max-width: 568px) {
    .loader_inner {
        text-align: center;
        position: absolute;
        left: 10%;
        top: 20%;
    }
    .loader .face:nth-child(1) {
        width: 60%;
        height: 60%;
        color: #3ea5ae;
        border-color: currentColor transparent transparent currentColor;
        border-width: 0.2em 0.2em 0em 0em;
        --deg: -45deg;
        animation-direction: normal;
    }
    .loader .face:nth-child(2) {
        width: 50%;
        height: 50%;
        color: #418fb2;
        border-color: currentColor currentColor transparent transparent;
        border-width: 0.2em 0em 0em 0.2em;
        --deg: -135deg;
        animation-direction: reverse;
    }
    .loader_inner img {
        max-width: 30%;
    }
}