<!DOCTYPE html>

<html lang="en">
<head>
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-KPG42ZW"></script>
    <script data-host="https://analytics.h-supertools.com" data-dnt="false" src="https://analytics.h-supertools.com/js/script.js" id="ZwSg9rf6GA" async defer></script>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/https://www.afluex.com/afluexit/images/favicon.png">
    @{
        string currentUrl = Url.RequestContext.RouteData.Values["controller"] + "/" + Url.RequestContext.RouteData.Values["action"];
        if (currentUrl == "advertisement/tv-advertising")
        {
            <title>Television Advertising Agency in Lucknow | Afluex</title>
            <meta name="description" content="Television advertising agency for News Channel, Aaj Tak, Zee News, ABP News, India TV, Republic Bharat, Star Plus, Colours, Hindi, English & Pan India." />
            
            <meta name="keywords" content="advertising agency,ad agency,advertising company,outdoor advertising,billboard advertising,advertising company,outdoor media" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Television Advertising Agency in Lucknow | Afluex Multiservices">
            <meta property="og:site_name" content="TV Advertising Services">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/tv-advertising">
            <meta property="og:description" content="Television advertising agency for News Channel, Aaj Tak, Zee News, ABP News, India TV, Republic Bharat, Star Plus, Colours, Hindi, English & Pan India.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:creator" content="Afluex Llp">
            <meta name="twitter:title" content="Television Advertising Agency in Lucknow | Afluex Multiservices">
            <meta name="twitter:description" content="Television advertising agency for News Channel, Aaj Tak, Zee News, ABP News, India TV, Republic Bharat, Star Plus, Colours, Hindi, English & Pan India.">
            <meta name="twitter:image" content="https://Afluex.com/images/Afluexog.png">

            



            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "orgnization",
                "brand": "Afluex Multiservices LLP",
                "name": "TV Advertising Services",
                "url": "https://www.afluex.com/"
                }
            </script>
        }
        else if (currentUrl == "advertisement/advertisementvertising-agency")
        {
            <title>Advertising Agency In India| Lucknow| Afluex</title>
            <meta name="keywords" content="advertising agency, advertising agency in india, advertising agency in lucknow, outdoor advertising agency, hoarding advertising agencies" />
            <meta name="description" content="Afluex is a fully integrated advertising agency in India. We bring together brilliant people to build a better future for hoarding, unipole, billboard." />
           
            <meta name="robots" content="index, follow">
            <meta property="og:title" content="Advertising Agency In India | Lucknow | Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/advertisementvertising-agency">
            <meta property="og:description" content="Afluex is a fully integrated advertising agency in India.We bring together brilliant people to build a better future for our clients. For more Inquiry call + 91 731 - 0000 - 413 / 412.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Advertising Agency In India | Lucknow | Afluex">
            <meta name="twitter:description" content="Afluex is a fully integrated advertising agency in India.We bring together brilliant people to build a better future for our clients. For more Inquiry call + 91 731 - 0000 - 413 / 412">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }          
                
                }
            </script>
        }
        else if (currentUrl == "advertisement/blog")
        {
            <title>Top 10 Benefits of Hiring Outdoor Advertising Agencies | Boost Business Visibility</title>
            <meta name="keywords" content="advertising agency, advertising agency in india, advertising agency in lucknow, outdoor advertising agency, hoarding advertising agencies" />
            <meta name="description" content="Discover how outdoor advertising agencies can enhance your business. Explore the 10 compelling benefits of hiring experts in outdoor advertising.">


            <meta name="robots" content="index, follow">
            <meta property="og:title" content="Top 10 Benefits of Hiring Outdoor Advertising Agencies | Boost Business Visibility">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/advertisementvertising-agency">
            <meta property="og:description" content="Discover how outdoor advertising agencies can enhance your business. Explore the 10 compelling benefits of hiring experts in outdoor advertising.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Top 10 Benefits of Hiring Outdoor Advertising Agencies | Boost Business Visibility">
            <meta name="twitter:description" content="Discover how outdoor advertising agencies can enhance your business. Explore the 10 compelling benefits of hiring experts in outdoor advertising.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }

                }
            </script>
        }
        else if (currentUrl == "advertisement/online-marketing")
        {
            <title>Online Marketing Agency in Lucknow - Afluex multiservices</title>
            <meta name="description" content="Afluex is the most preferred online marketing, hoarding, branding, and outdoor advertising tv and radio mobile van Unipole advertising, agency in Lucknow." />
            <meta name="keywords" content="advertising agency,ad agency,advertising company,ad company,advertising agency near me,Online Marketing Agency" />
            
            <meta name="robots" content="index, follow">
            <meta property="og:title" content="Online Marketing Agency in Lucknow - Afluex multiservices llp.">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/online-marketing">
            <meta property="og:description" content="Afluex is the most preferred online marketing, hoarding, branding, and outdoor advertising tv and radio mobile van Unipole advertising, agency in Lucknow.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Online Marketing Agency in Lucknow - Afluex multiservices llp.">
            <meta name="twitter:description" content="Afluex is the most preferred online marketing, hoarding, branding, and outdoor advertising tv and radio mobile van Unipole advertising, agency in Lucknow.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }

        else if (currentUrl == "advertisement/company-overview")
        {
            <title>Company Overview - Afluex multisservices llp</title>
            <meta name="description" content="We offer advertisement services like in-shop & outdoor advertising, and mobile van promotion. Founded in 2017 & listed all over India." />
            <meta name="keywords" content="billboard, unipole, hoding agency. advertising agency" />
            
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Company Overview| Advertising Agency| Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/company-overview">
            <meta property="og:description" content="We offer advertisement services like in-shop & outdoor advertising, and mobile van promotion. Founded in 2017 & listed all over India.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Company Overview| Advertising Agency| Afluex">
            <meta name="twitter:description" content="We offer advertisement services like in-shop & outdoor advertising, and mobile van promotion. Founded in 2017 & listed all over India.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/vision-and-mission")
        {
            <title>Mission & Vision | Advertising Agency | Afluex</title>
            <meta name="description" content="Our mission is to help our clients grow and their companies and grow their brands with well-crafted marketing communication merging the latest techniques" />
           
            <meta name="keywords" content="advertising agency, vission and mission, advertising company" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Our Mission & Vision| Advertising Agency| Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/vision-and-mission">
            <meta property="og:description" content="Our mission is to help our clients grow and their companies and grow their brands with well-crafted marketing communication merging the latest techniques">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Our Mission & Vision| Advertising Agency| Afluex">
            <meta name="twitter:description" content="Our mission is to help our clients grow and their companies and grow their brands with well-crafted marketing communication merging the latest techniques">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/our-team")
        {
            <title>Our Advertisement Team| - Afluex multservices llp</title>
            <meta name="description" content="Our team is an expert in the field of Advertising services radio, auto branding, printing services, wall wrap ads & outdoor branding Digital marketing services." />
           
            <meta name="keywords" content="afluex team" />
            <meta name="robots" content="index, follow">
            <meta property="og:title" content="Our Advertisement Team| - Afluex multservices llp">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/our-team">
            <meta property="og:description" content="Our team is an expert in the field of Advertising services radio, auto branding, printing services, wall wrap ads & outdoor branding Digital marketing services.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Our Advertisement Team| - Afluex multservices llp">
            <meta name="twitter:description" content="Our team is an expert in the field of Advertising services radio, auto branding, printing services, wall wrap ads & outdoor branding Digital marketing services.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/news-advertising")
        {
            <title>Newspaper Advertising Agency in Lucknow | Afluex Multiservices</title>
            <meta name="description" content="Afluex Multiservices is the leading Advertising Agency in Lucknow serving to book news classified Ads Online for all leading Newspapers in Lucknow." />
          
            <meta name="keywords" content="news advertising,advertising,ad agency,advertisement,outdoor advertising,Advertising Agency Lucknow, Lucknow Ad Agency, Lucknow Classified Ads, Lucknow Classified Ad Booking, Book Classified Ad in Lucknow Newspapers, Lucknow Matrimonial Ad Booking, Lucknow Property Ads, Lucknow Name Change Ad, Lucknow Recruitment Ad." />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Newspaper Advertising Agency in Lucknow | Afluex Multiservices">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/news-advertising">
            <meta property="og:description" content="Afluex Multiservices is the leading Advertising Agency in Lucknow serving to book news classified Ads Online for all leading Newspapers in Lucknow.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Newspaper Advertising Agency in Lucknow | Afluex Multiservices">
            <meta name="twitter:description" content="Afluex Multiservices is the leading Advertising Agency in Lucknow serving to book news classified Ads Online for all leading Newspapers in Lucknow.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/outdoor-advertising")
        {
            <title>Outdoor Advertising | Outdoor Advertising Agency in Lucknow.</title>
            <meta name="description" content="Afluex Advertising agency is the leading company in Outdoor Advertising Agency in India. We do provide Hoarding Advertising, No Parking,Digital Wall ads" />
         
            <meta name="keywords" content="outdoor advertising,hoarding advertising,billboard advertising,ooh in advertising,out of home advertising,outdoor media,billboard ads,billboard marketing,types of billboards,outdoor advertising companies,outdoor ads,types of outdoor advertising,outdoor media advertising,roadside hoardings,hoarding advertising agency,hoarding ads,outdoor hoarding advertising,home advertising,outdoor hoarding,outdoor advertising agency" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Outdoor Advertising Agency In India | Afluex multiservices llp ">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/outdoor-advertising">
            <meta property="og:description" content="Afluex Advertising agency is the leading company in Outdoor Advertising Agency in India. We do provide Hoarding Advertising, No Parking,Digital Wall ads">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Outdoor Advertising Agency In India | Afluex multiservices llp">
            <meta name="twitter:description" content="Afluex Advertising agency is the leading company in Outdoor Advertising Agency in India. We do provide Hoarding Advertising, No Parking,Digital Wall ads">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "blog/10-Benefits-of-Hiring-Outdoor-Advertising-Agencies-for-your-business")
        {
            <title>Top 10 Benefits of Hiring Outdoor Advertising Agencies | Boost Business Visibility</title>
            <meta name="description" content="Discover how outdoor advertising agencies can enhance your business. Explore the 10 compelling benefits of hiring experts in outdoor advertising." />
        }
        else if (currentUrl == "advertisement/mobile-van-promotion")
        {
            <title>Mobile Vans Advertising Services in Lucknow-Afluex</title>
            <meta name="description" content="Mobile Vans Advertisement Services Providers in Lucknow, Uttar Pradesh. Get contact details and addresses of Mobile Vans Advertisement company." />
         
            <meta name="keywords" content="mobile van advertising, led van advertising, advertising agency,advertising agency,advertising van,mobile van advertising " />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Mobile Vans Advertising Services in Lucknow-Afluex Multiservices">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/mobile-van-promotion">
            <meta property="og:description" content="Mobile Vans Advertisement Services Providers in Lucknow, Uttar Pradesh. Get contact details and addresses of Mobile Vans Advertisement company.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex multiservices Llp">
            <meta name="twitter:title" content="Mobile Vans Advertising Services in Lucknow-Afluex Multiservices">
            <meta name="twitter:description" content="Mobile Vans Advertisement Services Providers in Lucknow, Uttar Pradesh. Get contact details and addresses of Mobile Vans Advertisement company.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/wall-wrap")
        {
            <title>Wall Wrap Advertising Services | Afluex Multiservices LLP</title>
            <meta name="description" content="Advertising in Wall Wrap at the lowest rates across India with 20k advertising options. Just compare & select the best rates in your budget." />
            
            <meta name="keywords" content="wall wrap advertising, vehicle advertising, Wall Wrap Advertising Agency In Lucknow" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Wall Wrap Advertising Services | Afluex Multiservices LLP">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.afluex.com/advertisementvertisement/wall-wrap">
            <meta property="og:description" content="Advertising in Wall Wrap at the lowest rates across India with 20k advertising options. Just compare & select the best rates in your budget for your location.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Wall Wrap Advertising Services | Afluex Multiservices LLP">
            <meta name="twitter:description" content="Advertising in Wall Wrap at the lowest rates across India with 20k advertising options. Just compare & select the best rates in your budget for your location.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/auto-rickshaw-advertising")
        {
            <title>Auto Rickshaw Branding Service In U.P | Afluex Multiservices</title>
            <meta name="description" content="Increase your brand visibility with the best Auto rickshaw Advertising agency Across U.P by  Afluex Multiservices. get the latest offer, Call - 7310000413" />
            
            <meta name="keywords" content="auto rickshaw advertising, e rickshaw advertising,advertising agency,outdoor advertising,advertising campaign,advertising company,billboard advertising,transit advertising" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Auto Branding services In Lucknow - Afluex multiservices llp">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/auto-rickshaw-advertising">
            <meta property="og:description" content="Increase your brand visibility with the best Auto rickshaw Advertising agency Across U.P by  Afluex Multiservices. get the latest offer,Call - 7310000413">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Auto Branding services In Lucknow - Afluex multiservices llp">
            <meta name="twitter:description" content="Increase your brand visibility with the best Auto rickshaw Advertising agency Across U.P by  Afluex Multiservices. get the latest offer,Call - 7310000413">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/cinema-advertising")
        {
            <title>Best Cinema Advertising Agency | Afluex Multiservices</title>
            <meta name="description" content="Afluex Multiservices will source outdoor advertising options for your campaign from thousands of vendors. Then you can plan, and measure your campaign" />
           
            <meta name="keywords" content="cinema advertising, ad cinema, movie advertisement,theatre advertising,ad cinema,theatre ads," />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Best Cinema Advertising Agency in India  | Afluex Multiservices LLP">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/cinema-advertising">
            <meta property="og:description" content="Afluex Multiservices will source outdoor advertising options for your campaign from thousands of vendors. Then you can plan, and measure your campaign">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Best Cinema Advertising Agency in India  | Afluex Multiservices LLP">
            <meta name="twitter:description" content="Afluex Multiservices will source outdoor advertising options for your campaign from thousands of vendors. Then you can plan, and measure your campaign">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/radio-advertising")
        {
            <title>Radio Advertising Agency in Lucknow - Afluex Multiservices</title>
            <meta name="description" content="afluex is a leading Radio advertising agency in Lucknow. Having served multiple clients across Lucknow, we guarantee the best rates for FM advertising." />
            
            <meta name="keywords" content="radio advertising,radio ads,fm advertisingfm radio ad,radio advertising,radio ads,radio advertising costs,radio commercials,radio sales,fm advertising,advertising agency,marketing digital agency,television advertising,ad agency,marketing agency,advertising company,tv advertisement,tv ads,ad company,advertising agency near me,best digital marketing agencies,branding in advertising,top indian advertising agencies,advertising ogilvy,radio marketing" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Radio Advertising Agency in Lucknow - Afluex Multiservices LLP">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/radio-advertising">
            <meta property="og:description" content="afluex is a leading Radio advertising agency in Lucknow. Having served multiple clients across Lucknow, we guarantee the best rates for FM advertising.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Radio Advertising Agency in Lucknow - Afluex Multiservices LLP">
            <meta name="twitter:description" content="afluex is a leading Radio advertising agency in Lucknow. Having served multiple clients across Lucknow, we guarantee the best rates for FM advertising.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/printing-services")
        {
            <title>Poster Printing Services In Lucknow: Poster Printing Online</title>
            <meta name="description" content="Afluex printing service provides a full range of digital printing services. There are many types of professional printing services for your business." />
            
            <meta name="keywords" content="flex banner printing services providers near me, large format & custom poster printing services in lucknow india, indoor and outdoor banner printing service, eco vinyl sign board and poster printing nearby, affordable custom posters and flyers printing services" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Poster Printing Services In Lucknow: Poster Printing Online | Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/printing-services">
            <meta property="og:description" content="Afluex printing service provides a full range of digital printing services. There are many types of professional printing services for your business. For more Inquiry call +91 731-0000-413/ 412.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Poster Printing Services In Lucknow: Poster Printing Online | Afluex">
            <meta name="twitter:description" content="Afluex printing service provides a full range of digital printing services. There are many types of professional printing services for your business. For more Inquiry call +91 731-0000-413/ 412.">

            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/inshop-outdoor-branding")
        {
            <title>In-Store Branding | InShop | Outdoor Branding - Afluex</title>
            <meta name="description" content="In-shop & Outdoor Branding in Lucknow offers Creative Design Solutions, Newspaper Magazine Advertising Agency, Radio Cinema Television Advertising" />
           
            <meta name="keywords" content="Inshop & Outdoor Branding,Outdoor Branding,In-Store Branding,in store branding,branding in retailing,outdoor advertising,billboard advertising,hoarding advertising,ooh in advertising,out of home advertising,outdoor media,billboard ads,outdoor ads" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="In-Store Branding | InShop Branding | Outdoor Branding - Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/inshop-outdoor-branding">
            <meta property="og:description" content="In-shop & Outdoor Branding in Lucknow offers Creative Design Solutions, Newspaper Magazine Advertising Agency, Radio Cinema Television Advertising Agency">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="In-Store Branding | InShop Branding | Outdoor Branding - Afluex">
            <meta name="twitter:description" content="In-shop & Outdoor Branding in Lucknow offers Creative Design Solutions, Newspaper Magazine Advertising Agency, Radio Cinema Television Advertising Agency">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/fabrication-services")
        {
            <title>Fabrication Services In Lucknow | Service Providers | Afluex</title>
            <meta name="description" content="Get top fabrication services in Lucknow, Uttar Pradesh. Listed service providers, companies, agents are offering best fabrication services in Lucknow." />
           

            <meta name="keywords" content="metal fabrication near me,metal fabrication,steel fabrication,sheet metal fabrication,steel fabrication near me" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Fabrication Services In Lucknow | Service Providers | Afluex ">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/fabrication-services">
            <meta property="og:description" content="Get top fabrication services in Lucknow, Uttar Pradesh. Listed service providers, companies, agents are offering best fabrication services in Lucknow.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Fabrication Services In Lucknow | Service Providers | Afluex">
            <meta name="twitter:description" content="Get top fabrication services in Lucknow, Uttar Pradesh. Listed service providers, companies, agents are offering best fabrication services in Lucknow.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/portfolio")
        {
            <title>Our Advertisement Portfolio - Afluex multiservices llp</title>
            <meta name="description" content="insight to make better-informed decisions for better results. Getting to the right places at the right time results in increased productivity" />
         

            <meta name="keywords" content="advertising portfolio, portfolio" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Our Advertisement Portfolio - Afluex multiservices llp">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/portfolio">
            <meta property="og:description" content="insight to make better-informed decisions for better results. Getting to the right places at the right time results in increased productivity and advertisement">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Our Advertisement Portfolio - Afluex multiservices llp">
            <meta name="twitter:description" content="insight to make better-informed decisions for better results. Getting to the right places at the right time results in increased productivity and advertisement">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/career")
        {
            <title>Career - Afluex Multiservices LLP - Software Development</title>
            <meta name="description" content="Afluex careers open the door for professional growth and development, giving you access to a robust suite of tools and experiences." />
           
            <meta name="keywords" content="career" />
            <meta name="robots" content="index, follow">
            <meta property="og:title" content="Career - Afluex Multiservices LLP - Software Development">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/career">
            <meta property="og:description" content="Afluex careers open the door for professional growth and development, giving you access to a robust suite of tools and experiences.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Career - Afluex Multiservices LLP - Software Development">
            <meta name="twitter:description" content="Afluex careers open the door for professional growth and development, giving you access to a robust suite of tools and experiences.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/gallery")
        {
            <title>Our Gallery| Software Development| Afluex</title>
            <meta name="description" content="Latest photo of our office and advertisements, product & technology, event conference, workshops, seminars, labs, facilities, etc. Check out all the latest picture." />
               
            <meta name="keywords" content="gallery" />
            <meta name="robots" content="index, follow"/>
            <meta property="og:title" content="Our Gallery| Software Development| Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/web/gallery">
           <meta property="og:description" content="Latest photo of our office and advertisements, product & technology, event conference, workshops, seminars, labs, facilities, etc. Check out all the latest pictures.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Our Gallery| Software Development| Afluex">
            <meta name="twitter:description" content="Latest photo of our office and advertisements, product & technology, event conference, workshops, seminars, labs, facilities, etc. Check out all the latest pictures.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }

        else if (currentUrl == "advertisement/client")
        {
            <title>Advertising Agency| Our Clients| Afluex</title>
            <meta name="description" content="We do enterprise-grade advertisement services for high-profile clients across all over India. View our finalists profiles to see client ratings, portfolios, Job success scores, and more." />
          
            <meta name="keywords" content="client" />
            <meta name="robots" content="noindex">
            <meta property="og:title" content="Advertising Agency| Our Clients| Afluex">
           <meta property="og:site_name" content="Afluex Multiservices LLP">
           <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/client">
            <meta property="og:description" content="View our finalists profiles to see client ratings, portfolios, Job success scores, and more.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Advertising Agency| Our Clients| Afluex">
            <meta name="twitter:description" content="View our finalists" profiles to see client ratings, portfolios, Job success scores, and more.">

            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/contactus")
        {
            <title>Contact Us| Advertising Agency| Afluex</title>
            <meta name="description" content="D-54, 2nd Floor Arjun Fower Near Ola Office, Vibhuti Khand, Lucknow, Uttar Pradesh 226010. Phone No: +91 731-0000-413/ 412  Email: supportnow@Afluex.com." />      
         
            <meta name="keywords" content="contact us" />
            <meta name="robots" content="index, follow">
           <meta property="og:title" content="Contact Us| Advertising Agency| Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisementvertisement/contactus">
            <meta property="og:description" content="D-54, 2nd Floor Arjun Fower Near Ola Office, Vibhuti Khand, Lucknow, Uttar Pradesh 226010. Phone No: +91 731-0000-413/ 412 Email: supportnow@Afluex.com.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Contact Us| Advertising Agency| Afluex">
            <meta name="twitter:description" content="D-54, 2nd Floor Arjun Fower Near Ola Office, Vibhuti Khand, Lucknow, Uttar Pradesh 226010. Phone No: +91 731-0000-413/ 412  Email: supportnow@Afluex.com.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
        }
        else if (currentUrl == "advertisement/airport-media")

        {
            <title>Airport Media Advertising In Lucknow - Afluex Multiservices</title>
            <meta name="description" content="Afluex multiservices offers world-class airport advertising media including signages, scrollers, video walls, and other innovative branding opportunities." />
            <meta name="keywords" content="airport advertising,outdoor advertising,advertising,advertisement" />
            
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                }
            </script>
            <meta property="og:title" content="Airport Media Advertising In Lucknow - afluex multiservices llp">
            <meta property="og:site_name" content="Afluex">
            <meta property="og:url" content="https://www.afluex.com/advertisementvertisement/airport-media">
            <meta property="og:description" content="Afluex multiservices offers world-class airport advertising media including signages, scrollers, video walls, and other innovative branding opportunities.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="AfluexLLP" />
            <meta name="twitter:title" content="airport media" />
            <meta name="twitter:description" content="Afluex multiservices offers world-class airport advertising media including signages, scrollers, video walls, and other innovative branding opportunities." />
            <meta name="twitter:image" content="https://afluex.com/afluexit/images/logo-black.png" />

        }

        else if (currentUrl == "advertisement/allservices")

        {
            <title>Best Outdoor Advertising Agency In Lucknow| Afluex</title>
            <meta name="description" content="Specializing Exclusively In Outdoor Advertising For Agencies & Clients Across The INDIA. All Major Markets. Types: Wall Wrap Ads, Inshop & Outdoor Branding, Mobile Van Promotion, Cinema or Multiplex Advertising, TV Advertising, Airport Media, Auto Branding, Event Management, Fabrication Services." />
            <meta name="keywords" content="all advertising services" />
       
        }

        else if (currentUrl == "advertisement/event-management")

        {
            <title>Event Management Company In Lucknow - Afluex</title>
            <meta name="description" content="Afluex multiservices llp is a comprehensive and dedicated event management company based in the City of Nawabs, Lucknow., Uttar Pradesh, India." />
            <meta name="keywords" content="event management,event planning,event management companies,event company,event organisers" />
           

            <meta name="robots" content="index, follow">

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Afluex",
                "alternateName": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/advertisementvertisement/advertisementvertising-agency",
                "logo": "https://www.afluex.com/afluexit/images/home-img/logo-load.png",
                "contactPoint": {
                "@@type": "ContactPoint",
                "telephone": "+91 731-0000-413/ 412",
                "contactType": "support"
                }
                </script>
                }
    }        
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145364851-1"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CLEW1HSSMY"></script>
   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CLEW1HSSMY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CLEW1HSSMY');
</script>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Revolution Slider -->
    <link href="/assets/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="/assets/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="/assets/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->

    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">

    <link href="/assets/css/css2-14.css?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="/assets/css/css2-15.css?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link href="/assets/css/css2-16.css?family=Pacifico&display=swap" rel="stylesheet">

    <link href="/assets/css/css2-17.css?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    
</head>

<body class="hidden-bar-wrapper">
    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="txt-loading">
                        <div class="">
                            <span data-text-preloader="A" class="letters-loading">
                                A
                            </span>
                            <span data-text-preloader="f" class="letters-loading">
                                F
                            </span>
                            <span data-text-preloader="L" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="U" class="letters-loading">
                                U
                            </span>
                            <span data-text-preloader="E" class="letters-loading">
                                E
                            </span>
                            <span data-text-preloader="X" class="letters-loading">
                                X
                            </span>
                        </div>
                        <div>
                            <span data-text-preloader="M" class="letters-loading">
                                M
                            </span>
                            <span data-text-preloader="U" class="letters-loading">
                                U
                            </span>
                            <span data-text-preloader="L" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="T" class="letters-loading">
                                T
                            </span>
                            <span data-text-preloader="I" class="letters-loading">
                                I
                            </span>
                            <span data-text-preloader="S" class="letters-loading">
                                S
                            </span>
                            <span data-text-preloader="E" class="letters-loading">
                                E
                            </span>
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="V" class="letters-loading">
                                V
                            </span>
                            <span data-text-preloader="I" class="letters-loading">
                                I
                            </span>
                            <span data-text-preloader="C" class="letters-loading">
                                C
                            </span>
                            <span data-text-preloader="E" class="letters-loading">
                                E
                            </span>
                            <span data-text-preloader="S" class="letters-loading">
                                S
                            </span>
                        </div>
                        <div class="">
                            <span data-text-preloader="L" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="L" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="P" class="letters-loading">
                                P
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Main Header / Hedare Style Two -->
    <header class="main-header header-style-two">

        <!-- Header Top -->
        <div class="header-top-two">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <!-- Top Left -->
                    <div class="top-left clearfix">
                        <div class="text">
                            <i class="fa-solid fa-location-dot"></i> D-54, 2nd Floor Arjun Tower Near Ola Office, Vibhuti Khand,
                            Lucknow, Uttar Pradesh 226010
                        </div>
                    </div>

                    <!-- Top Right -->
                    <div class="top-right pull-right clearfix">
                        <div class="location"><i class="fa fa-envelope-open"></i> supportnow@afluex.com</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Lower -->
        <div class="header-lower">
            <div class="auto-container">
                <div class="inner-container d-flex justify-content-between align-items-center">

                    <!-- Logo -->
                    <div class="logo pull-left">
                        <div class="logo"><a href="/advertisement/advertising-agency"><img src="/assets/images/logo-black.png" class="logo_img" alt="" title=""></a></div>
                    </div>

                    <!-- Nav Outer -->
                    <div class="nav-outer clearfix">
                        <!-- Mobile Navigation Toggler -->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current">
                                        <a href="/advertisement/advertising-agency">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">About Us</a>
                                        <ul>
                                            <li><a href="/advertisement/company-overview">Company Overview</a></li>
                                            <li><a href="/advertisement/our-team">Our Team</a></li>
                                            <li><a href="/advertisement/CantonmentLkoMedia">Cantonment Lucknow Media</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Services</a>
                                        <ul>
                                            <li><a href="/advertisement/outdoor-advertising">Outdoor Advertising</a></li>
                                            <li><a href="/advertisement/wall-wrap">Wall Wrap Ads</a></li>
                                            <li><a href="/advertisement/inshop-outdoor-branding">Inshop & Outdoor Branding</a></li>
                                            <li><a href="/advertisement/mobile-van-promotion">Mobile Van Promotion</a></li>
                                            <li><a href="/advertisement/cinema-advertising">Multiplex Advertising</a></li>
                                            <li><a href="/advertisement/auto-rickshaw-advertising">Auto Rickshaw Branding</a></li>
                                            <li><a href="/advertisement/printing-services">Printing Services</a></li>
                                            <li><a href="/advertisement/tv-advertising">TV Advertising</a></li>
                                            <li><a href="/advertisement/radio-advertising">Radio Advertising</a></li>
                                            <li><a href="/advertisement/fabrication-services">Fabrication Services</a></li>
                                            <li><a href="/advertisement/event-management">Event Management</a></li>
                                            <li><a href="/advertisement/online-marketing">Online Marketing</a></li>
                                            <li><a href="/advertisement/airport-media">Airport Media</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/advertisement/portfolio">Portfolio</a></li>
                                    <li><a href="/advertisement/blog">Our Blog</a></li>
                                    <li><a href="/advertisement/gallery">Our Gallery</a></li>
                                    <li><a href="/advertisement/career">Career</a></li>
                                    <li><a href="/advertisement/contactus">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Lower -->
        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="/advertisement/advertising-agency"><img src="/assets/images/logo-black.png" class="logo_img" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">

                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                    <!-- Main Menu End-->
                    <!-- Mobile Navigation Toggler -->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>

                </div>
            </div>
        </div><!-- End Sticky Menu -->
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="/advertisement/advertising-agency"><img src="/assets/images/logo-black.png" class="logo_img" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->
    @RenderBody()

    <!-- Clients Section -->
    <section class="clients-section-two">
        <div class="auto-container">
            <div class="inner-container">
                <div class="carousel-outer">
                    <!--Sponsors Slider-->
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/1.png" alt=""></a></div></li>
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/2.png" alt=""></a></div></li>
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/3.png" alt=""></a></div></li>
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/4.png" alt=""></a></div></li>
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/5.png" alt=""></a></div></li>
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/1.png" alt=""></a></div></li>
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/2.png" alt=""></a></div></li>
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/3.png" alt=""></a></div></li>
                        <li><div class="image-box"><a href="#"><img src="/assets/images/client/4.png" alt=""></a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Clients Section -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="pattern-layer-one" style="background-image:url(assets/images/background/pattern-7.png)"></div>
        <div class="pattern-layer-two" style="background-image:url(assets/images/background/pattern-8.png)"></div>

        <div class="pattern-layer-three" style="background-image:url(assets/images/background/pattern-9.png)"></div>
        <div class="pattern-layer-four" style="background-image:url(assets/images/icons/vector-15.png)"></div>
        <div class="pattern-layer-five" style="background-image:url(assets/images/icons/vector-16.png)"></div>
        <span class="circle-one"></span>
        <span class="circle-two"></span>
        <span class="circle-three"></span>
        <div class="auto-container">

            <!-- Upper Box -->
            <div class="upper-box">
                <div class="row clearfix">

                    <!-- Title Column -->
                    <div class="title-column col-lg-7 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h2>Connect us On <span>Social</span> Media ?</h2>
                            <div class="text">Don’t wait make a smart & logical quote here. Its pretty easy.</div>
                        </div>
                    </div>

                    <!-- Social Column -->
                    <div class="social-column col-lg-5 col-md-12 col-sm-12">
                        <div class="inner-column text-center text-md-end">
                            <ul class="social-box">
                                <li><a href="https://www.facebook.com/afluexllp/" target="blank" class="fa fa-facebook"></a></li>
                                <li><a href="https://twitter.com/AfluexLlp?s=17" target="blank" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.linkedin.com/in/afluex-multiservices-llp-35a00716b/" target="blank" class="fa fa-linkedin"></a></li>
                                <li><a href="https://afluex.tumblr.com/" target="blank" class="fa fa-tumblr"></a></li>
                                <li><a href="https://in.pinterest.com/afluex_multiservices_llp/software-development/" target="blank" class="fa fa-pinterest"></a></li>
                                <li><a href="https://www.reddit.com/user/afluex/posts/" target="blank" class="fa fa-reddit"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Upper Box -->
            <!-- Widgets Section -->
            <div class="widgets-section">
                <div class="row clearfix">

                    <!-- Column -->
                    <div class="big-column col-lg-7 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="logo"><a href="/advertisement/advertising-agency"><img src="/assets/images/footer_logo.png" class="logo_img" alt="" title=""></a></div>
                                    <div class="text">We work in two segment Advertising and IT Development Segment.</div>
                                    <!-- Subscribe Form -->

                                    <ul class="footer_info">
                                        <li>
                                            <i class="fa fa-map-marker-alt"></i> D-54, 2nd Floor Arjun Tower Near Ola Office, Vibhuti Khand,
                                            Lucknow, Uttar Pradesh 226010
                                        </li>
                                        <li><i class="fa fa-envelope-open"></i> supportnow@afluex.com</li>
                                        <li><i class="fa fa-phone-alt"></i> +91 731-0000-413/ 412</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h3>Our Services</h3>
                                    <ul class="nav-list">
                                        <li><a href="/advertisement/outdoor-advertising">Outdoor Advertising</a></li>
                                        <li><a href="/advertisement/wall-wrap">Wall Wrap Ads</a></li>
                                        <li><a href="/advertisement/inshop-outdoor-branding">Inshop & Outdoor Branding</a></li>
                                        <li><a href="/advertisement/mobile-van-promotion">Mobile Van Promotion</a></li>
                                        <li><a href="/advertisement/multiplex-advertising">Multiplex Advertising</a></li>
                                        <li><a href="/advertisement/auto-rickshaw-advertising">Auto Rickshaw Branding</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Column -->
                    <div class="big-column col-lg-5 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <!-- Footer Column -->
                            <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget style-two">
                                    <h3>Useful Links</h3>
                                    <ul class="nav-list">
                                        <li><a href="/advertisement/company-overview">About</a></li>
                                        <li><a href="/advertisement/portfolio">Portfolio</a></li>
                                        <li><a href="/advertisement/blog">Our Blog</a></li>
                                        <li><a href="/advertisement/gallery">Our Gallery</a></li>
                                        <li><a href="/advertisement/our-team">Our Team</a></li>
                                        <li><a href="/advertisement/contactus">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-8 col-md-6 col-sm-12">
                                <div class="footer-widget news-widget">
                                    <h3>Recent Post</h3>
                                    <!-- Footer Column -->
                                    <div class="widget-content">
                                        <div class="post">
                                            <div class="thumb"><a href="/Ad/blogdetails"><img src="/assets/images/resource/post-thumb-1.jpg" alt=""></a></div>
                                            <span class="date">23 April 2021</span>
                                            <h6><a href="/Ad/blogdetails">With billion players .</a></h6>
                                        </div>

                                        <div class="post">
                                            <div class="thumb"><a href="/Ad/blogdetails"><img src="/assets/images/resource/post-thumb-2.jpg" alt=""></a></div>
                                            <span class="date">23 April 2021</span>
                                            <h6><a href="/Ad/blogdetails">With billion players .</a></h6>
                                        </div>

                                        <div class="post">
                                            <div class="thumb"><a href="/Ad/blogdetails"><img src="/assets/images/resource/post-thumb-3.jpg" alt=""></a></div>
                                            <span class="date">23 April 2021</span>
                                            <h6><a href="/Ad/blogdetails">With billion players .</a></h6>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer Bootom -->
        <div class="footer-bottom-two">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Copright Column -->
                    <div class="copyright-column col-lg-6 col-md-6 col-sm-12">
                        <div class="copyright">Copyright &copy; 2022. All Rights Reserved By Afluex Multiservices LLP.</div>
                    </div>

                    <!-- Nav Column -->
                    <div class="nav-column col-lg-6 col-md-6 col-sm-12">
                        <ul class="footer-nav">
                            <li><a href="/advertisement/term_conditions">Terms of Use</a></li>
                            <li><a href="/advertisement/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <!-- End Main Footer -->
    <!-- Scroll To Top -->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Revolution Slider -->
    <script src="/assets/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/assets/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/assets/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/assets/plugins/revolution/js/main-slider-script.js"></script>
    <!-- For Js Library -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js'></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/appear.js"></script>
    <script src="/assets/js/parallax.min.js"></script>
    <script src="/assets/js/tilt.jquery.min.js"></script>
    <script src="/assets/js/jquery.paroller.min.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/validate.js"></script>
    <script src="/assets/js/nav-tool.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/script.js"></script>


    <script>
        $(document).ready(function () {
            $('.leftmenutrigger').on('click', function (e) {
                $('.side-nav').toggleClass("open");
                e.preventDefault();
            });
            $('.toggle').click(function () {
                $('.sidebar-contact').toggleClass('active')
                $('.toggle').toggleClass('active')

            })

            blinking_header();
        });

        function SaveInquiryDetails() {
            $(".errortext").removeClass("errortext");
            var InquiryType = 'AD';
            if ($("#name").val() == '') {
                $("#name").addClass('errortext');
                $('#name').focus();
                return false;
            }
            if ($("#Email").val() == '') {
                $("#Email").addClass('errortext');
                $('#Email').focus();
                return false;
            }
            if ($("#mobile").val() == '') {
                $("#mobile").addClass('errortext');
                $('#mobile').focus();
                return false;
            }
            if ($("#ProjectType").val() == '') {
                $("#ProjectType").addClass('errortext');
                $('#ProjectType').focus();
                return false;
            }
            if ($("#YourBudget").val() == '') {
                $("#YourBudget").addClass('errortext');
                $('#YourBudget').focus();
                return false;
            }
            if ($("#Message").val() == '') {
                $("#Message").addClass('errortext');
                $('#Message').focus();
                return false;
            }
            $.ajax({
                url: "/Home/SaveInquiryDetails",
                Type: "Get",
                DataType: "JSON",
                data: { Name: $("#name").val(), Email: $("#Email").val(), Mobile: $("#mobile").val(), ProjectType: $("#ProjectType").val(), YourBudget: $("#YourBudget").val(), Message: $("#Message").val(), InquiryType: InquiryType },
                success: function (data) {
                    $("#name").val('');
                    $("#Email").val('');
                    $("#mobile").val('');
                    $("#projecttype").val('');
                    $("#yourbudget").val('');
                    $("#message").val('');
                    window.location.href = '@Url.Action("thankyou", "advertisement")';
                }
            });
        }

        function ValidateEmailIDCheck(event) {
            debugger
            var panVal = $('#Email').val();
            var regpan = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (regpan.test(panVal)) {
                $("#Email").removeClass('errortext');
            } else {
                alert("Invalid Email ID");
                $("#Email").val('');
                $("#Email").addClass('errortext');
            }
        }
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>

    <script>
        $(window).on('load', function () { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({ 'overflow': 'visible' });
        })
    </script>
</body>
</html>
