<!DOCTYPE html>

<html><html lang="en">
<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        string currentUrl = Url.RequestContext.RouteData.Values["controller"] + "/" + Url.RequestContext.RouteData.Values["action"];
        if (currentUrl == "advertisement/tv-advertising")
        {
            <title>Television Advertising Agency in Lucknow | Afluex Multiservices</title>
            <meta name="description" content="Television advertising agency for News Channel, Aaj Tak, Zee News, ABP News, India TV, Republic Bharat, Star Plus, Colours, Hindi, English & Pan India." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/tv-advertising" />
            <meta name="keywords" content="advertising agency,ad agency,advertising company,outdoor advertising,billboard advertising,advertising company,outdoor media" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Television Advertising Agency in Lucknow | Afluex Multiservices">
            <meta property="og:site_name" content="TV Advertising Services">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/tv-advertising">
            <meta property="og:description" content="Television advertising agency for News Channel, Aaj Tak, Zee News, ABP News, India TV, Republic Bharat, Star Plus, Colours, Hindi, English & Pan India.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:creator" content="Afluex Llp">
            <meta name="twitter:title" content="Television Advertising Agency in Lucknow | Afluex Multiservices">
            <meta name="twitter:description" content="Television advertising agency for News Channel, Aaj Tak, Zee News, ABP News, India TV, Republic Bharat, Star Plus, Colours, Hindi, English & Pan India.">
            <meta name="twitter:image" content="https://Afluex.com/images/Afluexog.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "orgnization",
                "brand": "Afluex Multiservices LLP",
                "name": "TV Advertising Services",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/advertising-agency")
        {
            <title>Advertising Agency In India| Lucknow| Afluex</title>
            <meta name="keywords" content="advertising agency, advertising agency in india, advertising agency in lucknow, outdoor advertising agency, hoarding advertising agencies" />
            <meta name="description" content="Afluex is a fully integrated advertising agency in India. We bring together brilliant people to build a better future for our clients. Afluex is the most preferred hoarding, branding, outdoor advertising agency in India. For more Inquiry call +91 731-0000-413/ 412." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/advertising-agency" />
            <meta name="robots" content="index, follow">
            <meta property="og:title" content="Advertising Agency In India | Lucknow | Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/advertising-agency">
            <meta property="og:description" content="Afluex is a fully integrated advertising agency in India.We bring together brilliant people to build a better future for our clients. For more Inquiry call + 91 731 - 0000 - 413 / 412.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Advertising Agency In India | Lucknow | Afluex">
            <meta name="twitter:description" content="Afluex is a fully integrated advertising agency in India.We bring together brilliant people to build a better future for our clients. For more Inquiry call + 91 731 - 0000 - 413 / 412">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "brand": "Afluex Multiservices LLP",
                "name": "Advertising Agency",
                "url": "https://www.afluex.com/",
                
                }
            </script>
        }
        else if (currentUrl == "advertisement/online-marketing")
        {
            <title>Online Marketing Agency in Lucknow - Afluex multiservices llp.</title>
            <meta name="description" content="Afluex is the most preferred online marketing, hoarding, branding, and outdoor advertising tv and radio mobile van Unipole advertising, agency in Lucknow." />
            <meta name="keywords" content="advertising agency,ad agency,advertising company,ad company,advertising agency near me,Online Marketing Agency" />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/online-marketing" />
            <meta name="robots" content="index, follow">
            <meta property="og:title" content="Online Marketing Agency in Lucknow - Afluex multiservices llp.">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/online-marketing">
            <meta property="og:description" content="Afluex is the most preferred online marketing, hoarding, branding, and outdoor advertising tv and radio mobile van Unipole advertising, agency in Lucknow.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Online Marketing Agency in Lucknow - Afluex multiservices llp.">
            <meta name="twitter:description" content="Afluex is the most preferred online marketing, hoarding, branding, and outdoor advertising tv and radio mobile van Unipole advertising, agency in Lucknow.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "brand": "Afluex Multiservices LLP",
                "name": "Online Marketing",
               "url": "https://www.afluex.com/",
                }
            </script>
        }

        else if (currentUrl == "advertisement/company-overview")
        {
            <title>Company Overview - Afluex multisservices llp</title>
            <meta name="description" content="We offer advertisement services like in-shop & outdoor advertising, and mobile van promotion. Founded in 2017 & listed all over India." />
            <meta name="keywords" content="billboard, unipole, hoding agency. advertising agency" />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/company-overview" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Company Overview| Advertising Agency| Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/company-overview">
            <meta property="og:description" content="We offer advertisement services like in-shop & outdoor advertising, and mobile van promotion. Founded in 2017 & listed all over India.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Company Overview| Advertising Agency| Afluex">
            <meta name="twitter:description" content="We offer advertisement services like in-shop & outdoor advertising, and mobile van promotion. Founded in 2017 & listed all over India.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "brand": "Afluex Multiservices LLP",
                "name": "Company Overview",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/vision-and-mission")
        {
            <title>Mission & Vision | Advertising Agency | Afluex multiservices llp</title>
            <meta name="description" content="Our mission is to help our clients grow and their companies and grow their brands with well-crafted marketing communication merging the latest techniques" />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/vision-and-mission" />
            <meta name="keywords" content="advertising agency, vission and mission, advertising company" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Our Mission & Vision| Advertising Agency| Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/vision-and-mission">
            <meta property="og:description" content="Our mission is to help our clients grow and their companies and grow their brands with well-crafted marketing communication merging the latest techniques">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Our Mission & Vision| Advertising Agency| Afluex">
            <meta name="twitter:description" content="Our mission is to help our clients grow and their companies and grow their brands with well-crafted marketing communication merging the latest techniques">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "brand": "Afluex Multiservices LLP",
                "name": "Vision and mission",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/our-team")
        {
            <title>Our Advertisement Team| - Afluex multservices llp</title>
            <meta name="description" content="Our team is an expert in the field of Advertising services radio, auto branding, printing services, wall wrap ads & outdoor branding Digital marketing services." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/our-team" />
            <meta name="keywords" content="afluex team" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Our Advertisement Team| - Afluex multservices llp">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/our-team">
            <meta property="og:description" content="Our team is an expert in the field of Advertising services radio, auto branding, printing services, wall wrap ads & outdoor branding Digital marketing services.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Our Advertisement Team| - Afluex multservices llp">
            <meta name="twitter:description" content="Our team is an expert in the field of Advertising services radio, auto branding, printing services, wall wrap ads & outdoor branding Digital marketing services.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "brand": "Afluex Multiservices LLP",
                "name": "Our Team",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/news-advertising")
        {
            <title>Newspaper Advertising Agency in Lucknow | Afluex Multiservices</title>
            <meta name="description" content="Afluex Multiservices is the leading Advertising Agency in Lucknow serving to book news classified Ads Online for all leading Newspapers in Lucknow." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/news-advertising" />
            <meta name="keywords" content="news advertising,advertising,ad agency,advertisement,outdoor advertising,Advertising Agency Lucknow, Lucknow Ad Agency, Lucknow Classified Ads, Lucknow Classified Ad Booking, Book Classified Ad in Lucknow Newspapers, Lucknow Matrimonial Ad Booking, Lucknow Property Ads, Lucknow Name Change Ad, Lucknow Recruitment Ad." />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Newspaper Advertising Agency in Lucknow | Afluex Multiservices">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/news-advertising">
            <meta property="og:description" content="Afluex Multiservices is the leading Advertising Agency in Lucknow serving to book news classified Ads Online for all leading Newspapers in Lucknow.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Newspaper Advertising Agency in Lucknow | Afluex Multiservices">
            <meta name="twitter:description" content="Afluex Multiservices is the leading Advertising Agency in Lucknow serving to book news classified Ads Online for all leading Newspapers in Lucknow.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "brand": "Afluex Multiservices LLP",
                "name": "News Advertising Services",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/outdoor-advertising")
        {
            <title>Outdoor Advertising | Outdoor Advertising Agency in India - Afluex</title>
            <meta name="description" content="Afluex Advertising agency is the leading company in Outdoor Advertising Agency in India. We do provide Hoarding Advertising, No Parking,Digital Wall ads" />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/outdoor-advertising" />
            <meta name="keywords" content="outdoor advertising,hoarding advertising,billboard advertising,ooh in advertising,out of home advertising,outdoor media,billboard ads,billboard marketing,types of billboards,outdoor advertising companies,outdoor ads,types of outdoor advertising,outdoor media advertising,roadside hoardings,hoarding advertising agency,hoarding ads,outdoor hoarding advertising,home advertising,outdoor hoarding,outdoor advertising agency" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Outdoor Advertising Agency In India | Afluex multiservices llp ">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/outdoor-advertising">
            <meta property="og:description" content="Afluex Advertising agency is the leading company in Outdoor Advertising Agency in India. We do provide Hoarding Advertising, No Parking,Digital Wall ads">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Outdoor Advertising Agency In India | Afluex multiservices llp">
            <meta name="twitter:description" content="Afluex Advertising agency is the leading company in Outdoor Advertising Agency in India. We do provide Hoarding Advertising, No Parking,Digital Wall ads">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "brand": "Afluex Multiservices LLP",
                "name": "Outdoor Advertising Agency",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/mobile-van-promotion")
        {
            <title>Mobile Vans Advertising Services in Lucknow-Afluex Multiservices</title>
            <meta name="description" content="Mobile Vans Advertisement Services Providers in Lucknow, Uttar Pradesh. Get contact details and addresses of Mobile Vans Advertisement company." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/mobile-van-promotion" />
            <meta name="keywords" content="mobile van advertising, led van advertising, advertising agency,advertising agency,advertising van,mobile van advertising " />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Mobile Vans Advertising Services in Lucknow-Afluex Multiservices">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/mobile-van-promotion">
            <meta property="og:description" content="Mobile Vans Advertisement Services Providers in Lucknow, Uttar Pradesh. Get contact details and addresses of Mobile Vans Advertisement company.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex multiservices Llp">
            <meta name="twitter:title" content="Mobile Vans Advertising Services in Lucknow-Afluex Multiservices">
            <meta name="twitter:description" content="Mobile Vans Advertisement Services Providers in Lucknow, Uttar Pradesh. Get contact details and addresses of Mobile Vans Advertisement company.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "name": "Mobile Van Promotion Services",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/wall-wrap")
        {
            <title>Wall Wrap Advertising Services | Afluex Multiservices LLP</title>
            <meta name="description" content="Advertising in Wall Wrap at the lowest rates across India with 20k advertising options. Just compare & select the best rates in your budget for your location." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/wall-wrap" />
            <meta name="keywords" content="wall wrap advertising, vehicle advertising, Wall Wrap Advertising Agency In Lucknow" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Wall Wrap Advertising Services | Afluex Multiservices LLP">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/wall-wrap">
            <meta property="og:description" content="Advertising in Wall Wrap at the lowest rates across India with 20k advertising options. Just compare & select the best rates in your budget for your location.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Wall Wrap Advertising Services | Afluex Multiservices LLP">
            <meta name="twitter:description" content="Advertising in Wall Wrap at the lowest rates across India with 20k advertising options. Just compare & select the best rates in your budget for your location.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "name": "Wall Wrap Services",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/auto-rickshaw-advertising")
        {
            <title>Auto Branding services In Lucknow - Afluex multiservices llp</title>
            <meta name="description" content="Increase your brand visibility with the best Auto rickshaw Advertising agency Across U.P by  Afluex Multiservices. get the latest offer, Call - 7310000413" />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/auto-rickshaw-advertising" />
            <meta name="keywords" content="auto rickshaw advertising, e rickshaw advertising,advertising agency,outdoor advertising,advertising campaign,advertising company,billboard advertising,transit advertising" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Auto Branding services In Lucknow - Afluex multiservices llp">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/auto-rickshaw-advertising">
            <meta property="og:description" content="Increase your brand visibility with the best Auto rickshaw Advertising agency Across U.P by  Afluex Multiservices. get the latest offer,Call - 7310000413">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Auto Branding services In Lucknow - Afluex multiservices llp">
            <meta name="twitter:description" content="Increase your brand visibility with the best Auto rickshaw Advertising agency Across U.P by  Afluex Multiservices. get the latest offer,Call - 7310000413">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "name": "auto rickshaw advertising",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/cinema-advertising")
        {
            <title>Best Cinema Advertising Agency in India  | Afluex Multiservices LLP</title>
            <meta name="description" content="Afluex Multiservices will source outdoor advertising options for your campaign from thousands of vendors. Then you can plan, and measure your campaign" />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/cinema-advertising" />
            <meta name="keywords" content="cinema advertising, ad cinema, movie advertisement,theatre advertising,ad cinema,theatre ads," />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Best Cinema Advertising Agency in India  | Afluex Multiservices LLP">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/cinema-advertising">
            <meta property="og:description" content="Afluex Multiservices will source outdoor advertising options for your campaign from thousands of vendors. Then you can plan, and measure your campaign">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Best Cinema Advertising Agency in India  | Afluex Multiservices LLP">
            <meta name="twitter:description" content="Afluex Multiservices will source outdoor advertising options for your campaign from thousands of vendors. Then you can plan, and measure your campaign">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "product",
                "name": "Cinema Advertising",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/radio-advertising")
        {
            <title>Radio Advertising Agency in Lucknow - Afluex Multiservices LLP</title>
            <meta name="description" content="afluex is a leading Radio advertising agency in Lucknow. Having served multiple clients across Lucknow, we guarantee the best rates for FM advertising." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/radio-advertising" />
            <meta name="keywords" content="radio advertising,radio ads,fm advertisingfm radio ad,radio advertising,radio ads,radio advertising costs,radio commercials,radio sales,fm advertising,advertising agency,marketing digital agency,television advertising,ad agency,marketing agency,advertising company,tv advertisement,tv ads,ad company,advertising agency near me,best digital marketing agencies,branding in advertising,top indian advertising agencies,advertising ogilvy,radio marketing" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Radio Advertising Agency in Lucknow - Afluex Multiservices LLP">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/radio-advertising">
            <meta property="og:description" content="afluex is a leading Radio advertising agency in Lucknow. Having served multiple clients across Lucknow, we guarantee the best rates for FM advertising.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Radio Advertising Agency in Lucknow - Afluex Multiservices LLP">
            <meta name="twitter:description" content="afluex is a leading Radio advertising agency in Lucknow. Having served multiple clients across Lucknow, we guarantee the best rates for FM advertising.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "name": "Radio Advertising Services",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/printing-services")
        {
            <title>Poster Printing Services In Lucknow: Poster Printing Online | Afluex</title>
            <meta name="description" content="Afluex printing service provides a full range of digital printing services. There are many types of professional printing service for your business from which to choose you. We work all type of digital printing service." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/printing-services" />
            <meta name="keywords" content="flex banner printing services providers near me, large format & custom poster printing services in lucknow india, indoor and outdoor banner printing service, eco vinyl sign board and poster printing nearby, affordable custom posters and flyers printing services" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Poster Printing Services In Lucknow: Poster Printing Online | Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/printing-services">
            <meta property="og:description" content="Afluex printing service provides a full range of digital printing services. There are many types of professional printing services for your business. For more Inquiry call +91 731-0000-413/ 412.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Poster Printing Services In Lucknow: Poster Printing Online | Afluex">
            <meta name="twitter:description" content="Afluex printing service provides a full range of digital printing services. There are many types of professional printing services for your business. For more Inquiry call +91 731-0000-413/ 412.">

            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "name": "Printing Services",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/inshop-outdoor-branding")
        {
            <title>In-Store Branding | InShop Branding | Outdoor Branding - Afluex</title>
            <meta name="description" content="In-shop & Outdoor Branding in Lucknow offers Creative Design Solutions, Newspaper Magazine Advertising Agency, Radio Cinema Television Advertising Agency" />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/inshop-outdoor-branding" />
            <meta name="keywords" content="Inshop & Outdoor Branding,Outdoor Branding,In-Store Branding,in store branding,branding in retailing,outdoor advertising,billboard advertising,hoarding advertising,ooh in advertising,out of home advertising,outdoor media,billboard ads,outdoor ads" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="In-Store Branding | InShop Branding | Outdoor Branding - Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/inshop-outdoor-branding">
            <meta property="og:description" content="In-shop & Outdoor Branding in Lucknow offers Creative Design Solutions, Newspaper Magazine Advertising Agency, Radio Cinema Television Advertising Agency">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="In-Store Branding | InShop Branding | Outdoor Branding - Afluex">
            <meta name="twitter:description" content="In-shop & Outdoor Branding in Lucknow offers Creative Design Solutions, Newspaper Magazine Advertising Agency, Radio Cinema Television Advertising Agency">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "name": "Inshop Outdoor Branding",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/fabrication-services")
        {
            <title>Fabrication Services In Lucknow | Service Providers | Afluex</title>
            <meta name="description" content="Get top fabrication services in Lucknow, Uttar Pradesh. Listed service providers, companies, agents are offering best fabrication services in Lucknow." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/fabrication-services" />
            <meta name="keywords" content="metal fabrication near me,metal fabrication,steel fabrication,sheet metal fabrication,steel fabrication near me" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Fabrication Services In Lucknow | Service Providers | Afluex ">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/fabrication-services">
            <meta property="og:description" content="Get top fabrication services in Lucknow, Uttar Pradesh. Listed service providers, companies, agents are offering best fabrication services in Lucknow.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="Afluex Llp">
            <meta name="twitter:title" content="Fabrication Services In Lucknow | Service Providers | Afluex">
            <meta name="twitter:description" content="Get top fabrication services in Lucknow, Uttar Pradesh. Listed service providers, companies, agents are offering best fabrication services in Lucknow.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "name": "Fabrication Services in lucknow",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/portfolio")
        {
            <title>Our Advertisement Portfolio - Afluex multiservices llp</title>
            <meta name="description" content="insight to make better-informed decisions for better results. Getting to the right places at the right time results in increased productivity and advertisement" />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/portfolio" />
            <meta name="keywords" content="advertising portfolio, portfolio" />
            <meta name="robots" content="index,follow">
            <meta property="og:title" content="Our Advertisement Portfolio - Afluex multiservices llp">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/portfolio">
            <meta property="og:description" content="insight to make better-informed decisions for better results. Getting to the right places at the right time results in increased productivity and advertisement">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Our Advertisement Portfolio - Afluex multiservices llp">
            <meta name="twitter:description" content="insight to make better-informed decisions for better results. Getting to the right places at the right time results in increased productivity and advertisement">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "services",
                "name": "Portfolio",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/career")
        {
            <title>Career - Afluex Multiservices LLP - Software Development</title>
            <meta name="description" content="Afluex careers open the door for professional growth and development, giving you access to a robust suite of tools and experiences." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/career" />
            <meta name="keywords" content="career" />
            <meta name="robots" content="noindex">
            <meta property="og:title" content="Career - Afluex Multiservices LLP - Software Development">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/career">
            <meta property="og:description" content="Afluex careers open the door for professional growth and development, giving you access to a robust suite of tools and experiences.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Career - Afluex Multiservices LLP - Software Development">
            <meta name="twitter:description" content="Afluex careers open the door for professional growth and development, giving you access to a robust suite of tools and experiences.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "career",
                "name": "Career",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/gallery")
        {
            <title>Our Gallery| Software Development| Afluex</title>
            <meta name="description" content="Latest photo of our office and advertisements, product & technology, event conference, workshops, seminars, labs, facilities, etc. Check out all the latest picture." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/gallery" />      
            <meta name="keywords" content="gallery" />
            <meta name="robots" content="noindex">
            <meta property="og:title" content="Our Gallery| Software Development| Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/web/gallery">
           <meta property="og:description" content="Latest photo of our office and advertisements, product & technology, event conference, workshops, seminars, labs, facilities, etc. Check out all the latest pictures.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Our Gallery| Software Development| Afluex">
            <meta name="twitter:description" content="Latest photo of our office and advertisements, product & technology, event conference, workshops, seminars, labs, facilities, etc. Check out all the latest pictures.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "images",
                "name": "Gallery",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }

        else if (currentUrl == "advertisement/client")
        {
            <title>Advertising Agency| Our Clients| Afluex</title>
            <meta name="description" content="We do enterprise-grade advertisement services for high-profile clients across all over India. View our finalists profiles to see client ratings, portfolios, Job success scores, and more." />
            <link rel="canonical" href="https://www.Afluex.com/advertisement/client" />
            <meta name="keywords" content="client" />
            <meta name="robots" content="noindex">
            <meta property="og:title" content="Advertising Agency| Our Clients| Afluex">
           <meta property="og:site_name" content="Afluex Multiservices LLP">
           <meta property="og:url" content="https://www.Afluex.com/advertisement/client">
            <meta property="og:description" content="View our finalists profiles to see client ratings, portfolios, Job success scores, and more.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Advertising Agency| Our Clients| Afluex">
            <meta name="twitter:description" content="View our finalists" profiles to see client ratings, portfolios, Job success scores, and more.">

            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">

            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "work",
                "name": "Client",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/contactus")
        {
            <title>Contact Us| Advertising Agency| Afluex</title>
            <meta name="description" content="D-54, 2nd Floor Arjun Fower Near Ola Office, Vibhuti Khand, Lucknow, Uttar Pradesh 226010. Phone No: +91 731-0000-413/ 412  Email: supportnow@Afluex.com." />      
            <link rel="canonical" href="https://www.Afluex.com/advertisement/contactus" />
            <meta name="keywords" content="contact us" />
            <meta name="robots" content="noindex">
           <meta property="og:title" content="Contact Us| Advertising Agency| Afluex">
            <meta property="og:site_name" content="Afluex Multiservices LLP">
            <meta property="og:url" content="https://www.Afluex.com/advertisement/contactus">
            <meta property="og:description" content="D-54, 2nd Floor Arjun Fower Near Ola Office, Vibhuti Khand, Lucknow, Uttar Pradesh 226010. Phone No: +91 731-0000-413/ 412 Email: supportnow@Afluex.com.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="AfluexLlp">
            <meta name="twitter:title" content="Contact Us| Advertising Agency| Afluex">
            <meta name="twitter:description" content="D-54, 2nd Floor Arjun Fower Near Ola Office, Vibhuti Khand, Lucknow, Uttar Pradesh 226010. Phone No: +91 731-0000-413/ 412  Email: supportnow@Afluex.com.">
            <meta name="twitter:image" content="https://Afluex.com/afluexit/images/logo-black.png">
            <script type="application/ld+json">
                {
                "@@context": "https://www.schema.org",
                "@@type": "contact us",
                "name": "Contactus",
                "brand": "Afluex Multiservices LLP",
                "url": "https://www.afluex.com/",
                }
            </script>
        }
        else if (currentUrl == "advertisement/airport-media")

        {
            <title>Airport Media Advertising In Lucknow - afluex multiservices llp</title>
            <meta name="description" content="Afluex multiservices offers world-class airport advertising media including signages, scrollers, video walls, and other innovative branding opportunities." />
            <meta name="keywords" content="airport advertising,outdoor advertising,advertising,advertisement" />
            <link rel="canonical" href="https://www.afluex.com/advertisement/airport-media" />
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org/",
                "@@type": "services",
                "name": "Airport Media Advertising",
                "url": "https://www.afluex.com/",
                }
            </script>
            <meta property="og:title" content="Airport Media Advertising In Lucknow - afluex multiservices llp">
            <meta property="og:site_name" content="Afluex">
            <meta property="og:url" content="https://www.afluex.com/advertisement/airport-media">
            <meta property="og:description" content="Afluex multiservices offers world-class airport advertising media including signages, scrollers, video walls, and other innovative branding opportunities.">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://afluex.com/afluexit/images/logo-black.png">
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="AfluexLLP" />
            <meta name="twitter:title" content="airport media" />
            <meta name="twitter:description" content="Afluex multiservices offers world-class airport advertising media including signages, scrollers, video walls, and other innovative branding opportunities." />
            <meta name="twitter:image" content="https://afluex.com/afluexit/images/logo-black.png" />

        }

        else if (currentUrl == "advertisement/allservices")

        {
            <title>Best Outdoor Advertising Agency In Lucknow| Afluex</title>
            <meta name="description" content="Specializing Exclusively In Outdoor Advertising For Agencies & Clients Across The INDIA. All Major Markets. Types: Wall Wrap Ads, Inshop & Outdoor Branding, Mobile Van Promotion, Cinema or Multiplex Advertising, TV Advertising, Airport Media, Auto Branding, Event Management, Fabrication Services." />
            <meta name="keywords" content="all advertising services" />
            <link rel="canonical" href="https://afluex.com/advertisement/all-services" />
        }

        else if (currentUrl == "advertisement/event-management")

        {
            <title>Event Management Company In Lucknow - Afluex multiservices llp</title>
            <meta name="description" content="Afluex multiservices llp is a comprehensive and dedicated event management company based in the City of Nawabs, Lucknow., Uttar Pradesh, India." />
            <meta name="keywords" content="event management,event planning,event management companies,event company,event organisers" />
            <link rel="canonical" href="https://afluex.com/advertisement/event-management" />

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org/",
                "@@type": "services",
                "name": "Event Management",
                "url": "https://www.afluex.com/",
                }
            </script>

            <meta property="og:title" content="Event Management Company In Lucknow - Afluex multiservices llp">
            <meta property="og:site_name" content="Afluex">
            <meta property="og:url" content="https://afluex.com/advertisement/event-management">
            <meta property="og:description" content="Event Management Company In Lucknow - Afluex multiservices llp">
            <meta property="og:type" content="website">
            <meta property="og:image" content="https://afluex.com/afluexit/images/logo-black.png">

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="Afluex LLP" />
            <meta name="twitter:title" content="Event Management Company In Lucknow - Afluex multiservices llp" />
                <meta name="twitter:description" content="Afluex multiservices llp is a comprehensive and dedicated event management company based in the City of Nawabs, Lucknow., Uttar Pradesh, India." />
                <meta name="twitter:image" content="https://afluex.com/afluexit/images/logo-black.png" />

        }

    }
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145364851-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag("js", new Date());
        gtag("config", "UA-145364851-1");
    </script>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <script src="~/afluexit/js/jquery-3.6.0.js"></script>
    <link href="~/afluexit/images/favicon.png" rel="shortcut icon">
    <link href="~/afluexad/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/afluexad/css/style.css" rel="stylesheet">
    <link href="~/afluexad/css/responsive.css" rel="stylesheet">
    <link href="~/afluexad/css/owl.carousel.css" rel="stylesheet">
    <link href="~/afluexad/css/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" rel="stylesheet">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet"> -->

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">
            <div class="loader">
                <div class="face">
                    <div class="circle"></div>
                </div>
                <div class="face">
                    <div class="circle"></div>
                </div>
                <img src="/afluexit/images/logo-black.png" class="img-fluid af-logo" style="width:70%" alt="logo">
            </div>
        </div>
    </div>
    @*<div class="main_loader">
            <div class="loader_inner" style="z-index:99999">
                <div class="loader">
                    <div class="face">
                        <div class="circle"></div>
                    </div>
                    <div class="face">
                        <div class="circle"></div>
                    </div>
                    <img src="~/afluexit/images/loader.png" class="img-fluid" alt="logo">
                </div>
            </div>
        </div>*@

    <div class="top_header">
        <div class="top_header_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="t-left-side text-white">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item">
                                    <i class="fas fa-phone-alt"></i> +91 <a href="tel:917310000413" class="text-decoration-none text-white">731-0000-413</a>/ <a href="tel:7310000412" class="text-decoration-none text-white">412</a>
                                </li>
                                <li class="list-inline-item"><i class="far fa-envelope"></i> <a href="mailto:supportnow@afluex.com" class="text-decoration-none text-white">supportnow@afluex.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="t_right_side">
                            <div class="social-icons">
                                <ul class="list-unstyled mb-0 pull-right">
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/afluexllp/" target="_blank" class="text-white"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://twitter.com/AfluexLlp?s=17" target="_blank" class="text-white"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.linkedin.com/in/afluex-multiservices-llp-35a00716b/" target="blank" class="text-white">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://afluex.tumblr.com/" target="_blank" class="text-white">
                                            <i class="fab fa-tumblr"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://in.pinterest.com/afluex_multiservices_llp/software-development/" target="blank" class="text-white">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.reddit.com/user/afluex/posts/" target="blank" class="text-white">
                                            <i class="fab fa-reddit"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_menu">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <div class="container-fluid nav-container">
                                    <div class="logo">
                                        <a href="~/advertisement/advertising-agency"><img src="~/afluexit/images/logo-black.png" class="img-fluid af-logo" alt="logo"></a>
                                    </div>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu">
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="/advertisement/advertising-agency">Advertisement</a>
                                            </li>
                                            <!-- <li class ="nav-item dropdown">
                                                  <a class ="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Dropdown
                                                </a>
                                                <ul class ="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <li><a class ="dropdown-item" href="#">Action</a></li>
                                                    <li><a class ="dropdown-item" href="#">Another action</a></li>
                                                    <li><hr class ="dropdown-divider"></li>
                                                    <li><a class ="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </li> -->
                                            <li class="nav-item dropdown">
                                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    About Us <span class="dropdown_icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <div class="pro_mega">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/advertisement/company-overview">Company Overview</a></li>
                                                            <li><a class="dropdown-item" href="/advertisement/vision-and-mission">Mission & Vision</a></li>
                                                            <li><a class="dropdown-item" href="/advertisement/our-team">Our Team</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown menu_area">
                                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Our Services <span class="dropdown_icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                </a>
                                                <div class="dropdown-menu mega_area" aria-labelledby="navbarDropdown">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="pro_mega">
                                                                <ul class="list-unstyled">
                                                                    <li><a class="dropdown-item" href="/advertisement/outdoor-advertising">Outdoor Advertising</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/wall-wrap">Wall Wrap Ads</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/inshop-outdoor-branding">Inshop & Outdoor Branding</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/mobile-van-promotion">Mobile Van Promotion</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/cinema-advertising">Cinema Or Multiplex Advertising</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="pro_mega">
                                                                <ul class="list-unstyled">
                                                                    <li><a class="dropdown-item" href="/advertisement/auto-branding">Auto Branding</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/printing-services">Printing Services</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/tv-advertising">TV Advertising</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/radio-advertising">Radio Advertising</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="pro_mega">
                                                                <ul class="list-unstyled">
                                                                    <li><a class="dropdown-item" href="/advertisement/fabrication-services">Fabrication Services</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/event-management">Event Management</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/online-marketing">Online Marketing</a></li>
                                                                    <li><a class="dropdown-item" href="/advertisement/airport-media">Airport Media</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/advertisement/portfolio">Portfolio</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/advertisement/blog">Blog</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/advertisement/gallery">Gallery</a>
                                            </li>
                                            <!--<li class ="nav-item">
                                                <a class ="nav-link" href="client.html">Clients</a>
                                            </li>-->
                                            <li class="nav-item">
                                                <a class="nav-link" href="/advertisement/career">Career</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/advertisement/contactus">Contact Us</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-contact">
        <button type="button" class="btn btn-skyblue" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa fa-envelope"></i> &nbsp; Get Quote
        </button>
    </div>
    <!--Modal-->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inquiry Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="contact-box dzForm p-a30 border-1" action="">
                        <div class="dzFormMsg m-b20"></div>
                        <input type="hidden" value="Contact" name="dzToDo">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mb-4">
                                    <div class="input-group">
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-4">
                                    <div class="input-group">
                                        <input name="mobile" id="mobile" type="text" class="form-control" placeholder="Phone" maxlength="10" onkeypress="return isNumberKey(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-4">
                                    <div class="input-group">
                                        <input name="email" id="Email" type="email" class="form-control" placeholder="E-mail" onchange="return ValidateEmailIDCheck();">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-4">
                                    <div class="input-group">
                                        <input name="ProjectType" id="ProjectType" type="text" class="form-control" placeholder="Project Type">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-4">
                                    <div class="input-group">
                                        <input name="YourBudget" id="YourBudget" type="text" class="form-control" placeholder="Your Budget" onkeypress="return isNumberKey(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mb-4">
                                    <div class="input-group">
                                        <textarea class="form-control" placeholder="Tell us about your project or idea" name="Message" id="Message" style="height: 100px"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 text-end">
                                <div class="contact_btn">
                                    <input type="submit" name="btnSendInquery" class="btn btn-primary btn-lg" value="Send Inquiry" style="cursor:pointer" onclick="return SaveInquiryDetails();" />

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    @RenderBody()

    <div class="client_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="client_carousel owl-carousel owl-theme">
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/11.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/1.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/13.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/2.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/3.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/a2.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/4.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/5.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/6.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/7.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/8.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/9.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/10.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/12.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/14.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/15.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/16.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="/afluexit/images/client/a6.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="~/afluexit/images/client/logo1.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="~/afluexit/images/client/logo2.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="~/afluexit/images/client/logo3.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="~/afluexit/images/client/logo6.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="~/afluexit/images/client/logo7.png" class="img-fluid" alt="client">
                        </div>
                        <div class="client_carousel_item">
                            <img src="~/afluexit/images/client/logo8.png" class="img-fluid" alt="client">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_section">
        <div class="footer_inner">
            <div class="container">
                <div class="row">
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="footer-column col-xl-8 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="logo">
                                        <a href="~/advertisement/advertising-agency"><img src="~/afluexit/images/footer_logo.png" alt="logo"></a>
                                    </div>
                                    <div class="text mt-4 text-white">
                                        <p>
                                            “Afluex is a best emerging, comprehensive, full-service marketing company works in two segment Advertising and IT Development Segment and it’s known for their lucrative result n ideas. Afluex has more than 8+ year’s deep experience in all media and aspects
                                            of marketing. We share best ideas, knowledge & experience to deliver outstanding results to our clients.
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="footer-column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <h2 class="widget-title">Quick Links</h2>
                                    <ul class="list-unstyled user-links1">
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/company-overview">Company Profile</a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/vision-and-mission">Mission And Vision</a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/Our-Team">Our team</a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/portfolio">Portfolio</a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/contactus">Contact Us</a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/privacy-policy">Privacy Policy</a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/term_conditions">Term &  Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <h2 class="widget-title">Our Services</h2>
                                    <ul class="list-unstyled user-links1">
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/outdoor-advertising">Outdoor Advertising </a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/wall-wrap-ads">Wall Wrap Ads </a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/mobile-van-promotion">Mobile Van Promotion </a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/tv-advertising">TV Advertising </a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/advertisement/auto-rickshaw-advertising">Auto Branding </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h2 class="widget-title">Our Location</h2>
                                    <div class="widget-content">
                                        <ul class="list-unstyled contact-list text-white">
                                            <li>
                                                <span class="icon fa fa-map-marker text-white" aria-hidden="true"></span>
                                                <div class="text">
                                                    D-54, 2nd Floor Arjun Tower Near Ola Office, Vibhuti Khand, <br> Lucknow, Uttar Pradesh 226010
                                                </div>
                                            </li>
                                            <li>
                                                <span class="icon fa fa-envelope text-white" aria-hidden="true"></span>
                                                <div class="text">
                                                    <a href="mailto:supportnow@afluex.com">supportnow@afluex.com</a>
                                                </div>
                                            </li>
                                            <!-- <li>
                                                    <span class ="icon fa fa-phone text-white" aria-hidden="true"></span>
                                                    <div class ="text">
                                                        <a href="tel:5223550791">+91 522-3550-791</a>
                                                    </div>
                                                </li> -->
                                            <li>
                                                <span class="icon fas fa-mobile-alt text-white" aria-hidden="true"></span>
                                                <div class="text">
                                                    +91 <a href="tel:7310000413">731-0000-413</a>/ <a href="tel:7310000412">412</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom text-center m-4">
            <p class="mb-0">2021 © All Rights Reserved by Afluex Multiservices LLP</p>
        </div>
    </div>
    <!--go to top-->
    <a href="#" id="gotop"><i class="fas fa-arrow-alt-circle-up"></i></a>
    <!--horizontal scroll bar-->
    <div class="scrollBarHolder">
        <div id="scrollBar" style="width: 0"></div>
    </div>

    <!--Optional JavaScript; choose one of the two! -->
    @*  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="~/afluexad/js/owl.carousel.js"></script>
    <script src="~/afluexad/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!--========================portfolio============================-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js'></script>
    <script src="~/afluexad/js/script.js"></script>


    <script>
        $(document).ready(function () {
            $('.leftmenutrigger').on('click', function (e) {
                $('.side-nav').toggleClass("open");
                e.preventDefault();
            });
            $('.toggle').click(function () {
                $('.sidebar-contact').toggleClass('active')
                $('.toggle').toggleClass('active')

            })

            blinking_header();
        });

        function SaveInquiryDetails() {
            $(".errortext").removeClass("errortext");
            var InquiryType = 'AD';
            if ($("#name").val() == '') {
                $("#name").addClass('errortext');
                $('#name').focus();
                return false;
            }
            if ($("#Email").val() == '') {
                $("#Email").addClass('errortext');
                $('#Email').focus();
                return false;
            }
            if ($("#mobile").val() == '') {
                $("#mobile").addClass('errortext');
                $('#mobile').focus();
                return false;
            }
            if ($("#ProjectType").val() == '') {
                $("#ProjectType").addClass('errortext');
                $('#ProjectType').focus();
                return false;
            }
            if ($("#YourBudget").val() == '') {
                $("#YourBudget").addClass('errortext');
                $('#YourBudget').focus();
                return false;
            }
            if ($("#Message").val() == '') {
                $("#Message").addClass('errortext');
                $('#Message').focus();
                return false;
            }
            $.ajax({
                url: "/Home/SaveInquiryDetails",
                Type: "Get",
                DataType: "JSON",
                data: { Name: $("#name").val(), Email: $("#Email").val(), Mobile: $("#mobile").val(), ProjectType: $("#ProjectType").val(), YourBudget: $("#YourBudget").val(), Message: $("#Message").val(), InquiryType: InquiryType },
                success: function (data) {
                    $("#name").val('');
                    $("#Email").val('');
                    $("#mobile").val('');
                    $("#projecttype").val('');
                    $("#yourbudget").val('');
                    $("#message").val('');
                    window.location.href = '@Url.Action("thankyou", "advertisement")';
                }
            });
        }

        function ValidateEmailIDCheck(event) {
            debugger
            var panVal = $('#Email').val();
            var regpan = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (regpan.test(panVal)) {
                $("#Email").removeClass('errortext');
            } else {
                alert("Invalid Email ID");
                $("#Email").val('');
                $("#Email").addClass('errortext');
            }
        }
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>

    <script>
        function blinking_header() {
            if (!document.getElementById('blink').style.color) {
                document.getElementById('blink').style.color = "red";
            }
            if (document.getElementById('blink').style.color == "red") {
                document.getElementById('blink').style.color = "white";
            }
            else {
                document.getElementById('blink').style.color = "red";
            }
            timer = setTimeout("blinking_header()", 1000);
        }
        function stoptimer() {
            clearTimeout(timer);
        }
    </script>
    <script>
        $(window).on('load', function () { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({ 'overflow': 'visible' });
        })
    </script>
</body>
</html>
