
@{
    ViewBag.Title = "hospital_management_software";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_title.jpg);">
    <div class="container">
        <h1>Hospital Management Software</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/WebSoftware/index">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Hospital Management Software</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">THE BEST PLACE TO FIND THE MLM Software YOU WANT</span>
                        <h2>Hospital Management Software Development Company</h2>
                    </div>
                    <div class="services_content_details">
                        <p class="text-justify">
                            Afluex is a complete solution that can be deployed and customized for any hospital or health care institution, providing your patients with the service they expect to find in state of the art medical institutions. We come with a customizable HL7 Engine
                            allowing seamless integration with all your systems, such as EMR, LIS, RIS, PACS, or CDSS.
                        </p>
                        <p class="text-justify">
                            These types software system may well be a Customizable, Comprehensive and Integrated Hospital Management System designed to manage all hospital operations. Hospitals, It will be utilized by health care Facilities, Multi-Specialty Clinics, and Medical
                            Practitioners. Multi-Location facilities allow your Hospitals, Satellite Clinics, and Stores to be interconnected. The customizable alert system sends the text, IM and email reminders and improves the standard of patient care.
                            Electronic medical history (EMR Systems) helps to remember of revenue stream, patient records and different key metrics at your fingertips. Our hospital management software system permits electronic sharing of patient records
                            with different providers and medical applications and manages the health of patients like Patient and suppliers will see your lab results and history online, securely chat with providers, schedule next appointment. Our hospital
                            management software is user-friendly and with no error that is usually associated with handwriting. Pulling up server or cloud information is now easily done with new technological computer systems, yielding optimal performance.
                            Patients can find doctors and book an online appointment based on specialty, rating, fees, and availability. Managing doctor's schedules, collating patient notes, and handling payment is effortless. Doctors and Patients can
                            check the schedule on mobile phones and live less chaotic lives. It is developed based on the best practices around the world.
                        </p>
                        <h5 class="green">Additional Features of HMS:</h5>
                        <p class="text-justify">
                            Well, it's a huge system and consists of infinite modules and features that move into the making of Hospital Management software system. Find here the additional features comprised in this system:
                        </p>
                        <div class="about-list">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Dietary Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Pathology Lab Software </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Blood Bank Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Laboratory Information System </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Ambulance Services Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Nursing and Ward Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Bed Census Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Pharmacy Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Financial Accounting System </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Physiotherapy and Rehabilitation </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Electronic Medical Records </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Operation Theatre Scheduling and Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Biomedical Waste Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Housekeeping and Laundry Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Inventory and Purchase Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Causality and Emergency Management </li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i> Document Management System </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Video Column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">Enquiry Here</span>
                        <h2>For Quick Demo</h2>
                    </div>
               @{Html.RenderAction("DemoContact", "WebSoftware", new { area = "" });}
                </div>
            </div>
        </div>
    </div>
</section>

