
@{
    ViewBag.Title = "our_team";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_title.jpg);">
    <div class="container">
        <h1>Our Team</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/WebSoftware/index">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Our Team</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="ourteam_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/krishna.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>K.M Kushwaha </h3>
                        <h5>CTO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/alok.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>A. K. Chauhan </h3>
                        <h5>CMO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/hemvant.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Hemvant Srivastava </h3>
                        <h5>COO</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sachin.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sachin Mishra </h3>
                        <h5>Sr. Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/ved.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Ved Prakash Singh </h3>
                        <h5>Operation Manager</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/mona.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Mona Maurya</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/madhulika.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Madhulika Kushwaha </h3>
                        <h5>Android Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/vikram.png" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Vikram Singh </h3>
                        <h5>Android Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/arpit.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Arpit Rastogi</h3>
                        <h5>Deputy Manager</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/garav.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Garav Anand</h3>
                        <h5>Sr. UI/UX Designer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/avinash.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Avinash Maurya </h3>
                        <h5>Operation Executive</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/divya.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Divya Singh</h3>
                        <h5>Web Designer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/himanshu.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Himanshu Chaudhary</h3>
                        <h5>Marketing Executive</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/reena.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Reena Jaiswal</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sudhakar.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sudhakar Sharma </h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sandeep.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sandeep Sharma </h3>
                        <h5>Accountant</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/prabhakar.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Prabhakar kushwaha </h3>
                        <h5>Field Manager</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/sujeet.png" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Sujeet Yadav</h3>
                        <h5>Marketing Executive</h5>
                    </div>
                </div>
            </div>
           
          
            <div class="col-lg-3 mt-4">
                <div class="team_members_inner_box text-center">
                    <div class="team_members_pic">
                        <img src="~/afluexit/images/team/shyamu.jpg" class="img-fluid" alt="services">
                    </div>
                    <div class="team_members_heading">
                        <h3>Shyamu Yadav </h3>
                        <h5>Office Boy</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


