
@{
    ViewBag.Title = "portfolio";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<!-- Page Title -->
<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_portfolio.jpeg);">
    <div class="container">
        <h1>Portfolio</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/WebSoftware/index">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- ======= Portfolio Section ======= -->

<section id="portfolio" class="portfolio section-bg ">
    <div class="container " data-aos="fade-up" style="margin-top: 100px;">

         <div class="row mb-5">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
             <h2>A Glance of Our Work</h2>
          </div>
        </div> 

        <div class="row portfolio-container " data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Aapkabiz</h4>
                        <p>Android Application</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Tez Infrazone</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dhara World</h4>
                        <p>Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dhara Estate</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Aatreya Diagnostic Centre</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Aps Globe School</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/afluexit/images/portfolio/7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>AIMS Inter College</h4>
                        <p>Website & Software</p>
                        <div class="portfolio-links">
                            <!-- <a href="~/afluexit/images/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="port-fa fa fa-plus"></i></a> -->
                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="port-fa fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->

