
@{
    ViewBag.Title = "travel_portal_software";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_product.jpeg);">
    <div class="container">
        <h1>Travel Portal Software</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/WebSoftware/index">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Travel Portal Software</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="services_page">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">THE BEST PLACE TO FIND THE Travel Portal Software YOU WANT</span>
                        <h2>Travel Portal Software Development Company In Lucknow</h2>
                    </div>
                    <div class="services_content_details">
                        <p class="text-justify">
                            Afluex had been dedicated towards the cause of the travel industry for some time now. As a leading online travel portal development company in Lucknow, India we take care of complete Travel Portal development, Cloud Travel Technology Solution, Travel
                            Booking Engine Development, Travel Booking Software, Best B2B and B2C Travel Portal Development, Hotel Reservation System, GDS/XML/API Integration, Airline Reservation Software design, Android/iPhone app development company
                            in Lucknow, India, surrounding areas. Grow Your Travel Inventory for our client so that their travel booking engine software is at par with any of their competitors.
                        </p>
                        <p class="text-justify">
                            Normally clients don't seem to be conscious of the best distributor to suit their target market. Afluex not only hooks them with the most affordable supplier but also negotiates on the guarantee money on their behalf. As a leading travel portal software
                            development company, we keep a hawk’s eye on the emerging sector on travel arena and do our best to come with an innovative travel booking engine software every time.
                        </p>
                        <p class="text-justify">
                            We would love to hear from you and your ideas. Let us have this chance to show your dreams into reality.
                        </p>
                    </div>

                </div>
            </div>

            <!-- Video Column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <span class="title">Enquiry Here</span>
                        <h2>For Quick Demo</h2>
                    </div>
                   @{Html.RenderAction("DemoContact", "WebSoftware", new { area = "" });}
                </div>
            </div>
        </div>
    </div>
</section>

