
@{
    ViewBag.Title = "vision_and_mission";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}


<section class="page-title text-center" style="background-image:url(../../afluexit/images/background/page_about.jpeg);">
    <div class="container">
        <h1>Vision & Mission</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/WebSoftware/Index">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Vision & Mission</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="aboutus_page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <div class="vision_inner_column">
                    <div class="sec-title">
                        <span class="title">Our first vision to discovering</span>
                        <h2>Our <span class="green"><strong>Vision</strong></span></h2>
                    </div>
                    <p class="text-justify">
                        Our first vision to discovering more effective ways to communicate with our client’s target markets. This means constantly digging, probing, learning and experimenting with alternative solutions. We determine and execute the tasks
                        it takes to promote our clients, their brands, their product , their events, and their people. We help our clients identify goals, and then we take responsibility for providing cross platform tactics to accomplish them. We work
                        within budget constraint and we meet deadlines.
                    </p>
                    <p class="text-justify">Creativity is our passion and deliver result. Afluex has evolved with its clients, with marketplace, and with technology. Our efforts & capabilities enable us to advise and guide our clients to achieve what they want.</p>
                </div>
            </div>
            <div class="abt-column col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="inner-column">
                    <img src="~/afluexit/images/our_vision.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="row vs_space">
            <div class="abt-column col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="inner-column">
                    <img src="~/afluexit/images/our_mission.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <div class="vision_inner_column">
                    <div class="sec-title">
                        <span class="title">Our mission to help our...</span>
                        <h2>Our <span class="green"><strong>Mission</strong></span></h2>
                    </div>
                    <p class="text-justify">Our mission to help our clients grow and their companies and nurture their brands with well-crafted marketing communication. </p>
                    <p class="text-justify">
                        Our passion is merging the latest techniques in the marketing with strategic thinking and highly creative executions and more important develop long term client relationships through innovative solutions, round the clock support &
                        services.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
