
<style type="text/css">
    .owl-stage {
        width: 10368px;
        transform: translate3d(-6480px, 0px, 0px);
        transition: all -10s ease 0s;
    }
</style>

<div class="main_slider">
    <div class="banner_carousel owl-carousel owl-theme">
        <div class="carousel_item">
            <img src="~/afluexad/images/slider/img-1.jpg" class="img-fluid" alt="slider">
            <div class="slider_content_box">
                <!-- <div class="content">
                    <div class="auto-container">
                        <span class="title">Welcome to Afluex</span>
                        <h2>Responsive Website Design</h2>
                        <div class="text">
                            Complete website solution for your business or personal website
                            <br>superior level of excellence for our customers.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="carousel_item">
            <img src="~/afluexad/images/slider/img-2.jpg" class="img-fluid" alt="slider">
            <div class="slider_content_box">
                <!-- <div class="content">
                    <div class="auto-container">
                        <span class="title">Welcome to Afluex</span>
                        <h2>Software Development</h2>
                        <div class="text">
                            Complete website solution for your business or personal website
                            <br>superior level of excellence for our customers.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="carousel_item">
            <img src="~/afluexad/images/slider/img-3.jpg" class="img-fluid" alt="slider">
            <div class="slider_content_box">
                <!-- <div class="content">
                    <div class="auto-container">
                        <span class="title">Welcome to Afluex</span>
                        <h2>Andoid Development</h2>
                        <div class="text">
                            Complete website solution for your business or personal website
                            <br>superior level of excellence for our customers.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="carousel_item">
            <img src="~/afluexad/images/slider/img-4.jpg" class="img-fluid" alt="slider">
            <div class="slider_content_box">
                <!-- <div class="content">
                    <div class="auto-container">
                        <span class="title">Welcome to Afluex</span>
                        <h2>Andoid Development</h2>
                        <div class="text">
                            Complete website solution for your business or personal website
                            <br>superior level of excellence for our customers.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="carousel_item">
            <img src="~/afluexad/images/slider/img-5.jpg" class="img-fluid" alt="slider">
            <div class="slider_content_box">
                <!-- <div class="content">
                    <div class="auto-container">
                        <span class="title">Welcome to Afluex</span>
                        <h2>Andoid Development</h2>
                        <div class="text">
                            Complete website solution for your business or personal website
                            <br>superior level of excellence for our customers.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="owl-dots">
        <button role="button" class="owl-dot active"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
    </div>
</div>

<div class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_content_inner">
                    <div class="title">
                        <h5>Welcome To Our Creative Agency</h5>
                        <h2>Honour To Serve You First</h2>
                    </div>
                    <div class="content_description">
                        <p>
                            “Afluex is a best emerging, comprehensive, full-service marketing Company. Works in two segment Advertising and IT Development Segment and it’s known for their lucrative result n ideas. Afluex has more than 5 year’s deep experience
                            in all media and aspects of marketing. We share best ideas, knowledge & experience to deliver outstanding results to our clients..
                        </p>
                        <p>
                            Notable areas of expertise include: brand design and development, creative media strategies and placement, Media Buying & Branding, Print and interactive design, social networking and digital marketing, creative and technical
                            writing. We define strategic plans, Design campaigns and much more and also we focus on making bridges that can provide the client and their requirement on a single roof and with plenty of convenience and– most importantly
                            –
                        </p>
                    </div>
                    <div class="abt_btn m-1">
                        <a href="/Home/company-overview" class="btn btn-skyblue">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rare-box"></div>
                <div class="about_content_pic">
                    <img src="~/afluexad/images/about-img.jpg" class="img-fluid" alt="Company Overview">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our_services">
    <div class="heading_title text-center">
        <h2>Our Services</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="or_ser">
                    <a href="/Home/outdoor-advertising"><img src="~/afluexad/images/services/img-1.jpg" class="img-fluid" alt="our_services"></a>
                    <div class="or_ser_content">
                        <h4>Outdoor Advertising</h4>
                        <p>Afluex specializes in offering Complete Outdoor Advertising Services for.</p>
                        <h5><a href="/Home/outdoor-advertising">Read More...</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="or_ser">
                    <a href="/Home/wall-wrap-ads"><img src="~/afluexad/images/services/img-2.jpg" class="img-fluid" alt="our_services"></a>
                    <div class="or_ser_content">
                        <h4>Wall Wrap Ads</h4>
                        <p>Wall wrap ads could be an extremely cost-efficient advertising and.</p>
                        <h5><a href="/Home/wall-wrap-ads">Read More...</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="or_ser">
                    <a href="/Home/inshop-outdoor-branding"><img src="~/afluexad/images/services/img-3.jpg" class="img-fluid" alt="our_services"></a>
                    <div class="or_ser_content">
                        <h4>Inshop & Outdoor Branding</h4>
                        <p>Branding is something what each and everyone is doing of their products to.</p>
                        <h5><a href="/Home/inshop-outdoor-branding">Read More...</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="or_ser">
                    <a href="/Home/mobile-van-promotion"><img src="~/afluexad/images/services/img-4.jpg" class="img-fluid" alt="our_services"></a>
                    <div class="or_ser_content">
                        <h4>Mobile Van Promotion</h4>
                        <p>Mobile van advertising service provider in India, then you have landed at the.</p>
                        <h5><a href="/Home/mobile-van-promotion">Read More...</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="or_ser">
                    <a href="/Home/cinema-advertising"><img src="~/afluexad/images/services/img-5.jpg" class="img-fluid" alt="our_services"></a>
                    <div class="or_ser_content">
                        <h4>Cinema or Multiplex Advertising</h4>
                        <p>Get your cinema campaign in targeted cinemas and increase the effective.</p>
                        <h5><a href="/Home/cinema-advertising">Read More...</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="or_ser">
                    <a href="/Home/tv-advertising"><img src="~/afluexad/images/services/img-6.jpg" class="img-fluid" alt="our_services"></a>
                    <div class="or_ser_content">
                        <h4>TV Advertising</h4>
                        <p>Being one of the top advertising agencies in Lucknow, we have years.</p>
                        <h5><a href="/Home/tv-advertising">Read More...</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start count stats -->

<section id="counter-stats" class="wow fadeInRight testimonial_section" data-wow-duration="1.4s">
    <div class="container">
        <div class="row text-white">

            <div class="col-lg-3 stats">
                <i class="fa fa-check" aria-hidden="true"></i>
                <div class="d-flex justify-content-center">
                    <div class="counting" data-count="180">0</div><span class="text-white">+</span>
                </div>
                <h5 class="text-white">Total Projects</h5>
            </div>

            <div class="col-lg-3 stats">
                <i class="fa fa-code" aria-hidden="true"></i>
                <div class="d-flex justify-content-center">
                    <div class="counting" data-count="40">0</div><span class="text-white">+</span>
                </div>
                <h5 class="text-white">Running Projects</h5>
            </div>

            <div class="col-lg-3 stats">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="d-flex justify-content-center">
                    <div class="counting" data-count="150">0</div><span class="text-white">+</span>
                </div>
                <h5 class="text-white">Happy clients</h5>
            </div>

            <div class="col-lg-3 stats">
                <i class="fa fa-file" aria-hidden="true"></i>
                <div class="d-flex justify-content-center">
                    <div class="counting" data-count="150">0</div><span class="text-white">+</span>
                </div>
                <h5 class="text-white">Projects Done</h5>
            </div>


        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

</section>

<!-- end cont stats -->

<div class="our_portfolio">
    <div class="heading_title text-center">
        <h2>Our Portfolio</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="portfolio_slider">
                    <div class="portfolio_item">
                        <img src="~/afluexad/images/portfolio/img1.jpg" class="img-fluid" alt="slider">
                    </div>
                    <div class="portfolio_item">
                        <img src="~/afluexad/images/portfolio/img2.jpg" class="img-fluid" alt="slider">
                    </div>
                    <div class="portfolio_item">
                        <img src="~/afluexad/images/portfolio/img3.jpg" class="img-fluid" alt="slider">
                    </div>
                    <div class="portfolio_item">
                        <img src="~/afluexad/images/portfolio/img4.jpg" class="img-fluid" alt="slider">
                    </div>
                    <div class="portfolio_item">
                        <img src="~/afluexad/images/portfolio/img5.jpg" class="img-fluid" alt="slider">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="our_team">
    <div class="heading_title text-center">
        <h2>Our Expert Team</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/hemvant.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Hemvant Srivastava</a></h4>
                        <p>COO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/krishna.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">K.M Kushwaha </a></h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/sachin1.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sachin Mishra</a></h4>
                        <p>Sr. Software Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonial_section">
    <div class="testimonial_title text-center text-white">
        <h1>Testimonial</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial_carousel owl-carousel owl-theme text-center text-white">
                    <div class="testimonial_carousel_item">
                        <p>We have greatly enjoyed working with the Afluex Ad Agency on launching our Advertesment with in right time duration and best quality of service,Thanks afluex Team for hard work. We are delighted by the results of the campaigns. It’s been refreshing working with a collaborative agency team that understands our market area. we’ve launched some relevant campaigns that captured our members’ attention and business.</p>
                        <h5>Liberty</h5>
                        <h6><em>Manager</em></h6>
                    </div>
                    <div class="testimonial_carousel_item">
                        <p>We were very impressed with the impressive campaign and thought it spoke volumes to the reality of businesses. We have been working our way into the multiple areas for almost a year now and are excited and ready to gain some attraction in that city.</p>
                        <h5>Red Chief</h5>
                        <h6><em>Team Red Chief</em></h6>
                    </div>
                    <div class="testimonial_carousel_item">
                        <p>I tell other business owners, if you want advertising and marketing right place, and a truly dedicated team of professionals, you need to work with Afluex Multiservices company. These team know the market, they care about their clients, and they work hard for them…they truly go above and beyond and care about your business Thanks Afluex Team.</p>
                        <h5>Nomadic</h5>
                        <h6><em>Manager</em></h6>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
<script type="text/javascript">
        // number count for stats, using jQuery animate

        $('.counting').each(function() {
          var $this = $(this),
          countTo = $this.attr('data-count');

          $({ countNum: $this.text()}).animate({
            countNum: countTo
        },

        {

            duration: 3000,
            easing:'linear',
            step: function() {
              $this.text(Math.floor(this.countNum));
          },
          complete: function() {
              $this.text(this.countNum);
      //alert('finished');
  }

});


      });
</script>

