
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_blog.jpeg);">
    <div class="container">
        <h1>Blog</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Advertising">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="blog_page">
    <div class="container">

@if (Model != null)
{
    if (Model.List != null)
    {
        foreach (var item in Model.List)
        {
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="blog_featured text-center">
                    <a href="/Home/blogdetails"><img src="https://afluex.com/@item.FileName" alt="" class="img-fluid"/></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="blog_details">
                    <div class="blog_title">
                        <h2><a href="blog-details.html">@item.Title</a> </h2>
                    </div>
                    <div class="blog_inner">
                        <p>
                            @(new HtmlString(item.ShortDecription))
                        </p>
                        <div class="blog_time_eye clearfix">
                            <ul class="list-unsyled p-0">
                                @*<li class="list-inline-item"><span class="blog_icon"><i class="fa fa-user" aria-hidden="true"></i></span> By : Afluex Mutiservices LLP</li>*@
                                <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-user" aria-hidden="true"></i></span>By: @item.AddedBy</li>
                                <li class="list-inline-item"><span class="blog_icon"><a href="/Home/blogdetails?id=@item.Pk_BlogId"><i class="fa fa-eye" aria-hidden="true"></i></span> @item.AddedOn</li>
                               
                            </ul>
                        </div>
                        <div class="blog_btn">
                            <h5><a href="/Home/blogdetails?id=@item.Pk_BlogId">Read More</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    }
}
        @*<div class="row mt-4">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="blog_featured text-center">
                    <a href="blog-details.html"><img src="~/afluexad/images/blog/search-operator-featured.png" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="blog_details">
                    <div class="blog_title">
                        <h2><a href="blog-details.html">Every Advanced Google Search Operator You Need to Know</a> </h2>
                    </div>
                    <div class="blog_inner">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                        <div class="blog_time_eye clearfix">
                            <ul class="list-unsyled p-0">
                                <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-user" aria-hidden="true"></i></span> By : Afluex Mutiservices LLP</li>
                                <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span> 2/12/2021</li>
                                <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-eye" aria-hidden="true"></i></span> 112K Reads</li>
                            </ul>
                        </div>
                        <div class="blog_btn">
                            <h5><a href="blog-details.html">Read More</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>







