
@{
    ViewBag.Title = "companyoverview";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_title.jpg);">
    <div class="container">
        <h1>About Us</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Advertising">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Company Overview</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<div class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_content_inner">
                    <div class="title">
                        <h5>Company Profile</h5>
                        <h2>Honour To Serve You First</h2>
                        <!-- <h5>More than 5 year’s</h5> -->
                    </div>
                    <div class="content_description">
                        <p>
                            “Afluex is a best emerging, comprehensive, full-service marketing Company. Works in two segment Advertising and IT Development Segment and it’s known for their lucrative result n ideas. Afluex has more than 8+ year’s deep experience
                            in all media and aspects of marketing. We share best ideas, knowledge & experience to deliver outstanding results to our clients.
                        </p>
                        <p>
                            Notable areas of expertise include: brand design and development, creative media strategies and placement, Media Buying & Branding, Print and interactive design, social networking and digital marketing, creative and technical
                            writing. We define strategic plans, Design campaigns and much more and also we focus on making bridges that can provide the client and their requirement on a single roof and with plenty of convenience and– most importantly
                            –
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rare-box"></div>
                <div class="about_content_pic">
                    <img src="~/afluexad/images/about_company.jpg" class="img-fluid" alt="Company Overview">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div>
                    <h2>Our Approach</h2>
                    <h5> Solution to fit your needs</h5>
                    <p>
                        Afluex has a collaborative creative process to engage and consult with clients early and often throughout the creative process. This presentation is a general case and demonstrates typical project development steps. Afluex will
                        always accommodate and deliver work within the timeframe allocated, adjusted to the process as required. Meetings will happen in person, on the phone or via our online project management portal. Furthermore, our process allows
                        for creative participation by our clients on every project.
                    </p>
                    <h2>Our Soldiers & Social Network</h2>
                    <h5>Our Soldiers</h5>
                    <p>We have more than year’s of experience wonderful creative team who is the master of their field and they are always ready to give their best result, no matter how the circumstances are.</p>
                    <h2>Our Service Network</h2>
                    <p>We Provide our service in Utter Pradesh & Bihar, Jharkhand, Uttrakhand and other ancillary states.</p>
                </div>
            </div>
        </div>
    </div>
</div>

