@model Afluex.Models.Home

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    
    @TempData["ContactMsg"]
    <script src="~/LandingPageCss/js/header.js"></script>
    @*<script type="text/javascript" src="~/LandingpageCss/js/header.js"></script>*@
</head>
<body>
    <!--Start Hero-->
    <section class="hero-card-web bg-gradient shape-bg3">
        <div class="hero-main-rp container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="hero-heading-sec">
                        <h2 class="wow fadeIn" data-wow-delay="0.3s">Fastest Growing Software Company In Lucknow<!-- <span>Web.</span> <span>Mobile.</span>  --><!-- <span>Graphic.</span> <span>Marketing.</span> --></h2>
                        <p class="wow fadeIn" data-wow-delay="0.6s">​Afluex is a best emerging, comprehensive, full-service marketing Company. Afluex has more than 8+ year’s deep experience in all media and aspects of marketing.</p>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="niwax-btn2 wow fadeIn" data-wow-delay="0.8s">Contact For Demo <i class="fas fa-chevron-right fa-ani"></i></a>
                        <div class="awards-block-tt  wow fadeIn" data-wow-delay="1s">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-content-sec wow fadeIn mt-3" data-wow-delay="0.8s">
                        <div class="video-intro-pp">
                            <a class="video-lin play-video" href="https://wa.me/917310000413" target="blank"><img src="~/LandingpageCss/images/icons/whatsapp.svg" class="play-video"></a>
                            <!-- <span class="triangle-play"></span> -->
                        </div>
                        <div class="title-hero-oth">
                            <p>Best Software Development Company In Lucknow<span>Our Services</span></p>
                        </div>
                    </div>
                    <div class="hero-right-scmm">
                        <div class="hero-service-cards wow fadeInRight" data-wow-duration="2s">
                            <div class="owl-carousel service-card-prb">
                                <div class="service-slide card-bg-f" data-tilt="" data-tilt-max="10" data-tilt-speed="1000">
                                    <a href="https://afluex.com/web/website-development-company" target="blank">
                                        <div class="service-card-hh">
                                            <div class="image-sr-mm">
                                                <img alt="custom-sport" src="~/LandingpageCss/images/service/service-img-3.png">
                                            </div>
                                            <div class="title-serv-c"><span>Website </span> Development</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="service-slide card-bg-f" data-tilt="" data-tilt-max="10" data-tilt-speed="1000">
                                    <a href="https://afluex.com/web/software-development-company" target="blank">
                                        <div class="service-card-hh">
                                            <div class="image-sr-mm">
                                                <img alt="custom-sport" src="~/LandingpageCss/images/service/service-img-2.png">
                                            </div>
                                            <div class="title-serv-c"><span>Software </span> Development</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="service-slide card-bg-f" data-tilt="" data-tilt-max="10" data-tilt-speed="1000">
                                    <a href="https://afluex.com/web/digital-marketing-company" target="blank">
                                        <div class="service-card-hh">
                                            <div class="image-sr-mm">
                                                <img alt="custom-sport" src="~/LandingpageCss/images/service/digitalmarketing.png">
                                            </div>
                                            <div class="title-serv-c"><span>Digital </span> Marketing</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="service-slide card-bg-f" data-tilt="" data-tilt-max="10" data-tilt-speed="1000">
                                    <a href="https://afluex.com/web/mobile-app-development-company" target="blank">
                                        <div class="service-card-hh">
                                            <div class="image-sr-mm">
                                                <img alt="custom-sport" src="~/LandingpageCss/images/service/app-develop.png">
                                            </div>
                                            <div class="title-serv-c"><span>Android & IOS </span> Development</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="service-slide card-bg-f" data-tilt="" data-tilt-max="10" data-tilt-speed="1000">
                                    <a href="https://afluex.com/web/graphic-design-company" target="blank">
                                        <div class="service-card-hh">
                                            <div class="image-sr-mm">
                                                <img alt="custom-sport" src="~/LandingpageCss/images/service/graphic.png">
                                            </div>
                                            <div class="title-serv-c"><span>Graphics </span> Design</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="service-slide card-bg-f" data-tilt="" data-tilt-max="10" data-tilt-speed="1000">
                                    <a href="https://afluex.com/web/seo-agency" target="blank">
                                        <div class="service-card-hh">
                                            <div class="image-sr-mm">
                                                <img alt="custom-sport" src="~/LandingpageCss/images/service/seo.png">
                                            </div>
                                            <div class="title-serv-c"><span>Search Engine </span> Optimization</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- company awards icons -->
            <div class="row v-center mt-4">
                <div class="companytime nxlp-b col-lg-3">
                    <p>8+ Years Experience <span>Our Products </span></p>
                </div>

                <div class="companyawards col-lg-9">
                    <div class="niwax-logo-awards niwax-logo-slider owl-carousel">
                        <a href="https://afluex.com/web/real-estate-software-company" target="blank">
                            <div class="industry-workfors work-card cd1">
                                <img src="~/LandingpageCss/images/icons/house.svg" alt="img">
                                <h6>Real Estate</h6>
                            </div>
                        </a>
                        <a href="https://afluex.com/web/school-management-software" target="blank">
                            <div class="industry-workfors work-card cd2">
                                <img src="~/LandingpageCss/images/icons/education.png" alt="img">
                                <h6>School Management Software</h6>
                            </div>
                        </a>
                        <a href="https://afluex.com/web/erp-software-development" target="blank">
                            <div class="industry-workfors work-card cd3">
                                <img src="~/LandingpageCss/images/icons/video-tutorials.svg" alt="img">
                                <h6>Custom ERP Software</h6>
                            </div>
                        </a>
                        <a href="https://afluex.com/web/ecommerce-software-development" target="blank">
                            <div class="industry-workfors work-card cd4">
                                <img src="~/LandingpageCss/images/icons/smartphone.svg" alt="img">
                                <h6>E-Commerce Software</h6>
                            </div>
                        </a>
                        <a href="https://afluex.com/web/mlm-software-development-company" target="blank">
                            <div class="industry-workfors work-card cd5">
                                <img src="~/LandingpageCss/images/icons/graph.png" alt="img">
                                <h6>MLM Software</h6>
                            </div>
                        </a>
                        <a href="https://afluex.com/web/hris-hrms-software-development" target="blank">
                            <div class="industry-workfors work-card cd6">
                                <img src="~/LandingpageCss/images/icons/human-resources.png" alt="img">
                                <h6>HRM Software</h6>
                            </div>
                        </a>
                        <a href="https://afluex.com/web/followup-software-development" target="blank">
                            <div class="industry-workfors work-card cd7">
                                <img src="~/LandingpageCss/images/icons/follow-up.png" alt="img">
                                <h6>Followup Software</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- company awards icons -->
    </section>
    <!--End Hero-->
    <script src="~/LandingPageCss/js/footer.js"></script>
   
   
</body>
</html>
