
@{
    ViewBag.Title = "eventmanagement";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_services.jpeg);">
    <div class="container">
        <h1>Event Management Services In Lucknow</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/advertising-agency">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Event Management</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="our_services">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <h2>Event Management</h2>
                        <h5>Event Management Services in Lucknow, India </h5>
                    </div>
                    <div class="services_content_details">
                        <p>
                            The way you advertise events should be dictated by your target audience, otherwise your marketing efforts are going to fall short of their unique expectations and desires. There are several factors to consider, but these are
                            just a few:
                        </p>
                        <p><strong>Age & profession :</strong> Is this a large group of aspiring professionals or a smaller group of successful executives?</p>
                        <p>
                            <strong>Values and interests :</strong> Event managers should key in on the different motives that inspire their target audiences. For instance, someone in the engineering space has a very different idea of useful information
                            than someone in brand marketing.
                        </p>
                        <p><strong>Exicon :</strong> The industry terms professionals use differ greatly from sector to sector. Make sure that the copy you use in your ad aligns with the language your target audience is comfortable communicating in.</p>
                        <h5>Outdoor Events & Promotions</h5>
                        <div class="about-list">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                                    <ul class="listdesign1">
                                        <li><i class="fa fa-caret-right"></i> CORPORATES EVENTS /MEET</li>
                                        <li><i class="fa fa-caret-right"></i> EXHIBITS DESIGN</li>
                                        <li><i class="fa fa-caret-right"></i> DISPLAY COUNTER</li>
                                        <li><i class="fa fa-caret-right"></i> BRAND CAMPAIGN</li>
                                        <li><i class="fa fa-caret-right"></i> CONSUMER CONNECT PROGRAM</li>
                                        <li><i class="fa fa-caret-right"></i> AWARD NIGHT</li>
                                        <li><i class="fa fa-caret-right"></i> ENTERTAINMENT &amp; SPORTS EVENT</li>
                                        <li><i class="fa fa-caret-right"></i> PUBLIC RELATION</li>
                                        <li><i class="fa fa-caret-right"></i> THEMATIC DINNER</li>
                                        <li><i class="fa fa-caret-right"></i> CONCERT &amp; STAGE SHOW</li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">

                                    <ul class="listdesign1">
                                        <li><i class="fa fa-caret-right"></i> HIGH END AUDIO &amp; VIDEO VISUALS</li>
                                        <li><i class="fa fa-caret-right"></i> FASHION SHOW</li>
                                        <li><i class="fa fa-caret-right"></i> ARTISTIC MANAGEMENT</li>
                                        <li><i class="fa fa-caret-right"></i> SHORT FILM</li>
                                        <li>
                                            <i class="fa fa-caret-right"></i> MALL/SOCIETY/SCHOOL/IN SHOP/ PROMOTIONAL ACTIVITIES
                                        </li>
                                        <li><i class="fa fa-caret-right"></i> PRODUCT LAUNCH</li>
                                        <li><i class="fa fa-caret-right"></i> ANNUAL CELEBRATION FUNCTION</li>
                                        <li>
                                            <i class="fa fa-caret-right"></i> FACTORY/BRANCH/REAL ESTATE INAUGRATION
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Video Column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <h2>For Quick Demo</h2>
                    </div>
                    @{Html.RenderAction("DemoContact", "Home", new { area = "" });}
                </div>
            </div>
        </div>
    </div>
</section>

