
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afluex Multiservices LLP</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="OWNER" content="">
    <meta name="AUTHOR" content="">
    <meta name="ROBOTS" content="index,follow">

    <link rel="shortcut icon" href="~/fscss/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="~/fscss/css/custom.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="~/fscss/js/modernizr.custom.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/fscss/js/jquery.js"></script>
    <!--[if lte IE 8]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->

    <link href="~/fscss/css/Style.css" rel="stylesheet" />

</head>
<body id="main">
    <img class="bottom main-img" src="~/fscss/images/3.jpg" />
    <img class="top main-img" src="~/fscss/images/12.jpg" />

    <div class="container">
        <header>
            <div class="logo">
                <a href="/Home/Index" style="text-decoration:none;"><img src="~/fscss/images/footer_logo.png" class="logo_img" /></a>
            </div>
            <h2>Afluex is the best <span>Software Development Company</span> and <span>Advertising Agency</span> in Lucknow.</h2>
        </header>

        <section class="main">

            <ul class="ch-grid">
                <li>
                    <div class="ih-item circle effect3 bottom_to_top move-round" id="devlopment">
                        <a href="/WebSoftware/index">
                            <div class="img"><img src="~/fscss/images/sw3.gif" alt="img"></div>
                            <div class="info">
                                <h3 class="mb-2">Software <br />Development</h3>
                                <p>Website Development, Software Development, Mobile App Development, Domain & Hosting etc... </p>
                            </div>
                        </a>
                    </div>
                </li>

                <li>
                     <div class="ih-item circle effect3 bottom_to_top move-round" id="training">
                        <a href="/Home/advertising-agency">
                            <div class="img"><img src="~/fscss/images/ezgif.com-gif-maker.gif" fileExtension=".webp" alt="img"></div>
                            <div class="info">
                            
                                 <h3 class="mb-2">Advertising Agency</h3>
                                <p>Outdoor Advertising, Wall Wrap Ads, Inshop & Outdoor Branding,<br />Printing Services, etc.. </p>
                            </div>
                        </a>
                    </div>

                </li>

            </ul>
        </section>
        <div class="col-sm-12 footer_top" style="min-height:50px;margin-top:2%;">
            <h4>
                Contact: +91 <a href="tel:7310000414" class="text-white">731-0000-414</a>, <a href="tel:7310000413" class=" text-white">731-0000-413</a>, <a href="tel:7310000412" class="text-white">731-0000-412</a> &nbsp;&nbsp;<br>

                Address: D-54, 2nd Floor Arjun Tower Near Ola Office, Vibhuti Khand,<br> Lucknow, Uttar Pradesh 226010
            </h4>
            <h4> &nbsp;&nbsp;<br>Support<br> <a href="mailto:supportnow@afluex.com" class="text-decoration-none text-white">supportnow@afluex.com</a> | <a href="tel:5223550791" class="text-decoration-none text-white">+91 522-3550-791</a></h4>
        </div>
        <div class="footer_bottom col-sm-12" style="min-height:50px;margin-top:2%;">
            <h4>2021 © All Rights Reserved  | &nbsp;&nbsp;Developed By :<a href="https://afluex.com/" class="footer-link"> Afluex Multiservices LLP</a> &nbsp;&nbsp;<i class="fa fa-eye"></i> <span id="count">0</span></h4>
        </div>
    </div>


    <script type="text/javascript">
			const countEl = document.getElementById('count');

			updateVisitCount();

			function updateVisitCount() {
				fetch('https://api.countapi.xyz/update/florin-popcom/codepen/?amount=1')
				.then(res => res.json())
				.then(res => {
					countEl.innerHTML = res.value;
				})
			}
    </script>

</body>
</html>
