@model Afluex.Models.Home
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="png/jpg" href="~/AdminCss/images/logo-load1.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Login Page</title>

    <style>
        p, span, h4, h3, h2{
            font-family: 'Roboto', sans-serif;
        }
        .main-page {
            padding-bottom: 75px;
            padding-top: 40px;
        }

        .logo img {
            max-width: 50%;
        }

        .content h1 {
            color: #fff;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .content p {
            color: #fff;
        }

        .content {
            margin-top: 80px;
        }

        .main-form {
            margin-top: 80px;
            background-color: #00000061;
            padding-bottom: 50px;
        }

            .main-form h2 {
                color: #fff;
                font-weight: bold;
                margin-bottom: 40px;
                padding-top: 40px;
            }

        input#exampleInputEmail1 {
            border: 2px solid #4790b3;
            background-color: #000;
            border-left: 5px solid #4790b3;
            border-right: 5px solid #4790b3;
        }

        input#exampleInputPassword1 {
            border: 2px solid #4790b3;
            background-color: #000;
            border-left: 5px solid #4790b3;
            border-right: 5px solid #4790b3;
        }

        button.btn.btn-primary.login1 {
            padding: 5px 20px;
            font-weight: bold;
        }

        button.btn.btn-primary.get2 {
            padding: 5px 20px;
            font-weight: bold;
            margin-left: 10px;
        }

        .social-icons li a i {
            font-size: 30px;
            padding: 0px 10px;
            color: #fff;
        }



        @@media (min-width: 992px) {
            .main-page {
                padding-bottom: 75px;
                padding-top: 40px;
            }
        }
    </style>
</head>

<body>

    <div class="main-page" style="background-image:url(../../Softwarecss/images/main-slider/1.jpg);background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="logo">
                        <img src="../../Softwarecss/images/logo-load.png" class="img-responsive" alt="logo">
                    </div>
                </div>
                <div class="col-md-8 col-lg-8">
                    <div class="social-icons">
                        <ul class="list-unstyled pull-right">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/Afluex-Multiservices-LLP-1625103860914378/">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/AfluexLlp?s=17">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/afluex-multiservices-llp-35a00716b/">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://in.pinterest.com/afluex_multiservices_llp/software-development/">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://afluex.tumblr.com/">
                                    <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.reddit.com/user/afluex/posts/">
                                    <i class="fa fa-reddit" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-lg-7">
                    <div class="content">
                        <h4 style="color:white">For More Details-
                        <br/> Please contact us on <a href="tel:917310000413" class="text-white">+91 731-0000-413</a> <br /> or mail us on <a href="mailto:supportnow@afluex.com" class="text-white" target="_blank">supportnow@afluex.com</a></h4>
                        <h3 style="color:white">Cost Effective & Ease of use </h3>
                        <p class="text-justify">
                            We are among the best software development company with having a global presence. Afluex specializing in software and website development, MLM software development. Get The Best customized ERP & CRM Software. Are you looking for software and website development company in India, Call us.
                        </p>

                    </div>
                </div>
                <div class="col-md-4 col-lg-4 offset-1">
                    <div class="main-form">
                        <h2 class="text-center">Admin Login</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">

                                    @using (Html.BeginForm("LoginAction", "Home", FormMethod.Post, new { @id = "signupForm", @class = "md-float-material form-material" }))
                                    {
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id" })
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                            </div>
                                           @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Password" })
                                        </div>

                                        <div class="form-group">
                                            <p style="color: red">
                                                @TempData["Login"]
                                            </p>
                                            <br />
                                            <input type="submit" value="Login" class="btn btn-primary login1" name="btnLogin" onclick="return validateform();" />

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>

</html>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function validateform() {

        $(".errortext").removeClass("errortext");

        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();

            return false;
        }
        if ($('#Password').val() == '') {
            $("#Password").addClass('errortext');
            $('#Password').focus();

            return false;
        }
        $("#divload").css({ 'display': '' });


    }
</script>



<script>
        //window.onload = function () {
        //    document.addEventListener("contextmenu", function (e) {
        //        e.preventDefault();
        //    }, false);
        //    document.addEventListener("keydown", function (e) {
        //        //document.onkeydown = function(e) {
        //        // "I" key
        //        if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
        //            disabledEvent(e);
        //        }
        //        // "J" key
        //        if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
        //            disabledEvent(e);
        //        }
        //        // "S" key + macOS
        //        if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
        //            disabledEvent(e);
        //        }
        //        // "U" key
        //        if (e.ctrlKey && e.keyCode == 85) {
        //            disabledEvent(e);
        //        }
        //        // "F12" key
        //        if (event.keyCode == 123) {
        //            disabledEvent(e);
        //        }
        //    }, false);
        //    function disabledEvent(e) {
        //        if (e.stopPropagation) {
        //            e.stopPropagation();
        //        } else if (window.event) {
        //            window.event.cancelBubble = true;
        //        }
        //        e.preventDefault();
        //        return false;
        //    }
        //}
</script>












