
@{
    ViewBag.Title = "onlinemarketing";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_services.jpeg);">
    <div class="container">
        <h1>Online Marketing Company In Lucknow</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/advertising-agency">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Online Marketing</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="our_services">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <h2>Online Marketing</h2>
                        <h5>Online Marketing Services in Lucknow, India </h5>
                    </div>
                    <div class="services_content_details">
                        <p>Afluex is a recognized Digital Marketing Company and a leader in providing Most Useful Search Engine Optimization Services and full Internet Advertising and Marketing Service to Clients All over, India.</p>
                        <p>
                            Our Professional analysis, practice and up to date the most recent technologies & provide support to find out your strengths, weaknesses and strategize for improvements to your business. We're a creative innovation Business
                            that uses insights, design, and growth strategy to drive business value. Afluex is a complete service digital-marketing Company in Lucknow, India that takes the time to understand your company. Afluex Solutions is a complete
                            service Digital Marketing Company that offers affordable SEO, Email Marketing, SEM, SMO, social media marketing and Website Designing services in Lucknow for the organizations and offer a high level of service experience
                            in your budget.
                        </p>
                        <p>We are a search engine optimization Service Provider & help you to handle your organization's reputation in social networking Platforms.</p>
                    </div>
                </div>
            </div>

            <!-- Video Column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="services_inner_column">
                    <div class="ser_title">
                        <h2>For Quick Demo</h2>
                    </div>
                    @{Html.RenderAction("DemoContact", "Home", new { area = "" });}
                </div>
            </div>
        </div>
    </div>
</section>