
@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_title.jpg);">
   
    <div class="container">
        <h1>Our Team</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/Home.Index">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Our Team</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<div class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/alok.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">A. K. Chauhan </a></h4>
                        <p>CMO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/hemvant.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Hemvant Srivastava</a></h4>
                        <p>COO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/krishna.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">K.M Kushwaha </a></h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/ved.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Ved Prakash Singh</a></h4>
                        <p>Operation Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/arpit.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Arpit Rastogi</a></h4>
                        <p>Deputy Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/garav.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Garav Anand</a></h4>
                        <p>Sr. UI/UX Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/sachin.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sachin Mishra </a></h4>
                        <p>Sr.Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/mona.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Mona Maurya</a></h4>
                        <p>Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/madhulika.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Madhulika Kushwaha </a></h4>
                        <p>Android Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/vikram.png" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Vikram Singh</a></h4>
                        <p>Android Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/avinash.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Avinash Maurya </a></h4>
                        <p>Operation Executive</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/divya.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Divya Singh</a></h4>
                        <p>Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/himanshu.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Himanshu Chaudhary</a></h4>
                        <p>Marketing Executive</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/reena.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Reena Jais </a></h4>
                        <p>Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/sudhakar.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sudhakar Sharma </a></h4>
                        <p>Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/sandeep.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sandeep Sharma </a></h4>
                        <p>HR & Accountant</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/prabhakar.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Prabhakar kushwaha </a></h4>
                        <p>Field Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/sujeet.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Sujeet Yadav </a></h4>
                        <p>Marketing Executive</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="single_team_member text-center">
                    <div class="team_member_img">
                        <a href="#" class="team_member_img">
                            <img src="~/afluexad/images/team/shyamu.jpg" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <div class="team_member_info">
                        <h4><a href="#" class="text-decoration-none">Shyamu Yadav </a></h4>
                        <p>Office Boy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

