
@{
    ViewBag.Title = "thankyou2";
    Layout = null;
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="~/afluexit/images/favicon.png" rel="shortcut icon">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="../../afluexad/css/bootstrap.css" rel="stylesheet" />
<title>Thank You</title>
<style>
    body{
        margin: 0px;
    }
    .logo img{
            padding: 30px;
        }
        .thanku-footer.text-white.text-center {
            position: absolute;
           left: 0;
           right: 0;
            bottom: 0;
        }
        p.msg-content {
            font-size: 18px;
            font-style: italic;
        }
        .thankyou-box {
            border: 2px solid #1e5d6796;
            border-radius: 10px;
            margin: 35px;
            padding: 5%;
            background-color: #3fa4ad4d;
            box-shadow: 5px 5px 7px 1px #25636dc4;
        }
        .client-detail p {
            margin: 5px;
        }
        span.p {
            font-weight: 500;
        }
        label.panel {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 10px;
    font-style: italic;
}
</style>

<body class="thankyou-page" style="background-image: url('../afluexit/images/slider/tbg.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 col-xs-12 col-sm-12">
                <div class="main-header">
                    <div class="logo text-center">
                        <a href="/WebSoftware/index">
                            <img src="~/afluexit/images/Afluex-logo/footer_logo.png" class="img-responsive" alt="logo" />
                        </a>
                    </div>
                    <div class="thanku-section text-white d-flex justify-content-center">
                        <div class="thankyou-box">
                            <div class="text-center">
                                <h1><em>Thank You!</em></h1>
                                <p class="msg-content">For Enquiry. Our Team Will Contact You Soon !</p>
                            </div>
                            <div class="client-detail mt-3">
                                <h6>Dear XYZ, 
                                <br />This is credentials for Demo.</h6>
                                <div class="text-center"><a href='http://@Session["URL"]' target="_blank" class="btn btn-primary">Click Here For Open Demo</a></div><br />
                                <label class="panel">Admin Panel</label>
                                <div class="d-flex">
                                    <p><span class="p">Login Id : </span><span><em>Sachin Tiwari</em></span></p>&nbsp;&nbsp;
                                    <p><span class="p">Password : </span><span><em>123456</em></span></p>
                                </div>
                                <label class="panel">Associate Panel</label>
                                <div class="d-flex">
                                    <p><span class="p">Login Id : </span><span><em>Sachin Tiwari</em></span></p>&nbsp;&nbsp;
                                    <p><span class="p">Password : </span><span><em>123456</em></span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="thanku-footer text-white text-center">
                        <h6 class="mt-5">© Copyright 2017 All Rights Reserved</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </body>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="../../afluexad/js/bootstrap.min.js"></script>