@{
    ViewBag.Title = "thankyou";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/afluexad/images/favicon.png" rel="shortcut icon">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title>Thank you page</title>

    <!-- Event snippet for Contact Us conversion page -->
    <script> gtag('event', 'conversion', {'send_to': 'AW-650016590/8puWCMX11ewBEM7u-bUC'}); </script>
    <style>
        .logo {
            background-color: #173D79;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .thanku-section h5 {
            padding: 60px 0px;
            margin-bottom: 0;
        }

        .thanku-footer {
            background-color: #173D79;
            padding: 10px 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

            .thanku-footer h5 {
                color: #fff;
            }

        .main-header {
            margin: 0 auto;
            width: 60%;
        }

        .logo img {
            max-width: 180px;
            padding: 10px 0px;
        }

        .thanku img {
            margin: 0 auto;
            width: 100%;
        }

        .thanku-section {
            background-color: #fff;
        }

        .main-page1 {
            margin-bottom: 151px !important;
        }

        @@media (min-width: 1200px) {
            .main-page1 {
                margin-bottom: 62px;
            }
        }

        @@media (min-width: 992px) {
            .main-page1 {
                margin-bottom: 62px;
            }
        }

        @@media only screen and (max-width: 667px) {
            .main-header {
                margin: 0 auto;
                width: 100%;
            }

            .main-page1 {
                margin-bottom: 62px;
            }
        }
    </style>
    <style>
        .thanku-section h4 {
            padding-left: 20px;
            font-size: 20px;
        }

        .thanku-section button {
            margin-left: 20px;
        }

        .loginfor {
            margin: 0px 20px;
        }

        .thanku-footer {
            background-color: #173D79;
            padding: 10px 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

            .thanku-footer h5 {
                color: #fff;
            }

        .main-header {
            margin: 0 auto;
            width: 60%;
        }


        .thanku-section {
            background-color: #fff;
        }

        .main-page2 {
            margin-bottom: 20px !important;
        }

        @@media (min-width: 1200px) {
            .main-page2 {
                margin-bottom: 62px;
            }
        }

        @@media (min-width: 992px) {
            .main-page2 {
                margin-bottom: 62px;
            }
        }

        @@media only screen and (max-width: 667px) {
            .main-header {
                margin: 0 auto;
                width: 100%;
            }

            .main-page2 {
                margin-bottom: 62px;
            }
        }
    </style>
    <link href="~/afluexad/css/bootstrap.css" rel="stylesheet" />
</head>
<html>
<body>

    <div class="thankyou-page" style="background-image: url(../../afluexad/images/background/page_title.jpg);background-size: cover;background-repeat: no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12 col-xs-12 col-sm-12">
                    <div class="main-page1">
                        <div class="main-header">
                            <div class="logo text-center"><a href="/Home/Index">
    <img src="~/afluexad/images/logo.png" " class="img-responsive" alt="logo" />
</a>
                            </div>
                      
                            <div class="thanku-section text-center">
                                <h5>Thank you! <br>For contacting us. Our team will contact you soon !</h5>
                            </div>
                            <div class="thanku-footer text-center">
                                <h5>Afluex Multiservices LLP</h5>
                                <h5>'Our Expertise in : Advertising / IT Services'</h5>
                                <h5>Phone No : +91 731-0000-413 / 414/05223550791 Email : supportnow@afluex.com</h5>
                                <h5>Website : https://www.afluex.com/ </h5>
                            </div>
                            <h5>© Copyright 2017 All Rights Reserved</h5>
                            <div class="thanku">
                              
                                <img src="~/afluexad/images/thank-you-page.png"  class="img-responsive" alt="thank you"/>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/afluexad/js/bootstrap.min.js"></script>
</body>

</html>

